<aside id="left-panel" class="sidebar">

    <nav>

        <!--<div class="panel-body">-->
        <ul class="list-group">
            <li class="list-group-item"><a ui-sref=".users"><i class="fa fa-user"></i> Users</a></li>

            <li class="list-group-item"><a ui-sref=".doctors"><i class="fa fa-medkit"></i> Doctors</a></li>
            <li class="list-group-item"><a ui-sref=".hospitals"><i class="fa fa-hospital-o"></i> Hospitals</a></li>
            <ul>
                <!--</div>-->
    </nav>
</aside>