<section>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">{{vm.title}}</div>
        </div>

        <div class="panel-body">
            <table class="table table-responsive table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>ID</th>
                        
                    </tr>
                    <tbody>
                       <tr ng-repeat="hospital in vm.hospitals" ui-sref="admin.hospitalDetail">
                            <td>{{hospital.Name}}</td>
                            <td>{{hospital.Id}}</td>
                        
                        </tr>
                    </tbody>
                </thead>
            </table>
        </div>
</section>