
<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Practice Detail</h3>
</div>
<div class="modal-body" id="modal-body">
   
            <form action="">
                <div class="form-group"><label for="">Name</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Address</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">City</label>
                    <input type="text" class="form-control">
                </div>

            </form>
   </div>
</div>
<div class="modal-footer">
    <div class="btn-group">
        <button class="btn btn-default">Save</button>
        <button class="btn btn-default">Cancel</button>
        </div>
</div>


