<fieldset>
    <legend>Practices</legend>
    <table class="table table-striped table-responsive table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Id</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="practice in vm.practices" ng-click="vm.open(practice)">
                <td>{{practice.name}}</td>
                <td>{{practice.id}}</td>
            </tr>
        </tbody>
    </table>
</fieldset>

<div class="panel panel-default">
    <div class="panel-heading">
    <div class="panel-title">Practices</div>
    </div>
        <table class="table table-striped table-responsive table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Id</th>
                </tr>
            </thead>
            <tbody>
            <tr ng-repeat="practice in vm.practices" ng-click="vm.open(practice)">
                <td>{{practice.name}}</td>
                <td>{{practice.id}}</td>
            </tr>
        </tbody>
    </table>

</div>