<div class="panel panel-default">
    <div class="panel-heading">
    <div class="panel-title">Surgeons</div>
    </div>
        <table class="table table-striped table-responsive table-bordered">
        <thead>
            <tr>
                <th>Last Name</th>
                <th>First Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Satriani</td>
                <td>Joseph</td>
                <td></td>
            </tr>
             <tr>
                <td>Carlos</td>
                <td>John</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>