<div class="modal-header">
    <button type="button" class="btn btn-os close" aria-label="Close" ng-click="$ctrl.cancel()">
        <i class="icon icon-close"></i>
    </button>
    <h4 class="modal-title">Edit Procedure</h4>
</div>
<div class="modal-body">    
    <form class="form-horizontal">
        
        <div class="form-group">
            <label class="col-sm-3 control-label">Laterality</label>
            <div class="col-sm-8">
                <input type="radio" name="laterality" id="laterality-left" value="Left" ng-model="$ctrl.procedureData.laterality"/><label for="laterality-left">Left</label>
                <input type="radio" name="laterality" id="laterality-right" value="Right" ng-model="$ctrl.procedureData.laterality"/><label for="laterality-right">Right</label>
			</div><!-- / .col-sm-8 -->
        </div><!-- / .form-group -->
        <div class="form-group">
            <label for="case-surgeon" class="col-sm-3 control-label">Surgeon</label>
            <div class="col-sm-8">
                <div class="select">
                    <select id="case-surgeon" ng-model="$ctrl.procedureData.physician">
                        <option ng-repeat="surgeon in $ctrl.surgeons" value="{{surgeon.id}}">{{surgeon.name}}</option>
                    </select>
                </div><!-- / .select -->
            </div><!-- / .col-sm-8 -->
        </div><!-- / .form-group -->
        <div class="form-group">
            <label for="new-case-procedure-date" class="col-sm-4 control-label">Procedure Date</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" 
                placeholder="MM/DD/YYYY" 
                style="background-color:white; width:150px;height:38px;margin-left:-2px;" datetime-picker="MM/dd/yyyy" enable-time="false" 
                ng-model="$ctrl.procedureData.procedureDateString" 
                is-open="$ctrl.popup.opened" 
                datepicker-options="$ctrl.dateOptions" 
                ng-required="true" 
                close-text="Close" 
                ng-click="$ctrl.open()" />  
                <button type="button" class="btn btn-os" ng-click="$ctrl.open()"><i class="fa fa-calendar"></i></button>
            </div>
        </div>
        <div class="form-group">
            <label for="case-type" class="col-sm-3 control-label">Anesthesia Type</label>
            <div class="col-sm-8">
                <div class="select">
                    <select id="anesthesia-type" ng-model="$ctrl.procedureData.anesthesiaType">
                        <option value="General">General</option>
                        <option value="Epidural">Epidural</option>
                        <option value="Other">Other</option>
                    </select>
                </div><!-- / .select -->
            </div><!-- / .col-sm-8 -->
        </div><!-- / .form-group -->
        <div class="form-group">
            <label class="col-sm-3 control-label">Consent</label>
            <div class="col-sm-8">
                <input type="radio" name="consent" id="consent-yes" value="1" ng-model="$ctrl.procedureData.patientConsentObtained"/><label for="consent-yes">Yes</label>
                <input type="radio" name="consent" id="consent-no" value="0" ng-model="$ctrl.procedureData.patientConsentObtained"/><label for="consent-no">No</label>
			</div><!-- / .col-sm-8 -->
        </div><!-- / .form-group -->
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-os btn-os-primary" ng-click="$ctrl.cancel()">
        <span>Cancel</span>
    </button>
    <button type="button" class="btn btn-os btn-os-default ladda-button" data-style="zoom-in" data-spinner-color="White" ng-click="$ctrl.updateProcedure()">
        <span>Update Procedure</span>
    </button>
</div>
<script>Ladda.bind('.modal-footer button');</script>