﻿<div class="container-fluid content test">
    <div class="row" style="padding-left:0px;" ng-if="!$ctrl.isAdmin || !$ctrl.user.userProfile == orthosensor.domains.UserProfile.HospitalAdmin">
        <div ng-class="$ctrl.standardDashboardWidgetSize">
            <div class="panel panel-warning">
                <div class="panel-body text-center">
                    <span style="font-size:1.1em">Appointments next week  <span class="badge">{{$ctrl.patientsScheduled}}</span></span>
                </div>
            </div>
        </div>
        <div ng-class="$ctrl.standardDashboardWidgetSize">
            <div class="panel panel-danger">
                <div class="panel-body text-center">
                    <span style="font-size:1.1em">{{$ctrl.patientsUnderBundleTitle}}  <span class="badge">{{$ctrl.patientsUnderBundleCount}}</span></span>
                </div>
            </div>
        </div>
        <div ng-class="$ctrl.standardDashboardWidgetSize" ng-show="$ctrl.systemMode == 'development'">
            <div class="panel panel-info">
                <div class="panel-body text-center">
                    <span style="font-size:1.1em">Patients out of compliance <span class="badge">2</span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-left">
        <div ng-class="$ctrl.standardComponentSize">
            <os-case-activity-chart></os-case-activity-chart>
        </div>
        <div ng-class="$ctrl.standardComponentSize">
            <os-patient-phase-count chartType="bar"></os-patient-phase-count>
        </div>
        <div ng-class="$ctrl.standardComponentSize" ng-if="!$ctrl.isAdmin || $ctrl.user.userProfile == orthosensor.domains.UserProfile.HospitalAdmin">
            <os-knee-balance-data chartType2="line"></os-knee-balance-data>
        </div>
        <div ng-class="$ctrl.standardComponentSize" ng-if="!$ctrl.isAdmin || $ctrl.user.userProfile == orthosensor.domains.UserProfile.HospitalAdmin">
            <os-mean-change-in-prom-score></os-mean-change-in-prom-score>
        </div>

        <div ng-class="$ctrl.standardComponentSize" ng-if="!$ctrl.isAdmin || $ctrl.user.userProfile == orthosensor.domains.UserProfile.HospitalAdmin">
            <os-patients-under-bundle></os-patients-under-bundle>
        </div>

        <div ng-class="$ctrl.standardComponentSize" ng-if="!$ctrl.isAdmin || $ctrl.user.userProfile == orthosensor.domains.UserProfile.HospitalAdmin">
            <os-scheduled-patients></os-scheduled-patients>
        </div>
    </div>
    <div class="row text-left" ng-show="$ctrl.systemMode == 'development'">
        <div ng-class="$ctrl.standardComponentSize" ng-if="!$ctrl.isAdmin">
            <os-patients-out-of-compliance></os-patients-out-of-compliance>
        </div>
        <div ng-class="$ctrl.standardComponentSize" ng-if="!$ctrl.isAdmin"></div>
        <div ng-class="$ctrl.standardComponentSize" ng-if="!$ctrl.isAdmin"></div>
    </div>

    <footer class="footer" ng-show="$ctrl.systemMode=='development'">
        <form class="form-inline">
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label">User Name</label>
                    <p class="form-control-static">{{$ctrl.user.name}}</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label">User Type</label>
                    <p class="form-control-static">{{$ctrl.user.userType}}</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label">User Profile</label>
                    <p class="form-control-static">{{$ctrl.user.userProfile}}</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label">Record Type</label>
                    <p class="form-control-static">{{$ctrl.user.recordType}}</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label">Account Name</label>
                    <p class="form-control-static">{{$ctrl.user.accountName}}</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label">Hospital Name</label>
                    <p class="form-control-static">{{$ctrl.user.hospitalName}}</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label">System Mode</label>
                    <p class="form-control-static">{{$ctrl.systemMode}}</p>
                </div>
            </div>
        </form>
    </footer>
</div>