
	<div class="row-title">
		<h4>Implant</h4>

		<div class="input-group" ng-show="implantEntryType=='$ctrl.manual'">
			<span class="input-group-btn">
                        <select ng-model="$ctrl.implantEntryType"  class="form-control" style="background-color:white;height:38px;margin-left:-2px;width:110px;z-index:0;margin-right:20px">
                        	<option value="barcode">Barcode</option>
                            <option value="manual">Keyboard</option>
                        </select> 
                        </span>
			<input type="text" id="ProductNumber" ng-model="$ctrl.selectedProduct.Name" placeholder="Product Number" style="height:38px;z-index:0"
				uib-typeahead="product as product.Product_Number_and_Name__c for product in $ctrl.products | filter:{Name:$viewValue}" class="form-control"
				typeahead-editable="false" typeahead-on-select="$ctrl.onSelectProduct($item, $model, $label)" typeahead-show-hint="true" typeahead-min-length="1"
			/>
			<span class="input-group-btn" style="width:0px;"></span>
			<input type="text" class="form-control" Placeholder="Lot #" style="height:38px;margin-left:-1px;z-index:0" id="lotNumber"
				ng-model="lotNumber" />
			<span class="input-group-btn" style="width:0px;"></span>
			<span class="input-group-btn">
                            <select ng-model="month"  class="form-control" style="background-color:white;height:38px;margin-left:-2px; width:110px;z-index:0" ng-options="currMonth.key as currMonth.value for currMonth in $ctrl.expMonths"></select>
                        </span>
			<span class="input-group-btn">
                            <select ng-model="year"  class="form-control" style="background-color:white;height:38px;margin-left:-2px;width:110px;z-index:0" ng-options="currYear.key as currYear.value for currYear in $ctrl.expYears"></select> 
                        </span>
			<span class="input-group-btn">
                            <button type="button" class="btn btn-os btn-os-primary ladda-button implant-btn" data-style="zoom-in" data-spinner-color="DeepSkyBlue" style="margin-top:0px;z-index:0" ng-click="$ctrl.checkAndSaveImplantBarcode();">
                                <span>Add Implant</span> <i class="icon icon-c-add"></i>
			</button>
			</span>
			<script>Ladda.bind('.input-group-btn button');</script>
		</div>

		<div class="input-group" style="width:800px;" ng-show="$ctrl.implantEntryType=='barcode'">
			<span class="input-group-btn">
                        <select ng-model="implantEntryType"  class="form-control" style="background-color:white;height:38px;margin-left:-2px;width:110px;z-index:0;margin-right:20px">
                        	<option value="barcode">Barcode</option>
                            <option value="manual">Keyboard</option>
                        </select> 
                        </span>
			<input type="text" class="form-control" Placeholder="First Barcode" style="height:38px;z-index:0" ng-model="firstbar" id="firstbar"
				ng-keypress="$ctrl.isEnterKeyPressed($event)" />
			<span class="input-group-btn" style="width:0px;"></span>
			<input type="text" class="form-control" Placeholder="Second Barcode" style="height:38px;margin-left:-1px;z-index:0" id="secondbar"
				ng-model="secondbar" ng-focus="$ctrl.checkAndSaveImplantBarcode()" />
			<span class="input-group-btn" style="width:0px;"></span>
			<span class="input-group-btn">
                            <select ng-model="month"  class="form-control" style="background-color:white;height:38px;margin-left:-2px; width:110px;z-index:0" ng-options="currMonth.key as currMonth.value for currMonth in expMonths"></select>
                        </span>
			<span class="input-group-btn">
                            <select ng-model="year"  class="form-control" style="background-color:white;height:38px;margin-left:-2px;width:110px;z-index:0" ng-options="currYear.key as currYear.value for currYear in $ctrl.expYears"></select> 
                        </span>
			<span class="input-group-btn">
                            <button type="button" class="btn btn-os btn-os-primary ladda-button implant-btn" data-style="zoom-in" data-spinner-color="DeepSkyBlue" style="margin-top:0px;z-index:0" ng-click="$ctrl.checkAndSaveImplantBarcode();">
                                <span>Add Implant</span> <i class="icon icon-c-add"></i>
			</button>
			</span>
			<script>Ladda.bind('.input-group-btn button');</script>
		</div>
	</div>
	<!-- / .row-title -->
	<div class="col-xs-12">
		<table class="table table-os">
			<thead>
				<tr>
					<th>Manufacturer</th>
					<th>Product #</th>
					<th>Product Name</th>
					<th>Lot #</th>
					<th>Expiration</th>
					<th>Status</th>
					<th class="action">Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="implant in $ctrl.event.Implant_Components__r">
					<td>{{implant.Manufacturer__c}}</td>
					<td>{{implant.Product_Catalog_Id__r.Name}}</td>
					<td>{{implant.Product_Catalog_Id__r.Product_Name__c}}</td>
					<td>{{implant.Lot_Number__c}}</td>
					<td>{{implant.Expiration_Date__c | date: 'MM/yyyy'}}</td>
					<td>
						<div class="select"><select>
                                    <option>{{implant.Status__c}}</option>
                                    </select></div>
					</td>
					<td class="action">
						<button type="button" class="btn btn-os" ng-click="$ctrl.deleteImplant(implant)">
                                        <i class="fa fa-remove"></i>
                                    </button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- / .col-xs-12 -->
</div>