<div class="row row-separator">
	<div class="row-title">
		<h4>Survey</h4>
	</div>
	<!-- / .row-title -->
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-12 col-sm-2 col-sm-offset-0" ng-repeat="survey in $ctrl.surveys">
				<div class="panel panel-default">
					<div class="panel-body text-center">
						<div style="vertical-align: middle;">
							<!--<i class="fa fa-file"></i>-->
							<h5>{{survey.Name__c}}</h5>
						</div>

						<div class="">
							<div style="vertical-align: middle;">
								<span class="text-center completedSurvey"  ng-show="survey.Completed==true">Completed: {{survey.EndDate |  date:'shortDate'}}</span>
							</div>
						</div>
						<div class="">
							<button type="button" class="btn btn-os btn-info btn-block" style="margin-bottom:6px;" ng-click="$ctrl.sendQRCode($ctrl.escapeURL(survey.Survey_URL__c))">
                        <span>Send Survey</span> 
						<i class="fa fa-send"></i>
            			</button>
						</div>
						<div class="">
							<button type="button" class="btn btn-os btn-os-primary btn-block" style="margin-bottom:6px;" ng-click="$ctrl.openQRCode($ctrl.escapeURL(survey.Survey_URL__c))">
                        <span>{{survey.Completed==true ? 'Retake Survey' : 'Take Survey'}}</span> 
						<i class="fa fa-tasks"></i>
            			</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
