<div class="container-fluid content test">
    <div class="row">
        <div class="col-sm-2">
            <h4>Patient Info</h4>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">Patient Info</div>
                </div>
                <div class="panel-body">
                    <div class="form-group form-group-sm"><label for="">DOB</label>{{$ctrl.dateOfBirth}}</div>
                    <div class="form-group form-group-sm"><label for="">Medical Record #</label></div>
                    <div class="form-group form-group-sm"><label for="">Sex</label></div>
                    <div class="form-group form-group-sm"><label for="">Patient #</label></div>
                    <div class="form-group form-group-sm"><label for="">Email</label></div>
                    <div class="form-group form-group-sm"><label for="">Language</label></div>
                    <div class="form-group form-group-sm"><label for="">Account #</label></div>

                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">Risk Factors</div>
                </div>
                <div class="panel-body">
                    <div>Weight:</div>
                    <div>BMI:</div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <h4>Case Info</h4>
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">Procedure Info</div>
                    </div>
                    <div class="panel-body">
                        <os-procedure-info></os-procedure-info>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">Sensor Info</div>
                    </div>
                    <div class="panel-body"></div>

                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">Implants</div>
                    </div>
                    <div class="panel-body"></div>

                </div>
            </div>
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">Load Balances</div>
                    </div>
                    <div class="panel-body"></div>

                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <h4>Time Line</h4>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">Prom / Follow Up</div>
                </div>
                <div class="panel-body"></div>

            </div>
        </div>
    </div>
</div>