<div class="container-fluid content test">
    <div class="row" style="padding-left:0px;">
        <div class="col-sm-12">
            <button class="btn btn-default" ui-sref="patientTest">Patient Testı</button>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-warning">
                <div class="panel-body text-center">
                    <span style="font-size:1.1em">Appointments next week <span class="badge">{{$ctrl.patientsScheduled}}</span></span>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-danger">
                <div class="panel-body text-center">
                    <span style="font-size:1.1em">{{$ctrl.patientsUnderBundleTitle}}<span class="badge">{{$ctrl.patientsUnderBundleCount}}</span></span>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-info">
                <div class="panel-body text-center">
                    <span style="font-size:1.1em">Patients out of compliance <span class="badge">6</span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="col-sm-12">
                <os-case-activity-chart></os-case-activity-chart>
            </div>
            <div class="col-sm-12">
                <os-patient-phase-count chartType="bar"></os-patient-phase-count>
            </div>

            <div class="col-sm-12">
                <os-knee-balance-data chartType2="line"></os-knee-balance-data>
            </div>
            <div class="col-sm-12">
                <os-mean-change-in-prom-score></os-mean-change-in-prom-score>
            </div>
        </div>


        <div class="col-sm-4">
            <os-scheduled-patients></os-scheduled-patients>
        </div>
        <div class="col-sm-4">
            <os-patients-under-bundle></os-patients-under-bundle>

            <div class="col-sm-12" ng-if="!$ctrl.isAdmin">
                <os-patients-out-of-compliance></os-patients-out-of-compliance>
            </div>

        </div>
        <!--<div class="row">
            <os-patient-list-filter></os-patient-list-filter>
        </div>-->

    </div>