<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            <a ng-show="!patient.isAnonymous" ng-click="$ctrl.patientDetails($ctrl.patient)">{{$ctrl.patient.patientName}}</a>
            <a ng-show="patient.isAnonymous" ng-click="$ctrl.patientDetails($ctrl.patient)">{{$ctrl.patient.anonymousLabel}}</a>
        </div>
        <div class="panel-body">
            <div class="panel-right"><label>Procedure Date </label><strong> {{$ctrl.patient.procedureDate|date:'shortDate'}}</strong></div>
            <br>
            <table class="table table responsive table-condensed">
                <thead>
                    <tr>
                        <th>Flex</th>
                        <th>Medial</th>
                        <th>Lateral</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{$ctrl.tenDegree}}</td>
                        <td class="text-center">{{$ctrl.patient.medial10}}</td>
                        <td class="text-center">{{$ctrl.patient.lateral10}}</td>
                    </tr>
                    <tr>
                        <td>{{$ctrl.fortyFiveDegree}}</td>
                        <td class="text-center">{{$ctrl.patient.medial45}}</td>
                        <td class="text-center">{{$ctrl.patient.lateral45}}</td>
                    </tr>
                    <tr>
                        <td>{{$ctrl.ninetyDegree}}</td>
                        <td class="text-center">{{$ctrl.patient.medial90}}</td>
                        <td class="text-center">{{$ctrl.patient.lateral90}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>