<div class="panel panel-default dashboard-card">
    <div class="panel-heading">
        <div class="panel-title">
            <span ng-show="$ctrl.isUserAdmin">{{$ctrl.title}}</span>
            <span ng-show="!$ctrl.isUserAdmin">{{$ctrl.title}}</span>

        </div>
    </div>
    <div class="panel-body">
        <nav class="navbar navbar-default" ng-show="$ctrl.showSurgeonList || $ctrl.showPracticeList || $ctrl.isUserAdmin">
            <form class="navbar-form navbar-left" ng-show="$ctrl.isUserAdmin"> <label for="listHospitals">Hospital</label>
                <div class="form-group form-group-sm">
                    <select id="listHospitals" ng-options="hospital.name for hospital in $ctrl.hospitals" name="hospital" ng-model="$ctrl.hospital"
                        value="hospitals" class="form-control input-sm" placeholder="Hospital" ng-change="$ctrl.setHospital(hospital.id)">
                    </select>
                </div>
            </form>
            <form class="navbar-form navbar-left" ng-show="$ctrl.showPracticeList">
                <div class="form-group form-group-sm"> <label for="listPractices">Practice</label>
                    <select id="listPractices" ng-options="practice.name for practice in $ctrl.practices | filter: {parentId: $ctrl.hospital.id}"
                        name="practice" ng-model="$ctrl.practice" value="practices" class="form-control input-sm" placeholder="Practice"
                        ng-change="$ctrl.getChart(practice)">
                    </select>
                </div>
            </form>

            <form class="navbar-form navbar-left" ng-show="$ctrl.showSurgeonList">
                <div class="form-group form-group-sm"> <label for="listSurgeons">Surgeons</label>
                    <select id="listSurgeons" ng-options="surgeon.name for surgeon in $ctrl.surgeons | filter: {parentId: $ctrl.practice.id}"
                        name="surgeon" ng-model="$ctrl.surgeon" value="surgeon" ng-disabled="practice == 'All'" class="form-control input-sm"
                        placeholder="Surgeon" ng-change="$ctrl.getChart(surgeon)">
                    </select>
                </div>
            </form>
            <form class="navbar-form navbar-left" ng-show="$ctrl.isUserAdmin">
                <div class="form-group form-group-sm">
                    <label for="listMonths">Months</label>
                    <select id="listMonths" name="month" ng-model="$ctrl.monthsToChart" value="months" class="form-control input-sm" placeholder="months"
                        ng-change="$ctrl.getChart(surgeon)">
                        <option>1</option>
                        <option value=2>2</option>
                        <option value=3>3</option>
                        <option value=4>4</option>
                        <option value=5>5</option>
                        <option value=6>6</option>
                        <option value=7>7</option>
                        <option value=8>8</option>
                        <option value=9>9</option>
                        <option value=10>10</option>
                        <option value=11>11</option>
                        <option value=12>12</option>
                    </select>
                </div>
            </form>
        </nav>
        <!--<div google-chart chart="$ctrl.caseActivityChart" >-->
        <div class="row">
            <nvd3 options="$ctrl.options" data="$ctrl.data" api="api" interactive="true" ui-sref="reports.kneeBalanceChart"></nvd3>
        </div>

    </div>
</div>
</div>