<!--<div class="col-sm-12 col-sx-12">-->
    <div class="row">
        <div ng-repeat="patient in $ctrl.patients" class="col-sm-3 col-xs-12">
            <os-knee-balance-patient-card patient="patient"></os-knee-balance-patient-card>
        </div>
    </div>
<!--</div>-->