<div class="suggestions" ng-show="$ctrl.patientSearchValue.length > 2" ng-class="{'multi-sources': $ctrl.patientSearchValue !== ''}">
    <div id="existing-patients" class="title active" ng-click="activeTab = 'existing-patients'" ng-class="{'active': activeTab === 'existing-patients'}">Existing Patients ({{$ctrl.searchPatientResults.length}})</div>
    <div id="hl7-patients" class="title" ng-click="activeTab = 'hl7-patients'" ng-class="{'active': activeTab === 'hl7-patients'}">HL7 Patients ({{$ctrl.searchHL7PatientResults.length}})</div>

    <ul ng-show="$ctrl.patientSearchValue !== '' && activeTab === 'existing-patients'" ng-class="{'active': activeTab === 'existing-patients'}">
        <li ng-repeat="result in $ctrl.searchPatientResults">
            <span ng-show="!result.Anonymous__c">
                <span class="patient-name matching" ng-click="$ctrl.searchPatientSelected(result)">{{result.Last_Name__c}}, {{result.First_Name__c}} {{result.Middle_Initial__c}}</span>
            <span class="dob">{{result.Gender__c}} - {{result.Date_Of_Birth__c | date: 'shortDate'}}</span><span class="patient-number">{{result.Medical_Record_Number__c}}</span></span>
            <span ng-show="result.Anonymous__c"><span class="patient-name matching" ng-click="$ctrl.searchPatientSelected(result)">{{result.Anonymous_Label__c}} (Anonymous)</span>
            <span class="dob">{{result.Gender__c}} - {{result.Anonymous_Year_of_Birth__c}}</span><span class="patient-number">{{result.Medical_Record_Number__c}}</span></span>
        </li>
    </ul>
    <ul ng-show="$ctrl.patientSearchValue !== '' && activeTab === 'hl7-patients'" ng-class="{'active': activeTab === 'hl7-patients'}">
        <li ng-repeat="result in $ctrl.searchHL7PatientResults"><i class="fa fa-rss HL7-icon"></i> <span class="patient-name matching" ng-click="$ctrl.searchHL7PatientSelected(result)">{{result.Patient_Last_Name__c}}, {{result.Patient_First_Name__c}} {{result.Patient_Middle_Initial__c}}</span>
            <span class="dob">{{result.Patient_Gender__c}} - {{result.Patient_Date_Of_Birth__c | date: 'shortDate'}}</span><span
                class="patient-number">{{result.Medical_Record_Number__c}}</span></li>
    </ul>
</div>