<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img alt="Brand" ng-src="{{$ctrl.logo}}"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
           
            <ul class="nav navbar-nav">

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{$ctrl.currentHospital}} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Hospital A</a></li>
                        <li><a href="#">Hospital B</a></li>
                    </ul>
                </li>
                <!--<li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Surgeon<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Marcus Welby</a></li>
                        <li><a href="#">Umakesus Sickby</a></li>
                    </ul>
                </li>-->
            </ul>
             <form class="navbar-form navbar-left">
                <div class="form-group form-group-sm">
                    <label>Surgeon</label>
                    <select class="form-control">
                        <option selected value="All">All</option>
                        
                        <option value="Last 3 months">Marcus Welby</option>
                        <option value="Last 3 months">Samantha Jones</option>
                        <option value="Last 3 months">Leonard McCoy</option>
                    </select>
                </div>
            </form>
            <form class="navbar-form navbar-left">
                <div class="form-group form-group-sm">
                    <label>Procedure Start:</label>
                    <select class="form-control">
                        <option selected value="Last Week">Last Week</option>
                        <option selected value="Last Month">Last month</option>
                        <option value="Last 3 months">Last 3 months</option>
                        <option value="Last 3 months">Next week</option>
                        <option value="Last 3 months">Next month</option>
                    </select>
                </div>
            </form>
            <form class="navbar-form navbar-left">
                <div class="form-group form-group-sm">
                    <input type="text" class="form-control" placeholder="Search">
                </div>

            </form>
            <!--<form class="navbar-form navbar-left">
                <div class="form-group">
                    <label>Procedure End:</label>
                    <select class="form-control"></select>
                </div>

            </form>-->
            <ul class="nav navbar-nav navbar-right">
                <!--<li><a href="#">Link</a></li>-->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Joseph Shmoe<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>