<!-- PATIENT-LIST-CONTENT -->
<style>
	input[type="text"]::-ms-clear {
		display: none;
	}
</style>
<div id="patient-list-content" class="content">
	<div class="flex container-fluid">
		<div class="left">
			<h3>Patient List</h3>
			<div style="font-weight:bold;font-size:1.1em;">
				<label>Hospital</label> <span class="form-control-static strong" style="padding-right:8px;"> {{$ctrl.currentHospitalName}}</span>
				<label ng-show="$ctrl.currentPracticeName != ''">Practice </label> <span class="form-control-static"> {{$ctrl.currentPracticeName}}</span>
				<a href="#" class="btn btn-link btn-sm" ng-if="$ctrl.canChangeHospitalPracticeView" ng-click="$ctrl.openHospitalFilter();">(Change)</a>
			</div>
		</div>
		<!--<os-hospital-practice hospital="$ctrl.currentHospitalName" practice="$ctrl.currentPracticeName"></os-hospital-practice>-->

		<!--<div class="right large-search" style="z-index:1">
			<input type="text" placeholder="Patient Search" ng-model="$ctrl.patientSearchValue" ng-class="{'s-active': $ctrl.patientSearchValue !== ''}"
			 ng-keyup="$ctrl.searchPatients()" />
			<button type="button" class="btn btn-os" ng-click="$ctrl.resetSearch()">
                <i class="icon icon-close" ng-show="$ctrl.patientSearchValue !== ''" ></i>
                <i class="icon icon-search" ng-show="$ctrl.patientSearchValue === ''"></i>
            </button>
			<div class="suggestions" ng-show="$ctrl.patientSearchValue.length > 2" ng-class="{'multi-sources': $ctrl.patientSearchValue !== ''}">
				<div id="existing-patients" class="title active" ng-click="activeTab = 'existing-patients'" ng-class="{'active': activeTab === 'existing-patients'}">Existing Patients ({{$ctrl.searchPatientResults.length}})</div>
				<div id="hl7-patients" class="title" ng-click="activeTab = 'hl7-patients'" ng-class="{'active': activeTab === 'hl7-patients'}">HL7 Patients ({{$ctrl.searchHL7PatientResults.length}})</div>

				<ul ng-show="$ctrl.patientSearchValue !== '' && activeTab === 'existing-patients'" ng-class="{'active': activeTab === 'existing-patients'}">
					<li ng-repeat="result in $ctrl.searchPatientResults">
						<span ng-show="!result.Anonymous__c"><a class="btn btn-link patient-name matching" ng-click="$ctrl.searchPatientSelected(result)">{{result.Last_Name__c}}, {{result.First_Name__c}} {{result.Middle_Initial__c}}</a>
						<span class="dob tex-center">{{result.Gender__c}} - {{result.Date_Of_Birth__c | date: 'shortDate'}}</span>
						<span class="patient-number text-center">{{result.Medical_Record_Number__c}}</span>
						</span>
						<span ng-show="result.Anonymous__c"><span class="patient-name matching" ng-click="$ctrl.searchPatientSelected(result)">{{result.Anonymous_Label__c}} (Anonymous)</span>
						<span class="dob">{{result.Gender__c}} - {{result.Anonymous_Year_of_Birth__c}}</span><span class="patient-number">{{result.Medical_Record_Number__c}}</span></span>
					</li>
				</ul>
				<ul ng-show="$ctrl.patientSearchValue !== '' && activeTab === 'hl7-patients'" ng-class="{'active': activeTab === 'hl7-patients'}">
					<li ng-repeat="result in $ctrl.searchHL7PatientResults"><i class="fa fa-rss HL7-icon"></i> <a class="btn btn-link patient-name matching" ng-click="$ctrl.searchHL7PatientSelected(result)">{{result.Patient_Last_Name__c}}, {{result.Patient_First_Name__c}} {{result.Patient_Middle_Initial__c}}</a>
						<span class="dob">{{result.Patient_Gender__c}} - {{result.Patient_Date_Of_Birth__c | date: 'shortDate'}}</span>
						<span class="patient-number">{{result.Medical_Record_Number__c}}</span>
					</li>
				</ul>
			</div>
		</div>-->
	</div>
	<div class="" style="padding-left:12px; margin-right:12px;">
		<nav class="navbar navbar-default">
			<!--<div class="col-xs-12">-->
			<form class="navbar-form navbar-left col-sm-3">

				<button type="button" class="btn btn-default" ng-click="$ctrl.addNewPatient()">
                    <span>Add a Patient</span> <i class="icon icon-add-person"></i>
                </button>

			</form>

			<!--<div class="filter">
					<div id="patients-list-filter" class="custom-drop-down">
						<button type="button" class="btn btn-os btn-os-primary" ng-click="$ctrl.toggleFilter()">
                            <span>Filter By</span> <i class="icon icon-download-bars"></i>
                        </button>
						<div class="backdrop" ng-class="{'open': filterOpen}" ng-click="$ctrl.closeFilter()"></div>
						<ul class="level1" ng-class="{'open': filterOpen}">

							<li>
								<div>
									<a ng-hide="$ctrl.filterDrillDown == true" ng-click="$ctrl.drillDownFilter()"><i class="fa fa-chevron-right"></i> Surgeon</a>
									<ul ng-show="$ctrl.filterDrillDown">
										<li class="back" ng-click="$ctrl.drillUpFilter()">
											<a><i class="fa fa-chevron-left pull-left"></i>Back</a>
										</li>
										<li ng-repeat="surgeon in $ctrl.surgeons">
											<a ng-click="$ctrl.filterClicked('surgeon', surgeon, $event)" ng-class="{'active':surgeonFilters.indexOf(surgeon)!=-1}"><i class="fa fa-check"></i>{{surgeon.Surgeon__r.Name}}</a>
										</li>
									</ul>
								</div>
							</li>

							<li>
								<div ng-hide="$ctrl.filterDrillDown == true">
									<a ng-click="$ctrl.filterClicked('source', 'Existing', $event)"><i class="fa fa-check"></i>Existing Patients</a>
								</div>
							</li>
							<li>
								<div ng-hide="$ctrl.filterDrillDown == true">
									<a ng-click="$ctrl.filterClicked('source', 'Scheduled', $event)"><i class="fa fa-check"></i>Scheduled Patients</a>
								</div>
							</li>

							<li>
								<div ng-hide="$ctrl.filterDrillDown == true">
									<a ng-click="$ctrl.filterClicked('date', '', $event)"><i class="fa fa-check"></i>Procedure Date</a>
									<br/><br/>
									<input type="hidden" datetime-picker="MM/dd/yyyy" enable-time="false" ng-model="$ctrl.procedureDateFilterValue" is-open="$ctrl.procedureDateFilter"
									 datepicker-options="$ctrl.dateOptions" />
								</div>
							</li>


						</ul>
					</div>-->
			<!-- / .dropdown -->

			<!--<div class="filter-labels">
						<div class="filter-label date" style="margin-right:5px;" ng-show="$ctrl.sourceFilter=='Existing'">
							<span>Existing Patients</span>
						</div>

						<div class="filter-label date" style="margin-left:10px;margin-right:5px;" ng-show="$ctrl.sourceFilter=='Scheduled'">
							<span>Scheduled Patients</span>
						</div>

						<div class="filter-label surgeon" style="margin-right:5px;" ng-repeat="filter in $ctrl.surgeonFilters">
							<span>{{filter.Surgeon__r.Name}}</span> <button type="button" class="button clear" ng-click="$ctrl.removeSurgeonFilter(filter)"><i class="fa fa-close"></i></button>
						</div>

						<div class="filter-label stage" style="margin-right:5px;" ng-show="$ctrl.procedureDateFilterValue">
							<span>{{procedureDateFilterValue | date:'longDate'}}</span>
							<button type="button" class="button clear" ng-click="$ctrl.removeDateFilter()">
								<i class="fa fa-close"></i></button>
						</div>

					</div>-->
			<!-- / .labels -->

			<!--</div>-->
			<!-- / .filter -->
			<form class="navbar-form navbar-left">
				<div class="form-group form-group-sm">
					<label class="control-label col-sm-3" style="padding-top:6px;">Surgeon  </label>
					<div class="col-sm-3">
						<select class="form-control input-sm" ng-options="surgeon.name for surgeon in $ctrl.surgeons | filter: {parentId: $ctrl.practice.id}"
						 name="surgeon" ng-model="$ctrl.surgeon" value="surgeon" ng-disabled="practice == 'All'" class="form-control input-sm"
						 placeholder="Surgeon" ng-change="$ctrl.filterClicked('surgeon', $ctrl.surgeon, $event)">

						</select>
					</div>
				</div>

			</form>
			<!--<form class="navbar-form navbar-left">
				<div class="form-group form-group-sm">
					<label>Procedure Start:</label>
					<select class="form-control">
						<option selected value="Last Week">Last Week</option>
						<option selected value="Last Month">Last month</option>
						<option value="Last 3 months">Last 3 months</option>
						<option value="Last year">Next week</option>
						<option value="Last 3 months">Next month</option>
						</selectı>
				</div>
			</form>-->
			<form class="navbar-form navbar-right" style="margin-right:24px;">
				<div class="large-search">
					<input type="text" placeholder="Patient Search" ng-model="$ctrl.patientSearchValue" class="form-control" ng-class="{'s-active': $ctrl.patientSearchValue !== ''}"
					 ng-keyup="$ctrl.searchPatients()" />
					<button type="button" class="btn btn-os" ng-click="$ctrl.resetSearch()">
                <i class="icon icon-close" ng-show="$ctrl.patientSearchValue !== ''" ></i>
                <i class="icon icon-search" ng-show="$ctrl.patientSearchValue === ''"></i>
            </button>
					<div class="suggestions" ng-show="$ctrl.patientSearchValue.length > 2" ng-class="{'multi-sources': $ctrl.patientSearchValue !== ''}">
						<div id="existing-patients" class="title active" ng-click="activeTab = 'existing-patients'" ng-class="{'active': activeTab === 'existing-patients'}">Existing Patients ({{$ctrl.searchPatientResults.length}})</div>
						<div id="hl7-patients" class="title" ng-click="activeTab = 'hl7-patients'" ng-class="{'active': activeTab === 'hl7-patients'}">HL7 Patients ({{$ctrl.searchHL7PatientResults.length}})</div>

						<ul ng-show="$ctrl.patientSearchValue !== '' && activeTab === 'existing-patients'" ng-class="{'active': activeTab === 'existing-patients'}">
							<li ng-repeat="result in $ctrl.searchPatientResults">
								<span ng-show="!result.Anonymous__c"><a class="btn btn-link patient-name matching" ng-click="$ctrl.searchPatientSelected(result)">{{result.Last_Name__c}}, {{result.First_Name__c}} {{result.Middle_Initial__c}}</a>
						<span class="dob tex-center">{{result.Gender__c}} - {{result.Date_Of_Birth__c | date: 'shortDate'}}</span>
								<span class="patient-number text-center">{{result.Medical_Record_Number__c}}</span>
								</span>
								<span ng-show="result.Anonymous__c"><span class="patient-name matching" ng-click="$ctrl.searchPatientSelected(result)">{{result.Anonymous_Label__c}} (Anonymous)</span>
								<span class="dob">{{result.Gender__c}} - {{result.Anonymous_Year_of_Birth__c}}</span><span class="patient-number">{{result.Medical_Record_Number__c}}</span></span>
							</li>
						</ul>
						<ul ng-show="$ctrl.patientSearchValue !== '' && activeTab === 'hl7-patients'" ng-class="{'active': activeTab === 'hl7-patients'}">
							<li ng-repeat="result in $ctrl.searchHL7PatientResults"><i class="fa fa-rss HL7-icon"></i> <a class="btn btn-link patient-name matching" ng-click="$ctrl.searchHL7PatientSelected(result)">{{result.Patient_Last_Name__c}}, {{result.Patient_First_Name__c}} {{result.Patient_Middle_Initial__c}}</a>
								<span class="dob">{{result.Patient_Gender__c}} - {{result.Patient_Date_Of_Birth__c | date: 'shortDate'}}</span>
								<span class="patient-number">{{result.Medical_Record_Number__c}}</span>
							</li>
						</ul>
					</div>
				</div>
				<!--</div>-->
		</nav>
		<!-- / .row -->
	</div>

	<!-- / .container-fluid -->
	<!--<div ng-include="'app/patientList/existingPatients.component.html'" ng-if="sourceFilter=='Existing'"></div>-->
	<div style="padding-left:12px; margin-right:12px;margin-top:12px;" ng-if="$ctrl.sourceFilter=='Existing'">
		<table class="table table-os" ng-if="$ctrl.sourceFilter=='Existing'">
			<thead>
				<tr>
					<th>Name</th>
					<th>DOB</th>
					<th>Sex</th>
					<th>Surgeon</th>
					<th>Case Type</th>
					<th>Procedure Date</th>
					<th class="action">Add a Case</th>
				</tr>
			</thead>
			<tbody ng-repeat="patient in $ctrl.filteredPatients">
				<tr>
					<td rowspan="99">
						<a ng-click="$ctrl.patientDetails(patient)" ng-show="!patient.Anonymous__c">{{patient.Last_Name__c}}, {{patient.First_Name__c}}</a>
						<a ng-click="$ctrl.patientDetails(patient)" ng-show="patient.Anonymous__c">{{patient.Anonymous_Label__c}} (Anonymous)</a>
					</td>
					<td rowspan="99">
						<span ng-show="!patient.Anonymous__c">{{patient.Date_Of_Birth__c + 60 | date: 'shortDate'}}</span>
						<span ng-show="patient.Anonymous__c">{{patient.Anonymous_Year_of_Birth__c}}</span>
					</td>
					<td rowspan="99">
						{{patient.Gender__c}}
					</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td class="action">
						<button type="button" class="btn btn-os" ng-click="$ctrl.addPatientCase(patient)">
                        <i class="icon icon-add-folder"></i>
                    </button>
					</td>
				</tr>
				<tr class="sub-row" ng-click="$ctrl.caseDetails(patient,case)" ng-repeat="case in patient.Cases__r">
					<td>{{case.Physician__r.Name}}</td>
					<td><a ng-click="$ctrl.caseDetails(patient,case)">{{case.Case_Type__r.Description__c}} - {{case.Laterality__c}}</a></td>
					<td>{{case.Procedure_Date__c | date:'shortDate'}}</td>
					<td>&nbsp;</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div style="padding-left:12px; margin-right:12px;margin-top:12px;" ng-if="$ctrl.sourceFilter=='Scheduled'">
		<table class="table table-os" ng-if="$ctrl.sourceFilter=='Scheduled'">
			<thead>
				<tr>
					<th>Name</th>
					<th>DOB</th>
					<th>Sex</th>
					<th>Appointment Date</th>
					<th>Physician</th>
				</tr>
			</thead>
			<tbody ng-repeat="patient in $ctrl.filteredPatients">
				<tr>
					<td>
						<a ng-click="$ctrl.searchHL7PatientSelected(patient)">{{patient.Patient_Last_Name__c}}, {{patient.Patient_First_Name__c}}</a>						<i class="fa fa-rss HL7-icon"></i>
					</td>
					<td>
						{{patient.Patient_Date_Of_Birth__c | date: 'shortDate'}}
					</td>
					<td>
						{{patient.Patient_Gender__c}}
					</td>
					<td>
						{{patient.Appointment_Date__c | date: 'shortDate'}}
					</td>
					<td>
						{{patient.Physician_Name__c}}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>