<section class="panel panel-default">
    <div class="panel-body">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>Patient</th>
                    <th>Phase</th>
                    <th>Symptom</th>
                    <th>Pain</th>
                    <th>ADL</th>
                    <th>Sport/Rec</th>
                    <th>QOL</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="prom in $ctrl.patientsScores">
                    <td>{{prom.patientName}}</td>
                    <td>{{prom.phase}}</td>
                    <td>{{prom.symptom}}</td>
                    <td>{{prom.pain}}</td>
                    <td>{{prom.aDL}}</td>
                    <td>{{prom.sportRec}}</td>
                    <td>{{prom.qOL}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
<!--<os-prom-by-patient-cards patientsScores="$ctrl.patientsScores"></os-prom-by-patient-cards>-->

