<div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">{{$ctrl.patientName}}</div>
                        <div class="panel-body">
                            Procedure Date: {{$ctrl.procedureDate | date: 'shortDate'}}
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th>Category</th>
                                        <th>Symptom</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>KOOS Sympton</td>
                                        <td>56</td>
                                        <td>65</td>
                                    </tr>
                                    <tr>
                                        <td>KOOSPain</td>
                                        <td>42</td>
                                        <td>54</td>
                                    </tr>
                                </tbody>
                                <tr>
                                    <td>KOOS Sport/Red</td>
                                    <td>77</td>
                                </tr>
                            </table>
                            <os-mean-change-in-prom-score-mini></os-mean-change-in-prom-score-mini>
                        </div>
                    </div>