<section class="panel panel-default">
    <div class="panel-body">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>Patien</th>
                    <th>Phase</th>
                    <th>Symptom</th>
                    <th>Pain</th>
                    <th>ADL</th>
                    <th>Sport/Rec</th>
                    <th>QOL</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="prom in $ctrl.promDeltas">
                    <td>{{prom.patientName}}</td>
                    <td>{{prom.phase}}</td>
                    <td>{{prom.symptom}}</td>
                    <td>{{prom.aDL}}</td>
                    <td>{{prom.sportRec}}</td>
                    <td>{{prom.qOl}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
<os-prom-by-patient-cards patientsKoosScores="$ctrl.patientsKoosScores"></os-prom-by-patient-cards>

