<div style="width:600px;">
<div class="row">
    <div class="col-sm-1">
        <div class="dropdown pull-left">
            <button id="main-navigation" class="btn btn-os navigation-action" type="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
       
        <i class="fa fa-bars" aria-hidden="true"></i>
    </button>
            <ul class="dropdown-menu" aria-labelledby="dLabel">
                <li>
                    <a ui-sref="patientList"><i class="fa fa-child"> </i> Patients</a>
                </li>
                <li>
                    <a href="#" ui-sref="dashboard"> <i class="fa fa-dashboard"></i> Dashboard</a>
                </li>
               
                <li ng-show="$ctrl.systemMode=='development'">
                    <a href="#" ui-sref="notifications"> <i class="fa fa-envelope">
                        </i>Notifications</a>
                </li>
                <li ng-show="$ctrl.systemMode=='development'">
                    <a href="#" ui-sref="reports"> <i class="fa fa-bar-chart">
                        </i>Reports</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-5">
        <h1 style="padding-left:1px;"> {{$ctrl.title}}</h1>
    </div>
   
</div>
</div>