.search {
  position: relative;
  text-align: right;
  width: 120px; }

.search input {
  background-color: #787878;
  border: 0;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  height: 26px;
  outline: transparent;
  width: 120px; }

.search input::-webkit-input-placeholder-shown {
  color: #b1b9bd; }

.search input:-ms-input-placeholder-shown {
  color: #b1b9bd; }

.search input::placeholder-shown {
  color: #b1b9bd; }

.search input.s-active, .search input:focus {
  background-color: white;
  border: 2px solid #109bd6;
  color: #787878; }

.search input.s-active ~ button, .search input:focus ~ button {
  color: #787878; }

.search button {
  color: white;
  font-size: 2rem;
  height: 46px;
  position: absolute;
  right: 0; }

.search .suggestions {
  background-color: white;
  border: 2px solid #109bd6;
  border-top: 0;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 10px 10px -4px black;
  list-style: none;
  max-height: 70vh;
  overflow: hidden;
  overflow-y: auto;
  position: absolute;
  right: 0;
  text-align: left;
  top: 41px;
  width: 120px;
  z-index: 9; }

.search .suggestions.multi-sources .title {
  display: block; }

.search .suggestions .title {
  cursor: pointer;
  display: none;
  float: left;
  padding: 15px;
  width: 50%; }

.search .suggestions .title.active {
  background-color: #109bd6;
  color: white; }

.search .suggestions ul {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%; }

.search .suggestions li {
  border-top: 1px solid #efefef;
  list-style: none;
  min-height: 6em;
  padding: 10px; }

.search .suggestions i {
  float: right;
  margin: 2px 5px; }

.search .suggestions span {
  display: block; }

.search .suggestions .matching {
  color: #109bd6; }

.sidebar {
  border-right-color: #787878;
  border-right-width: 1px;
  border-right-style: none;
  height: 100%;
  margin-left: 60px; }

.sidebar ul li {
  background-color: white;
  border: none;
  color: #787878; }

.sidebar ul li:hover {
  background-color: #e6e6e6; }

.sidebar ul li a {
  color: #787878; }

.sidebar ul li a:hover {
  color: #454545; }

.sidebar ul li a:active {
  color: #2c2c2c; }
