<div class="content test">
    <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1">

            <form class="form-horizontal" name="pageForm" novalidate>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">{{$ctrl.title}}</div>
                    </div>
                    <div class="panel-body">
                      <div ng-include="'app/components/addPatient/editPatientFields.component.html'"></div>
                </div>
        </div>
        <!--<tt>{{$ctrl.patient}}</tt>-->

        </form>
    </div>
</div>



</div>