<div class="modal-header">
    <button type="button" class="btn btn-os close" aria-label="Close" ng-click="cancel()">
        <i class="icon icon-close"></i>
    </button>
    <h4 class="modal-title">{{$ctrl.title}}</h4>
</div>
<div class="modal-body">
    <form class="form-horizontal" name="pageForm">
        <div class="row">
            <div class="col-xs-12 col-md-5">
                <fieldset>

                    <div class="form-group" ng-class="{ 'has-error' : pageForm.hospital.$invalid && pageForm.submitted}" ng-if="!currentUser.Contact">
                        <label for="patient-hospital" class="col-sm-4 control-label  required">Hospital</label>
                        <div class="col-sm-8">
                            <div class="select">
                                <select id="patient-hospital" ng-model="$ctrl.patient.hospital" required="true" name="hospital" ng-disabled="$ctrl.patient.hl7"
                                    ng-options="hospital.name for hospital in $ctrl.hospitals track by hospital.id" ng-change="$ctrl.resetPractice();$ctrl.checkAnonymous()">
                                    <!--<option ng-repeat=value="{{hospital.Id}}">{{hospital.Name}}</option>-->
                                </select>
                            </div>
                            <!-- / .select -->
                            <div ng-messages="pageForm.hospital.$error" ng-if="pageForm.submitted">
                                <p class="help-block" ng-message="required"><i class="fa fa-exclamation-triangle"></i> Hospital selection is required.</p>
                            </div>
                        </div>
                        <!-- / .col-sm-8 -->
                    </div>
                    <!-- / .form-group -->

                    <div class="form-group" ng-show="$ctrl.patient.hospital && !$ctrl.patient.hl7">
                        <label for="patient-practice" class="col-sm-4 control-label">Practice</label>
                        <div class="col-sm-8">
                            <div class="select">
                                <select id="patient-practice" ng-model="$ctrl.patient.practice" name="surgeon" ng-change="$ctrl.checkAnonymous()">
                                    <option value="">Not Selected</option>
                                    <option ng-repeat="practice in $ctrl.practices | filter: {parentId:patient.hospital.id}" value="{{practice.id}}">{{practice.name}}</option>
                                </select>
                            </div>
                            <!-- / .select -->
                        </div>
                        <!-- / .col-sm-8 -->
                    </div>
                    <!-- / .form-group -->

                    <div class="form-group" ng-show="!$ctrl.patient.hl7">
                        <label for="new-patient-anonymous" class="col-sm-4 control-label">Is Anonymous</label>
                        <div class="col-sm-8">
                            <input type="checkbox" id="new-patient-anonymous" class="show" style="height:20px;" name="Anonymous" ng-model="$ctrl.patient.anonymous" />
</div>
</div>

<div class="form-group" ng-class="{ 'has-error' : pageForm.Label.$invalid && pageForm.submitted}" ng-show="$ctrl.patient.anonymous">
    <label for="new-patient-label" class="col-sm-4 control-label required">Patient Label</label>
    <div class="col-sm-8">
        <input type="text" class="form-control" id="new-patient-label" name="Label" ng-model="$ctrl.patient.Label" ng-required="$ctrl.patient.anonymous"
        />
        <div ng-messages="pageForm.Label.$error" ng-if="pageForm.submitted">
            <p class="help-block" ng-message="required"><i class="fa fa-exclamation-triangle"></i> Patient Label is required.</p>
        </div>
    </div>
</div>
<!-- / .form-group -->

<div class="form-group" ng-class="{ 'has-error' : pageForm.FirstName.$invalid && pageForm.submitted}" ng-show="!$ctrl.patient.anonymous">
    <label for="new-patient-first-name" class="col-sm-4 control-label required">First Name</label>
    <div class="col-sm-8">
        <input type="text" class="form-control" id="new-patient-first-name" name="FirstName" ng-model="$ctrl.patient.FirstName" ng-required="!$ctrl.patient.anonymous"
        />
        <div ng-messages="pageForm.FirstName.$error" ng-if="pageForm.submitted">
            <p class="help-block" ng-message="required"><i class="fa fa-exclamation-triangle"></i> Patient First Name is required.</p>
        </div>
    </div>
</div>
<!-- / .form-group -->

<div class="form-group" ng-class="{ 'has-error' : pageForm.LastName.$invalid && pageForm.submitted}" ng-show="!$ctrl.patient.anonymous">
    <label for="new-patient-last-name" class="col-sm-4 control-label  required">Last Name</label>
    <div class="col-sm-8">
        <input type="text" class="form-control" id="new-patient-last-name" name="LastName" ng-model="$ctrl.patient.LastName" ng-required="!$ctrl.patient.anonymous"
        />
        <div ng-messages="pageForm.LastName.$error" ng-if="pageForm.submitted">
            <p class="help-block" ng-message="required"><i class="fa fa-exclamation-triangle"></i> Patient Last Name is required.</p>
        </div>

    </div>
</div>
<!-- / .form-group -->

<div class="form-group" ng-class="{ 'has-error' : pageForm.newPatientSex.$invalid && pageForm.submitted}">
    <label for="new-sex-name" class="col-sm-4 control-label  required">Sex</label>
    <div class="col-sm-8">
        <input type="radio" name="newPatientSex" id="new-patient-sex-male" value="M" ng-model="$ctrl.patient.Gender" required="true"
        /><label for="new-patient-sex-male">Male</label>
        <input type="radio" name="newPatientSex" id="new-patient-sex-female" value="F" ng-model="$ctrl.patient.Gender" required="true"
        /><label for="new-patient-sex-female">Female</label>
        <div ng-messages="pageForm.newPatientSex.$error" ng-if="pageForm.submitted">
            <p class="help-block" ng-message="required"><i class="fa fa-exclamation-triangle"></i> Patient Sex is required.</p>
        </div>


    </div>
</div>
<!-- / .form-group -->
</fieldset>
<fieldset>
    <div class="form-group" ng-class="{ 'has-error' : pageForm.DateofBirthString.$invalid && pageForm.submitted}" ng-show="!$ctrl.patient.anonymous">
        <label for="new-patient-dob" class="col-sm-4 control-label  required">Birthdate</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" name="DateofBirthString" placeholder="MM/DD/YYYY" style="background-color:white; width:150px;height:38px;margin-left:-2px;" datetime-picker="MM/dd/yyyy" enable-time="false" ng-model="$ctrl.patient.DateofBirthString" is-open="$ctrl.open.birthDate"
datepicker-options="$ctrl.dateOptions" ng-required="!$ctrl.patient.anonymous" close-text="Close" ng-click="$ctrl.open($event,'birthDate')"
/>
<button type="button" class="btn btn-os" ng-click="$ctrl.open($event,'birthDate')"><i class="fa fa-calendar"></i></button>
<div ng-messages="pageForm.DateofBirthString.$error" ng-if="pageForm.submitted">
    <p class="help-block" ng-message="required"><i class="fa fa-exclamation-triangle"></i> Patient Birthdate is required.</p>
</div>
</div>
</div>
<!-- / .form-group -->

<div class="form-group" ng-class="{ 'has-error' : pageForm.BirthYear.$invalid && pageForm.submitted}" ng-show="$ctrl.patient.anonymous">
    <label for="new-patient-dob" class="col-sm-4 control-label  required">Birth Year</label>
    <div class="col-sm-2">
        <div class="select">
            <select id="patient-birth-year" ng-model="$ctrl.patient.BirthYear" ng-required="$ctrl.patient.anonymous" name="BirthYear"
                style="padding-left:8px;">
<option ng-repeat="year in $ctrl.birthYears" value="{{year}}">{{year}}</option>
</select>
</div>
<!-- / .select -->
<div ng-messages="pageForm.BirthYear.$error" ng-if="pageForm.submitted">
    <p class="help-block" ng-message="required"><i class="fa fa-exclamation-triangle"></i> Patient Birth Year is required.</p>
</div>
</div>
</div>
<!-- / .form-group -->

<!--div class="form-group">
                        <label for="new-patient-height" class="col-sm-4 control-label">Height</label>
                        <div class="col-sm-8">
                            <input type="email" class="form-control small" id="new-patient-height" />
                            <input type="radio" name="new-patient-height" id="new-patient-height-cm" value="new-patient-height-cm" /><label for="new-patient-height-cm">cm</label>
                            <input type="radio" name="new-patient-height" id="new-patient-height-in" value="new-patient-height-in" /><label for="new-patient-height-in">in</label>
                        </div>
                    </div><!-- / .form-group -->
<!--div class="form-group">
                        <label for="new-patient-weight" class="col-sm-4 control-label">Weight</label>
                        <div class="col-sm-8">
                            <input type="email" class="form-control small" id="new-patient-weight" />
                            <input type="radio" name="new-patient-weight" id="new-patient-weight-kg" value="new-patient-weight-kg" /><label for="new-patient-weight-kg">kg</label>
                            <input type="radio" name="new-patient-weight" id="new-patient-weight-lb" value="new-patient-weight-lb" /><label for="new-patient-weight-lb">lb</label>
                        </div>
                    </div><!-- / .form-group -->
</fieldset>

</div>
<div class="col-xs-12 col-md-7">
    
    <fieldset>
       
        <!-- / .form-group -->
        <div class="form-group" ng-class="{ 'has-error' : pageForm.MedicalRecordNumber.$invalid && pageForm.submitted}">
            <label for="new-patient-medical-record-number" class="col-sm-4 control-label" ng-class="!$ctrl.patient.anonymous?'required':''">Medical Record #</label>
            <div class="col-sm-8">
                <input type="text" name="MedicalRecordNumber" class="form-control" id="new-patient-medical-record-number" ng-model="$ctrl.patient.MedicalRecordNumber"
                    ng-required="!$ctrl.patient.anonymous" />
                <div ng-messages="pageForm.MedicalRecordNumber.$error" ng-if="pageForm.submitted">
                    <p class="help-block" ng-message="required"><i class="fa fa-exclamation-triangle"></i> Patient Medical Record # is required.</p>
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <label for="new-patient-number" class="col-sm-4 control-label">Patient #</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="new-patient-number" ng-model="$ctrl.patient.PatientNumber" />
            </div>
        </div>

        <!-- / .form-group -->
        <div class="form-group">
            <label for="new-patient-account-number" class="col-sm-4 control-label">Account #</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="new-patient-account-number" ng-model="$ctrl.patient.AccountNumber" />
            </div>
        </div>
        <!-- / .form-group -->
        <div class="form-group">
            <label for="new-patient-ss-number" class="col-sm-4 control-label">Social Security #</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="new-patient-ss-number" ng-model="$ctrl.patient.SocialSecurityNumber" />
            </div>
        </div>
        <fieldset>
        <div class="form-group">
            <label for="new-patient-race" class="col-sm-4 control-label">Race</label>
            <div class="col-sm-8">
                <div class="select">
                    <select id="new-patient-race" ng-model="$ctrl.patient.Race">
                        <option>White</option>
                        <option>Black or African American</option>
                        <option>American Indian</option>
                        <option>Asian</option>
                        <option>Native Hawaiian</option>
                        <option>Hispanic</option>
                        <option>Other</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- / .form-group -->
        <div class="form-group">
            <label for="new-patient-language" class="col-sm-4 control-label">Language</label>
            <div class="col-sm-8">
                <div class="select">
                    <select id="new-patient-language" ng-model="$ctrl.patient.Language">
                        <option>English</option>
                        <option>Spanish</option>
                        <option>French</option>
                        <option>Chinese</option>
                        <option>Creole</option>
                        <option>Unknown</option>
                        <option>Russian</option>
                        <option>Portuguese</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- / .form-group -->
    </fieldset>
        <!-- / .form-group -->
    </fieldset>
    <fieldset>
        <!--div class="form-group">
                        <label for="new-patient-primary-diagnosis" class="col-sm-4 control-label">Primary Diagnosis</label>
                        <div class="col-sm-8">
                            <div class="select">
                                <select id="new-patient-primary-diagnosis">
                                    <option>Primary Diagnosis</option>
                                </select>
                            </div>
                        </div>
                    </div><!-- / .form-group -->
        <!--div class="form-group">
                        <label for="new-patient-secondary-diagnosis" class="col-sm-4 control-label">Secondary Diagnosis</label>
                        <div class="col-sm-8">
                            <div class="select">
                                <select id="new-patient-secondary-diagnosis">
                                    <option>Secondary Diagnosis</option> 
                                </select>
                            </div>
                        </div>
                    </div><!-- / .form-group -->
    </fieldset>
</div>
</div>
</form>
</div>
<div class="modal-footer" ng-if="!$ctrl.matchedPatient">
    <button type="button" class="btn btn-os btn-os-primary" ng-click="$ctrl.cancel()">
        <span>Cancel</span>
    </button>
    <button type="button" class="btn btn-os btn-os-primary" ladda="$ctrl.loadingPatient" ng-click="$ctrl.savePatient(pageForm)">
        <span>Save</span>
    </button>
    <!--<script>Ladda.bind('.modal-footer button');</script>-->
</div>
<div class="modal-footer" ng-if="$ctrl.matchedPatient">
    <div class="col-sm-12" style="text-align:left;" ng-show="!$ctrl.matchedPatient.Anonymous__c">
<h1>Possible Match Found:</h1>
<p>Would you like to create a new Patient or proceed with the existing Patient?</p>
<br/>
<b>First Name: </b>{{$ctrl.matchedPatient.First_Name__c}}<br/>
<b>Last Name: </b>{{$ctrl.matchedPatient.Last_Name__c}}<br/>
<b>SSN: </b>{{$ctrl.matchedPatient.SSN__c}}<br/>
<b>Date of Birth: </b>{{$ctrl.matchedPatient.Date_Of_Birth__c | date: 'shortDate'}}<br/>
<b>Race: </b>{{$ctrl.matchedPatient.Race__c}}<br/>
<b>Medical Record Number: </b>{{$ctrl.matchedPatient.Medical_Record_Number__c}}<br/>
</div>
<div class="col-sm-12" style="text-align:left;" ng-show="$ctrl.matchedPatient.Anonymous__c">
<h1>Possible Match Found:</h1>
<p>Would you like to create a new Patient or proceed with the existing Patient?</p>
<br/>
<b>Patient Label: </b>{{$ctrl.matchedPatient.Anonymous_Label__c}}<br/>
<b>Year of Birth: </b>{{$ctrl.matchedPatient.Anonymous_Year_of_Birth__c}}<br/>
</div>
<button type="button" class="btn btn-os btn-os-primary" ng-click="$ctrl.cancel()">
        <span>Cancel</span>
    </button>
<button type="button" ladda="$ctrl.loadingPatient" class="btn btn-os btn-os-primary" data-style="zoom-in" data-spinner-color="DeepSkyBlue"
    style="margin-top:0px;z-index:0" ng-click="$ctrl.createNewPatient(pageForm)">
<span>Create New Patient</span>
</button>
<button type="button" class="btn btn-os btn-os-default" data-style="zoom-in" data-spinner-color="White" ng-click="$ctrl.createNewCase(matchedPatient)">
        <span>Proceed With the Existing Patient</span>
    </button>
<!--<script>Ladda.bind('.modal-footer button');</script>-->
</div>