@charset "UTF-8";

@font-face {
  font-family: "orthosensor";
  src:url("fonts/orthosensor.eot");
  src:url("fonts/orthosensor.eot?#iefix") format("embedded-opentype"),
    url("fonts/orthosensor.woff") format("woff"),
    url("fonts/orthosensor.ttf") format("truetype"),
    url("fonts/orthosensor.svg#orthosensor") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "orthosensor" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "orthosensor" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add-person:before {
  content: "\62";
}
.icon-c-add:before {
  content: "\63";
}
.icon-c-arrow-down:before {
  content: "\64";
}
.icon-c-arrow-up:before {
  content: "\65";
}
.icon-c-checkmark:before {
  content: "\66";
}
.icon-calendar:before {
  content: "\67";
}
.icon-checkmark:before {
  content: "\68";
}
.icon-chevron:before {
  content: "\69";
}
.icon-clipboard:before {
  content: "\6a";
}
.icon-close:before {
  content: "\6b";
}
.icon-delete:before {
  content: "\6c";
}
.icon-download-bars:before {
  content: "\6d";
}
.icon-download-cloud:before {
  content: "\6e";
}
.icon-edit:before {
  content: "\6f";
}
.icon-eye:before {
  content: "\70";
}
.icon-lines:before {
  content: "\72";
}
.icon-list:before {
  content: "\73";
}
.icon-modify:before {
  content: "\74";
}
.icon-search:before {
  content: "\75";
}
.icon-triangle-down:before {
  content: "\76";
}
.icon-upload:before {
  content: "\77";
}
.icon-add-folder:before {
  content: "\61";
}
.icon-graph:before {
  content: "\71";
}
.icon-warning:before {
  content: "\78";
}
