<div class="modal-header">
    <button type="button" class="btn btn-os close" aria-label="Close" ng-click="$ctrl.cancel()">
        <i class="icon icon-close"></i>
    </button>
    <h4 class="modal-title">{{$ctrl.title}}</h4>
</div>
<div class="modal-body">
    <h3>{{$ctrl.patient.Last_Name__c}}, {{$ctrl.patient.First_Name__c}}</h3>

    <form class="form-horizontal" name="pageForm">
        <div class="form-group" ng-class="{ 'has-error' : pageForm.CaseType.$invalid && pageForm.submitted}">
            <label for="case-type" class="col-sm-3 control-label  required">Case Type</label>
            <div class="col-sm-8">
                <div class="select">
                    <select id="case-type" ng-model="$ctrl.patientCase.CaseTypeId" required="true" name="CaseType">
                        <option ng-repeat="caseType in $ctrl.caseTypes" 
                        value="{{caseType.Case_Type__r.Id}}">{{caseType.Case_Type__r.Description__c}}</option>
                    </select>
                </div>
                <!-- / .select -->
                <div ng-messages="pageForm.CaseType.$error" ng-if="pageForm.submitted">
                    <p class="help-block" ng-message="required"><i class="fa fa-exclamation-triangle"></i> Case Type is required.</p>
                </div>
            </div>
            <!-- / .col-sm-8 -->
        </div>
        <!-- / .form-group -->
        <div class="form-group" ng-class="{ 'has-error' : pageForm.laterality.$invalid && pageForm.submitted}">
            <label class="col-sm-3 control-label  required">Laterality</label>
            <div class="col-sm-8">
                <input type="radio" name="laterality" required="true" id="laterality-left" value="Left" ng-model="$ctrl.patientCase.Laterality"
                /><label for="laterality-left">Left</label>
                <input type="radio" name="laterality" required="true" id="laterality-right" value="Right" ng-model="$ctrl.patientCase.Laterality"
                /><label for="laterality-right">Right</label>
                <input type="radio" name="laterality" required="true" id="laterality-both" value="Both" ng-model="$ctrl.patientCase.Laterality"
                /><label for="laterality-both">Both</label>
                <div ng-messages="pageForm.laterality.$error" ng-if="pageForm.submitted">
                    <p class="help-block" ng-message="required"><i class="fa fa-exclamation-triangle"></i> Laterality is required.</p>
                </div>

            </div>
            <!-- / .col-sm-8 -->
        </div>
        <!-- / .form-group -->
        <div class="form-group" ng-class="{ 'has-error' : pageForm.surgeon.$invalid && pageForm.submitted}">
            <label for="case-surgeon" class="col-sm-3 control-label  required">Surgeon</label>
            <div class="col-sm-8">
                <div class="select">
                    <select id="case-surgeon" ng-model="$ctrl.patientCase.SurgeonID" required="true" name="surgeon">
                        <option ng-repeat="surgeon in $ctrl.surgeons" value="{{surgeon.Surgeon__r.AccountId}}">{{surgeon.Surgeon__r.Name}}</option>
                    </select>
                </div>
                <!-- / .select -->
                <div ng-messages="pageForm.surgeon.$error" ng-if="pageForm.submitted">
                    <p class="help-block" ng-message="required"><i class="fa fa-exclamation-triangle"></i> Surgeon is required.</p>
                </div>
            </div>
            <!-- / .col-sm-8 -->
        </div>
        <!-- / .form-group -->
        <div class="form-group" ng-class="{ 'has-error' : pageForm.ProcedureDateString.$invalid && pageForm.submitted}">
            <label for="new-case-procedure-date" class="col-sm-4 control-label  required">Procedure Date</label>
            <div class="col-sm-8">
                <input type="text" name="ProcedureDateString" required="true" class="form-control" placeholder="MM/DD/YYYY" style="background-color:white; width:150px;height:38px;margin-left:-2px;" datetime-picker="MM/dd/yyyy" enable-time="false" ng-model="$ctrl.patientCase.ProcedureDateString" is-open="$ctrl.open.procDate"
datepicker-options="dateOptions" ng-required="true" close-text="Close" ng-click="$ctrl.open($event,'procDate')" />
<button type="button" class="btn btn-os" ng-click="$ctrl.open($event,'procDate')">
                <i class="fa fa-calendar"></i>
                </button>
<div ng-messages="pageForm.ProcedureDateString.$error" ng-if="pageForm.submitted">
    <p class="help-block" ng-message="required">
        <i class="fa fa-exclamation-triangle"></i> Procedure Date is required.</p>
</div>
</div>
</div>
</form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-os btn-os-primary" ng-click="$ctrl.cancel()">
        <span>Cancel</span>
    </button>
    <button type="button" class="btn btn-os btn-os-primary" ladda="$ctrl.loadingCase" ng-click="$ctrl.createCase(pageForm)">
        <span>Create Case</span>
    </button>

    <!--<button class = "btn btn-primary" ladda="true">Button</button>
  <button class = "btn btn-primary" ladda="{{$ctrl.loading1}}"  ng-click="$ctrl.clickButton1()">Button1</button>-->
    <!--<button class="btn btn-os btn-os-primary" ladda="$ctrl.loading2" ng-click="$ctrl.clickButton2()"><span>Create Another Case</span></button>-->

</div>