<section class="row">
    <div class="col-sm-6">
        <section>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <panel-title>Users</panel-title>
                </div>
                <div class="panel-body">
                    <table class="table table-responsive table-condensed table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Last Name</th>
                                <th>FirstName</th>
                                <th>Last log in</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="user in vm.people" ng-click="vm.editRecord(user)">
                                <td>{{user.id}}</td>
                                <td>{{user.lastName}}</td>
                                <td>{{user.firstName}}</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </section>
    </div>
    <div class="col-sm-6">
        <div class="col-sm-12">
            <div class="col-sm-10 col-sm-offset-1">
                <!--<user-detail user="$ctrl.user"></user-detail>-->
            </div>
        </div>
    </div>
</section>