<div class="container">
    <section class="mainbar" style="margin-top:30px;">
        <div class=" col-sm-12 col-sm-offset-0 ">
            <div class="row main-content ">
                <div class="col-sm-2 col-xs-12 ">
                    <admin-sidebar></admin-sidebar>
                </div>
                <div class="col-sm-10 col-xs-12 ">

                    <div ui-view class="slide "></div>
                </div>
            </div>
    </section>
    </div>