<div class="col-xs-12">
	<table class="table table-os">
		<thead>
			<tr>
				<th>Device ID</th>
				<th>Manufacturer</th>
				<th>Lot #</th>
				<th>Model</th>
				<th>Expiration</th>
				<th>Year Assembled</th>
				<th class="action">Delete</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="sensor in $ctrl.event.OS_Device_Events__r">
				<td>{{sensor.OS_Device__r.Device_ID__c}}</td>
				<td>{{sensor.OS_Device__r.Manufacturer_Name__c}}</td>
				<td>{{sensor.OS_Device__r.Lot_Number__c}}</td>
				<td>{{sensor.OS_Device__r.Style__c}}</td>
				<td>{{sensor.OS_Device__r.Expiration_Date__c | date: 'MM/yyyy'}}</td>
				<td>{{sensor.OS_Device__r.Year_Assembled__c}}</td>

				<td class="action">
					<button type="button" class="btn btn-os" ng-click="$ctrl.deleteSensor(sensor)">
						<i class="fa fa-remove"></i>
					</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>
