<div class="row row-separator">
	<div class="row-title">
		<h4>Survey</h4>
		<!--button type="button" class="btn btn-os btn-os-primary">
                        <span>Take Survey</span> <i class="icon icon-add"></i>
                    </button-->
	</div>
	<!-- / .row-title -->
	<div class="col-xs-12">
		<div class="row">
			<div ng-repeat="survey in surveys">
				<div class="panel paneldefault">
					<div class="panel-body">
						<i class="fa fa-file"></i>
						<span>{{survey.Name__c}}</span>

						<button type="button" class="btn btn-os btn-os-primary" ng-click="openSurveyLinkQRCode(escapeURL(survey.Survey_URL__c))">
                                        <span>Take Survey</span> <i class="icon icon-c-add"></i>
                                    </button>
						<button type="button" class="btn btn-os btn-os-primary" ng-click="sendSurveyLinkQRCode(escapeURL(survey.Survey_URL__c))">
                                        <span>Send Survey</span> <i class="icon icon-c-add"></i>
                                    </button>

					</div>
				</div>
			</div>
		</div>
		<!--<table class="table table-os">
			<tbody>
				<tr ng-repeat="survey in surveys">
					<td>
						<i class="fa fa-file"></i> <span>{{survey.Name__c}}</span>
						<button type="button" class="btn btn-os btn-os-primary pull-right" ng-click="openSurveyLinkQRCode(escapeURL(survey.Survey_URL__c))">
                                        <span>Take Survey</span> <i class="icon icon-c-add"></i>
                                    </button>
					</td>
				</tr>
			</tbody>
		</table>-->
	</div>
	<!-- / .col-xs-12 -->
</div>