<!-- Procedure Header -->
<div class="row">
    <div class="row-title">
        <h3>Procedure</h3>
        <div class="actions">
            <button type="button" class="btn btn-os btn-os-primary ladda-button" style="z-index:0" data-style="zoom-in" data-spinner-color="DodgerBlue"
                ng-click="$ctrl.completeEvent($ctrl.event.Id)" ng-show="$ctrl.event.Status__c != 'Complete'">
                            <span>Complete Procedure</span> <i class="icon icon-checkmark"></i>
                        </button>
            <button type="button" class="btn btn-os btn-os-primary" style="z-index:0" ng-show="$ctrl.event.Status__c != 'Complete'" 
                ng-click="$ctrl.editProcedure($ctrl.event,$ctrl.case,$ctrl.clinicalData)">
                            <span>Edit</span> <i class="fa fa-pencil"></i>
                        </button>
        </div>
        <!-- / .actions -->
        <script>
            Ladda.bind('.actions button');
        </script>
    </div>
    <!-- / .row-title -->
</div>
<!-- / .row -->
<!--<div ng-include="'app/components/procedureInfo/procedureInfo.component.html'"></div>-->
<div class="row row-separator form-horizontal tight-vertically">
    <div class="col-sm-4">
        <div class="form-group">
            <label class="col-sm-4 control-label">Date of Surgery</label>
            <div class="col-sm-8 value">{{$ctrl.procedure.Appointment_Start__c | date:'shortDate'}}</div>
        </div>
        <!-- / .form-group -->
        <div class="form-group">
            <label class="col-sm-4 control-label">Surgeon</label>
            <div class="col-sm-8 value">{{$ctrl.procedure.Physician__r.Name}}</div>
        </div>
        <!-- / .form-group -->
    </div>
    <!-- / .col-sm-4 -->
    <div class="col-sm-4">
        <div class="form-group">
            <label class="col-sm-4 control-label">Procedure</label>
            <div class="col-sm-8 value">{{$ctrl.procedure.Case__r.Case_Type__r.Description__c}}</div>
        </div>
        <!-- / .form-group -->
        <div class="form-group">
            <label class="col-sm-4 control-label">Laterality</label>
            <div class="col-sm-8">
                <span class="value">{{$ctrl.clinicalData.Laterality__c}}</span>
            </div>
        </div>
        <!-- / .form-group -->
    </div>
    <!-- / .col-sm-4 -->
    <div class="col-sm-4">
        <div class="form-group">
            <label class="col-sm-4 control-label">Patient Consent</label>
            <div class="col-sm-8">
                <span class="value">{{$ctrl.clinicalData.Patient_Consent_Obtained__c?'Yes':'No'}}</span>
            </div>
        </div>
        <!-- / .form-group -->
        <div class="form-group">
            <label class="col-sm-4 control-label">Anesthesia</label>
            <div class="col-sm-8">
                <span class="value">{{$ctrl.clinicalData.Anesthesia_Type__c}}</span>
            </div>
        </div>
        <!-- / .form-group -->
    </div>
    <!-- / .col-sm-4 -->
</div>