<aside id="left-panel" class="sidebar">
    <nav>
        <ul class="list-group">
            <li class="list-group-item"><a ui-sref=".caseActivityChart"><i class="fa fa-briefcase"></i> Case Activity</a></li>
            <li class="list-group-item"><a ui-sref=".phaseCountChart"><i class="fa fa-hospital-o"></i> Phase Count</a></li>

            <li class="list-group-item"><a ui-sref=".promDeltaChart"><i class="fa fa-bar-chart"></i> Prom Delta</a></li>
            <li class="list-group-item">
                <a ui-sref=".kneeBalanceChart"><i class="fa fa-medkit"></i> Knee Balance</a></li>
            <ul>

    </nav>
</aside>