<div class="container-fluid content test" style="padding:0 0 0 0;">
    <section class="mainbar">
        <div class=" col-sm-12 col-sm-offset-0 ">
            <div class="row main-content ">
                <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12" style="padding-left:0;">
                    <os-reports-sidebar></os-reports-sidebar>
                </div>
                <div class="col-sm-10 col-md-10 col-lg-10 col-xs-12" style="margin-top:30px;">
                    <div ui-view class="slide "></div>
                </div>
            </div>
        </div>
    </section>
</div>