<apex:page id="thePage" standardcontroller="Customer_Feedback__c">
    <apex:variable var="theRMA" value="{!Customer_Feedback__c.Id}"></apex:variable>
    <div style="float: left; width: 600px; padding: 10px;">
            <flow:interview name="Cancel_RMA_Request" finishLocation="{!URLFOR('/'+theRMA)}" >
                    <apex:param name="varRMARequestId" value="{!Customer_Feedback__c.Id}"/>
            </flow:interview>
        </div>
</apex:page>