<apex:page id="thePage" standardcontroller="Event_Request__c">
    <apex:variable var="theMBO" value="{!Event_Request__c.Id}"></apex:variable>
    <div style="float: left; width: 600px; padding: 10px;">
            <flow:interview name="Cancel_MBO" finishLocation="{!URLFOR('/'+theMBO)}" >
                    <apex:param name="varMBOid" value="{!Event_Request__c.Id}"/>
            </flow:interview>
        </div>
</apex:page>