<apex:page docType="html-5.0" controller="IQ_DashboardDataController">
    <apex:form >
    	<apex:pageBlock title="Dashboard aggregate functions">
		    <!--<apex:commandButton value="Raw Monthly Events" action="{! GetSensorDataLines }"/>-->
	        <!--<apex:commandButton value="Sensor Data" action="{! AggregateMonthKneeBalanceData }"/>-->
	        <apex:commandButton value="Monthly Sensor Data" action="{! AggregateKneeBalanceData }"/>
            <apex:commandButton value="Prom Deltas" action="{! AggregatePromDeltas }"/>
		</apex:pageBlock>

        <apex:pageBlock title="Raw Monthly Events">
			<apex:pageBlockTable value="{!sensors}" var="p">
				<apex:column value="{! p['Event__c']}"/>
			</apex:pageBlockTable>
		</apex:pageBlock>

      	<apex:pageBlock title="Dashboard aggregate functions">
		          <apex:commandButton value="Patient Phases" action="{!patientPhaseAggregation}"/>
		</apex:pageBlock>

		<apex:pageBlock title="Phase Counts">
			<apex:pageBlockTable value="{!phaseCounts}" var="p">
				<apex:column value="{! p.Month_Date__c}"/>
				<apex:column value="{! p.Surgeon_Name__c}"/>
				<apex:column value="{! p.Practice_NAme__c}"/>
				<apex:column value="{! p.Name}"/>
				<apex:column value="{! p.Count__c}"/>
			</apex:pageBlockTable>
		</apex:pageBlock>

        <apex:pageBlock title="Sensor Data">	
		<apex:pageBlockTable value="{! allSensors }" var="s">
			<apex:column value="{! s.SD_EventID}"/>
			<!--<apex:column value="{! s.AttachmentID}"/>

			<apex:column value="{! s.AttachmentName}"/> -->
			<apex:column value="{! s.SD_MeasurementDate}"/>
			<apex:column value="{! s.SD_DeviceID}"/>
			<!-- <apex:column value="{! s.SD_Type_AP}"/> -->
			<!-- <apex:column value="{! s.SD_Type_APID}"/> -->
			<apex:column value="{! s.SD_Type_ActualFlex}"/>

			<apex:column value="{! s.SD_Type_LateralLoad}"/>
			<apex:column value="{! s.SD_Type_MedialLoad}"/>
			<apex:column value="{! s.SD_Type_Rotation}"/>
			<apex:column value="{! s.SD_Type_TibiaRot}"/>
			<apex:column value="{! s.SD_Type_TibiaTilt}"/>
		</apex:pageBlockTable>
		</apex:pageBlock>
		
		<apex:pageBlock title="Monthly Sensor Data">
		<apex:pageBlockTable value="{! monthlyData }" var="m">
			<apex:column value="{! m.Event_ID__c}"/>		
			<apex:column headerValue="Date">
        		<apex:outputText value="{!m.MeasurementDate__c}"/>
      		</apex:column>

			<apex:column headerValue="Surgeon">
				<apex:outputText value="{! m.Surgeon_Name__c}"/>
			</apex:column>	
			<apex:column headerValue="Device ID">
        		<apex:outputText value="{!m.Device_ID__c}"/>
      		</apex:column>

			<apex:column headerValue="Actual Flex">
				<apex:outputText value="{! m.ActualFlexString__c}"/>
			</apex:column>
				<apex:column headerValue="Actual Flex">
				<apex:outputText value="{! m.ActualFlex__c}"/>
			</apex:column>
			<apex:column value="{! m.LateralLoad__c}"/>
			<apex:column value="{! m.MedialLoad__c}"/>
			<apex:column value="{! m.TibiaRot__c}"/>
			<apex:column value="{! m.TibiaTilt__c}"/>
			<apex:column value="{! m.Surgeon_ID__c}"/>
			<apex:column value="{! m.Practice_ID__c}"/>
		</apex:pageBlockTable>
		</apex:pageBlock>
		<!--<apex:pageBlock title="Prom Delta Data">
		<apex:pageBlockTable value="{! promDeltas }" var="p">
			<apex:column value="{! p.SurveyID__c}"/>
			<apex:column value="{! p.PracticeID__c}"/>
			<apex:column value="{! p.SurgeonID__c}"/>		
			<apex:column value="{! p.ProcedureDate__c}"/>		
			<apex:column value="{! p.Stage__c}"/>	
			<apex:column value="{! p.Section__c}"/>	
			<apex:column value="{! p.Score__c}"/>	
			
		</apex:pageBlockTable>	
		</apex:pageBlock>-->
    </apex:form>
</apex:page>