<apex:page showHeader="false" sidebar="false" controller="PatientPopulationSearchController" contentType="text/csv#PatientPopulation.csv">
    <apex:repeat value="{!exportData}" var="p">
    	{!p}
    </apex:repeat>
</apex:page>