<apex:page controller="ProcedureSummaryController" sidebar="false" action="{!LogConstructor}" tabStyle="Procedures__tab">
    <style type="text/css" title="currentStyle">
        @import "{!URLFOR($Resource.DataTables, 'media/css/demo_page.css')}";
        @import "{!URLFOR($Resource.DataTables, 'media/css/demo_table.css')}";
        @import "{!URLFOR($Resource.DataTables, 'media/css/ColReorder.css')}";
        @import "{!URLFOR($Resource.DataTables, 'media/css/ColVis.css')}";
        @import "{!URLFOR($Resource.DataTables, 'media/css/TableTools.css')}";
        @import "{!URLFOR($Resource.DataTables, 'media/css/ColumnFilterWidgets.css')}";
        @import "{!URLFOR($Resource.DataTables, 'media/css/demo_table_jui.css')}";
        @import "{!URLFOR($Resource.DataTables, 'media/examples_support/themes/smoothness/jquery-ui-1.8.4.custom.css')}";
    </style>
    <style type="text/css">
        .procedureTable{
            margin-left:auto;
            margin-right:auto;
        }
        td.labelcolumn{
            color: #4a4a56;
            text-align: right;
            font-size: 91%;
            font-weight: bold;
            font-family: Arial,Helvetica,sans-serif;
        }
        td.datacolumn{
            width: 300px;
            overflow: hidden;
            display: inline-block;
            white-space: nowrap;
        }
        span.dateInput span.dateFormat{ display:none; }
         .custPopup{
                    background-color: white;
                    border-width: 2px;
                    border-style: solid;
                    z-index: 9999;
                    left: 50%;
                    padding:10px;
                    position: absolute;
                    width: 900px;
                    margin-left: -450px;
                    top:100px;
                }
         .expPopup{
                    background-color: white;
                    border-width: 2px;
                    border-style: solid;
                    z-index: 9997;
                    left: 42%;
                    padding:10px;
                    position: absolute;
                    width: 400px;
                    top:100px;
                }
                .datePicker
                {
                    z-index: 9999;
                }
                .popupBackground{
                    background-color:black;
                    opacity: 0.20;
                    filter: alpha(opacity = 20);
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    z-index: 9996;
                }
                .SpinnercustPopup{
                    background-color: white;
                    border-width: 2px;
                    border-style: solid;
                    z-index: 9999;
                    left: 45%;
                    padding:10px;
                    position: absolute;
                    /* These are the 3 css properties you will need to change so the popup
                    displays in the center of the screen. First set the width. Then set
                    margin-left to negative half of what the width is. You can add
                    the height property for a fixed size pop up if you want.*/
                    width: 50px;
                    top:100px;
                }
                .SpinnerpopupBackground{
                    background-color:black;
                    opacity: 0.20;
                    filter: alpha(opacity = 20);
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    z-index: 9998;
                }
            button.ColVis_Button { display: none; }
                .snapshot:hover {
                    cursor: pointer;
                    height:150px;
                    width: 300px;
                    transform:scale(1.5);
                    -ms-transform:scale(1.5); /* IE 9 */
                    -moz-transform:scale(1.5); /* Firefox */
                    -webkit-transform:scale(1.5); /* Safari and Chrome */
                    -o-transform:scale(1.5); /* Opera */
                }
      .startProcButton {
        -moz-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
        -webkit-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
        box-shadow:inset 0px 1px 0px 0px #c1ed9c;
        background-color:#6495ED;
        -webkit-border-top-left-radius:20px;
        -moz-border-radius-topleft:20px;
        border-top-left-radius:20px;
        -webkit-border-top-right-radius:20px;
        -moz-border-radius-topright:20px;
        border-top-right-radius:20px;
        -webkit-border-bottom-right-radius:20px;
        -moz-border-radius-bottomright:20px;
        border-bottom-right-radius:20px;
        -webkit-border-bottom-left-radius:20px;
        -moz-border-radius-bottomleft:20px;
        border-bottom-left-radius:20px;
        text-indent:0;
        border:1px solid #6495ED;
        display:inline-block;
        color:#ffffff;
        font-family:Arial;
        font-size:12px;
        font-weight:bold;
        font-style:normal;
        height:40px;
        width:125px;
        text-decoration:none;
        text-align:center;
        text-shadow:1px 1px 0px #689324;
      }

      .startProcButton:hover {
        background-color:#8cb82b;
      }
      .startProcButton:active {
        position:relative;
        top:1px;
      }
      .startProcButtonCaptureMode {
        -moz-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
        -webkit-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
        box-shadow:inset 0px 1px 0px 0px #c1ed9c;
        background-color:#9dce2c;
        -webkit-border-top-left-radius:20px;
        -moz-border-radius-topleft:20px;
        border-top-left-radius:20px;
        -webkit-border-top-right-radius:20px;
        -moz-border-radius-topright:20px;
        border-top-right-radius:20px;
        -webkit-border-bottom-right-radius:20px;
        -moz-border-radius-bottomright:20px;
        border-bottom-right-radius:20px;
        -webkit-border-bottom-left-radius:20px;
        -moz-border-radius-bottomleft:20px;
        border-bottom-left-radius:20px;
        text-indent:0;
        border:1px solid #83c41a;
        display:inline-block;
        color:#ffffff;
        font-family:Arial;
        font-size:12px;
        font-weight:bold;
        font-style:normal;
        height:40px;
        width:125px;
        text-decoration:none;
        text-align:center;
        text-shadow:1px 1px 0px #689324;
      }
      .startProcButtonNotCapturingMode {
        -moz-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
        -webkit-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
        box-shadow:inset 0px 1px 0px 0px #c1ed9c;
        background-color:#FA8072;
        -webkit-border-top-left-radius:20px;
        -moz-border-radius-topleft:20px;
        border-top-left-radius:20px;
        -webkit-border-top-right-radius:20px;
        -moz-border-radius-topright:20px;
        border-top-right-radius:20px;
        -webkit-border-bottom-right-radius:20px;
        -moz-border-radius-bottomright:20px;
        border-bottom-right-radius:20px;
        -webkit-border-bottom-left-radius:20px;
        -moz-border-radius-bottomleft:20px;
        border-bottom-left-radius:20px;
        text-indent:0;
        border:1px solid #83c41a;
        display:inline-block;
        color:#ffffff;
        font-family:Arial;
        font-size:12px;
        font-weight:bold;
        font-style:normal;
        height:40px;
        width:125px;
        text-decoration:none;
        text-align:center;
        text-shadow:1px 1px 0px #689324;
      }
      .startProcButtonDisabled {
        background-color:#808080;
        -webkit-border-top-left-radius:20px;
        -moz-border-radius-topleft:20px;
        border-top-left-radius:20px;
        -webkit-border-top-right-radius:20px;
        -moz-border-radius-topright:20px;
        border-top-right-radius:20px;
        -webkit-border-bottom-right-radius:20px;
        -moz-border-radius-bottomright:20px;
        border-bottom-right-radius:20px;
        -webkit-border-bottom-left-radius:20px;
        -moz-border-radius-bottomleft:20px;
        border-bottom-left-radius:20px;
        text-indent:0;
        border:1px solid #989898;
        display:inline-block;
        color:#E8E8E8 ;
        font-family:Arial;
        font-size:12px;
        font-weight:bold;
        font-style:normal;
        height:40px;
        width:125px;
        text-decoration:none;
        text-align:center;
        text-shadow:1px 1px 0px #989898;
    }
    .startProcButtonDisabled:hover {
      background-color:#808080;
    }

        #procNav li{
                 display: inline;
        }
        #breadcrumbNav li{
                 display: inline;
                 float: left;
        }
        .ui-datepicker-calendar {
    display: none;
    }
    </style>
    <!-- scripts to include for Ajax functionality and UI -->
    <apex:includeScript id="JQueryCore" value="{!URLFOR($Resource.JQueryUI,'jquery-ui-1.10.3/jquery-1.9.1.js')}"/>
     <apex:includeScript id="JQueryUI" value="{!URLFOR($Resource.JQueryUI,'jquery-ui-1.10.3/ui/jquery-ui.js')}"/>
    <apex:includeScript id="AJAXToolKitInclude" value="/soap/ajax/29.0/connection.js"/>
    <!--apex:includescript value="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.js"/-->
    <script src="{!URLFOR($Resource.JSCalendar,'calendar.js')}"></script>
    <apex:stylesheet value="{!URLFOR($Resource.JSCalendar,'calendar_blue.css')}" />
    <apex:stylesheet value="{!URLFOR($Resource.JQueryUI,'jquery-ui-1.10.3/ui/jquery-ui.js')}" />
    <apex:stylesheet value="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"  />
    
    <script type="text/javascript">
        //setting the access session Id for the AJAX Toolkit
        <apex:outputText value="sforce.connection.sessionId = '{!$Api.SESSION_ID}'" rendered="{!ISBLANK($Api.SESSION_ID)}"/>;

         //setting the access session Id for the AJAX Toolkit;
    Visualforce.remoting.timeout = 120000;
        //set up JQuery to use in 'noConflict mode'
    var $j = jQuery.noConflict();
    
    function CreateImageAttachment(recordId, imageURL)
    {
        
     Visualforce.remoting.Manager.invokeAction(
          '{!$RemoteAction.ProcedureSummaryController.SaveImageToRecord}',
          recordId, imageURL,
          function(result,event){
            if(event.status)
            {
                console.log('Image was saved');
            } else {
                console.log('No Images Captured.');
                console.log('Something went wrong ');
                console.log(event);
            }
          },
          {escape:false}
     );
    }

    function MatchSDwithAttachment(recordId)
    {
     console.log('BEGIN IMAGE TO SD MATCH');
     $j("#nonspinnerdiv").hide();
     $j("#spinnerdiv").show();
     Visualforce.remoting.Manager.invokeAction(
          '{!$RemoteAction.ProcedureSummaryController.MatchSensorDataAndAttachment}',
          recordId,
          function(result,event){
            if(event.status)
            {
                console.log('Sensor Data Match Complete');
            } else {
                console.log('Error in matching ');
                console.log(event);
            }
           rerenderSDTable();
          },
          {escape:false}
     );
    }

    function GetImages(linkID){
        var proid = '{!ProcedureID}';
        var osdeviceIDs = new Array();
        <apex:repeat value="{!osDeviceIDs}" var="oid">
            osdeviceIDs.push('{!oid}');
        </apex:repeat>
        //osdeviceIDs = '{!osDeviceIDs}';
       // console.log('Devices: ' + osdeviceIDs);

        var arrayLength = osdeviceIDs.length;
        if(arrayLength>0)
        {
            for (var it = 0; it < arrayLength; it++) {
                //console.log('Device' + [it] + ' : ' + osdeviceIDs[it]);
                Visualforce.remoting.Manager.invokeAction(
                    '{!$RemoteAction.ProcedureSummaryController.GetImageList}',proid, osdeviceIDs[it], linkID,
                    function(result,event){
                        //console.log('result = ' + result);
                        if(event.status){
                            //here in the result object, we have our ImageList
                            resultObj = JSON.parse(result);
                            //loop through the images and call the
                            //other VF Remote function to save them
                            if(typeof resultObj.data!="undefined")
                            {
                                imageURLArray = resultObj.data.images;
                                imageURLArrayCaptures = [];
                                var recId = '{!ProcedureID}';
                                var ii = 0;
                                for(var i=0; i < imageURLArray.length; i++){
                                    console.log('imageURLArray[i].indexOf(45) = ' + imageURLArray[i].indexOf('45.'));
                                    console.log('imageURLArray.length = ' + imageURLArray.length);
                                    if(imageURLArray[i].indexOf('2.') > -1 || imageURLArray[i].indexOf('10.') > -1 || imageURLArray[i].indexOf('45.') > -1 || imageURLArray[i].indexOf('90.') > -1)
                                    {
                                        imageURLArrayCaptures.push(imageURLArray[i]);
                                    }
                                }
                                for(var i=0; i < imageURLArrayCaptures.length; i++){
                                    console.log(imageURLArrayCaptures[i]);
                                    CreateImageAttachment(recId, imageURLArrayCaptures[i]);
                                    ii++;
                                }

                                if(ii == imageURLArrayCaptures.length)
                                {
                                    MatchSDwithAttachment(proid);
                                }

                                } else {
                                    console.log(event);
                                    //$j("#nonspinnerdiv").show();
                                    //$j("#spinnerdiv").hide();
                                }
                            }
                        }
                        ,{escape:false}
                );
            }
        }
        else{
                $j("#nonspinnerdiv").show();
                $j("#spinnerdiv").hide();
        }
    }

    function GetData(){

        event.preventDefault();

        var proid = '{!ProcedureID}';

        var laterality = '{!clinicaldata.Laterality__c}';
        //var osdevice = '{!osDevice.id}';
         linkstationIDs = new Array();
        <apex:repeat value="{!LinkStationsIDs}" var="lid">
            linkstationIDs.push('{!lid}');
        </apex:repeat>
        //osdeviceIDs = '{!osDeviceIDs}';

        
        var linkstationArrayLength = linkstationIDs.length;
        console.log('ProcedureID: ' + proid);
        console.log('laterality: ' + laterality);
        if(linkstationArrayLength>0)
        {
            for (var it = 0; it < linkstationArrayLength; it++) {
                $j("#nonspinnerdiv").hide();
                $j("#spinnerdiv").show();
                console.log('LinkStationID[' + it + ']' +  linkstationIDs[it]);
                Visualforce.remoting.Manager.invokeAction(
                    '{!$RemoteAction.ProcedureSummaryController.CheckSoftwareVersion}',proid, linkstationIDs[it], laterality,
                    function(result,event){
                        if(event.status){
                            GetImages(result);
                        } else {
                            console.log('Invalid Device/Linkstation ID Combination');
                            console.log(event);
                        }
                    }
                    ,{escape:false}
                );
            }
        }

    }

     var $j = jQuery.noConflict();
     $j(document).ready(function(){
          $j("#spinnerdiv").hide();
          /*
          $j('#GetData').on('click',function(event){

               event.preventDefault();

               var proid = '{!ProcedureID}';
               var osdevice = '{!osDevice.id}';

               console.log(proid);
               console.log(osdevice);
               $j("#nonspinnerdiv").hide();
               $j("#spinnerdiv").show();

               Visualforce.remoting.Manager.invokeAction(
               '{!$RemoteAction.ProcedureSummaryController.AddSensorData}',proid,osdevice,
               function(result,event){
                   if(event.status){
                       GetImages();
                   } else {
                       console.log(event);
                   }
               }
               ,{escape:false});

          });
          */
     });
        ////////////////////////
    function loading(val) {
          if (val) {
               document.getElementById('contentLoading').style.display = 'block';
               document.getElementById('contentLoaded').style.display = 'none';
               document.getElementById('surgeonTable').style.display = 'none';
          }
          else {
               document.getElementById('contentLoading').style.display = 'none';
               document.getElementById('contentLoaded').style.display = 'block';
               document.getElementById('surgeonTable').style.display = 'block';
          }
      }

    function changeNavColor(col) {

        //document.getElementById('nav-summary').style.cssText='font-weight: normal;';
        document.getElementById('nav-components').style.cssText='font-weight: normal;';
        document.getElementById('nav-images').style.cssText='font-weight: normal;';

        document.getElementById(col).style.cssText='font-weight: bold;';

    }

    function completeSurvey(page)
        {
          window.open(''+page+'','New','left=300,top=125,width=900,height=750,status=0,toolbar=0,location=0,menubar=0,scrollbars=1,resizable=1');
          callShowRefreshMsg();
     }

     function loadProcedureImages() {
          alert('capturing images and data');
     }

     function stopRKey(evt) {
          var evt = (evt) ? evt : ((event) ? event : null);
          var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null);
          if ((evt.keyCode == 13) && (node.type=="text"))  {return false;}
     }

        function noenter(e){               
        if(window.event){                    
            key = window.event.keyCode;     //IE               
        } 
        else{                    
            key = e.which;     //firefox               
        }               
        if(key == 13) {                    
            var ele=document.getElementById('hiddenbutton');                                                         
            ele.click();           
            return false;               
        } else{                    
            return true;               
        }          
    }     

    //document.onkeypress = stopRKey;
    window.onload=function(){document.getElementById('breadcrumbNav').focus();};

    function fnSetDateFormat(oDateFormat)
            {
             oDateFormat['FullYear'];  //Example = 2007
             oDateFormat['Year'];   //Example = 07
             oDateFormat['FullMonthName']; //Example = January
             oDateFormat['MonthName'];  //Example = Jan
             oDateFormat['Month'];   //Example = 01
             oDateFormat['Date'];   //Example = 01
             oDateFormat['FullDay'];   //Example = Sunday
             oDateFormat['Day'];    //Example = Sun
             oDateFormat['Hours'];   //Example = 01
             oDateFormat['Minutes'];   //Example = 01
             oDateFormat['Seconds'];   //Example = 01
              
             var sDateString;
              
             // Use mm/dd/yyyy format
             sDateString = oDateFormat['Month'] +"/"+ oDateFormat['Date'] +"/"+ oDateFormat['FullYear'];
             return sDateString;
            }
            
            function initialiseCalendar(obj, eleId)
            {
             var element=document.getElementById(eleId);
             var params='close=true';
             if (null!=element)
             {
              //if (element.value.length>0)
              //{
               // date is formatted mm/dd/yyyy - pull out the month and year
               var month=element.value.substr(3,2);
               var year=element.value.substr(6,4);
               params+=',month='+month;
               params+=',year='+year;
               if(eleId.indexOf('expdate2') > -1)
                {
                    params +=',expiry=true';
                    params +=',restrict=true';
                    params +=',limit=3650';
                }
              //}
             }
             fnInitCalendar(obj, eleId, params);
            }
    </script>
    
    <script src="{!URLFOR($Resource.DataTables, 'media/js/jquery.dataTables.min.js')}"></script>
    <script src="{!URLFOR($Resource.DataTables, 'media/js/jquery.dataTables.js')}"></script>
    <script src="{!URLFOR($Resource.DataTables, 'media/js/ColVis.js')}"></script>
    <script src="{!URLFOR($Resource.DataTables, 'media/js/ZeroClipboard.js')}"></script>
    <script src="{!URLFOR($Resource.DataTables, 'media/js/TableTools.js')}"></script>
    <script src="{!URLFOR($Resource.DataTables, 'media/js/ColumnFilterWidgets.js')}"></script>
    <script src="{!URLFOR($Resource.TableSorter, 'jquery.tablesorter.js')}"></script>
    <script src="{!URLFOR($Resource.TableSorter, 'jquery.tablesorter.min.js')}"></script>
    <script src="{!URLFOR($Resource.TableSorter, 'jquery.metadata.js')}"></script>

    <script type="text/javascript">
    $j = jQuery.noConflict();
    $j(document).ready(function () {
        $j("[id$=sdTable]").tablesorter({
            headers: {
                0: {sorter: 'text'},
                1: {sorter: 'text'},
                2: {sorter: 'text'},
                3: {sorter: 'text'},
                4: {sorter: 'text'},
                5: {sorter: 'text'},
                6: {sorter: 'digit'},
                7: {sorter: 'text'},
            }
        });
    });

    </script>
    <apex:outputpanel id="scriptPanel">
        <script type="text/javascript">
            $j = jQuery.noConflict();
             $j(document).ready(function() {
            $j(".datepicker").datepicker( {
                yearRange: "-1:+10",
            changeMonth: true,
        changeYear: true,
        showButtonPanel: true,
        dateFormat: 'MM yy',
        showOn: "focus",
         onClose: function(dateText, inst) { 
            var month = $j("#ui-datepicker-div .ui-datepicker-month :selected").val();
            var year = $j("#ui-datepicker-div .ui-datepicker-year :selected").val();
            $j(this).datepicker('setDate', new Date(year, month, 1));
            }
         });
          });
        </script>
    </apex:outputpanel>
  <apex:outputPanel id="breadcrumbNav_wrapper">
    <table id="breadcrumbNav">
          <tr>
              <td><apex:outputLink value="/apex/PatientListingSearch">Patient Search</apex:outputLink></td>
              <td><apex:outputText value=" > " /></td>
              <td><apex:outputLink value="/apex/PatientView?Id={!procedure.Patient_ID__c}">{!procedure.Patient__c}</apex:outputLink></td>
              <td><apex:outputText value=" > " /></td>
              <td><apex:outputLink value="/apex/CaseView?Id={!procedure.Case__c}">{!procedure.Case__r.Case_Type__r.Description__c}</apex:outputLink></td>
              <td><apex:outputText value=" > " /></td>
              <td>
                  <apex:outputText value="{!procedure.Event_Type__r.Name} {0, date, MM/dd/yyyy}">
                      <apex:param value="{!procedure.Appointment_Start__c}"/>
                  </apex:outputText>
              </td>
          </tr>
    </table>
  </apex:outputPanel>
    <apex:define name="body">
    <apex:form >
        <apex:pageMessages escape="false"/>
        <span id="flexionField"><apex:inputHidden value="{!flexion}" /></span>
        <span id="typeField"><apex:inputHidden value="{!type}" /></span>
        <span id="incrementField"><apex:inputHidden value="{!increment}" /></span>
        <span id="dateField"><apex:inputHidden value="{!measurementDate}" /></span>
        <span id="medialloadField"><apex:inputHidden value="{!medialload}" /></span>
        <span id="lateralloadField"><apex:inputHidden value="{!lateralload}" /></span>
        <span id="rotationField"><apex:inputHidden value="{!rotation}" /></span>
        <span id="actualflexField"><apex:inputHidden value="{!actualflex}" /></span>
        <span id="imagenameField"><apex:inputHidden value="{!imagefilename}" /></span>

<!--         <apex:actionFunction name="popTable" action="{!PopulateTable}" oncomplete="setTimeout(function() {rerenderSDTable()}, 10000);" rerender="attachmentsPanel, detailsPanel, jspanel"> -->
<!--        </apex:actionFunction> -->
        <apex:actionFunction name="rerenderSDTable" action="{!PopulateTable}" rerender="attachmentsPanel, procedureBlock, detailsPanel, jspanel" status="status">
        </apex:actionFunction>
        <apex:outputpanel >
            <apex:actionstatus id="status">
                <apex:facet name="start">
                    <div class="SpinnerpopupBackground"/>
                    <div class="SpinnercustPopup">
                        <img src="{!$Resource.AjaxSpinner}" width="50" height="50" />
                    </div>
                </apex:facet>
            </apex:actionstatus>
        </apex:outputpanel>
        <apex:actionFunction name="callShowRefreshMsg" action="{!showRefreshMsg}" reRender="refreshMsg"/>
        <apex:outputPanel id="navPanel">
            <center>
                <ul id="procNav">
                    <li><apex:commandLink action="{!GoToProcedureImages}" value="Images/Sensor Data" rendered="{!!renderEditView}" rerender="procedureSummaryPanel, attachmentsPanel, documentsPanel, componentsPanel, formsPanel, navPanel, jspanel" status="status" style="{!if(renderProcedureImagesPanel,'font-weight: bold;','')}"/><apex:outputText id="imagesDisabled" value="Images/Sensor Data" rendered="{!renderEditView}"/></li>
                    <li><apex:outputText value=" | "/>   </li>
                    <li><apex:commandLink action="{!GoToComponents}" value="Implant Components" rendered="{!!renderEditView}" status="status" rerender="procedureSummaryPanel, attachmentsPanel, documentsPanel, componentsPanel, formsPanel, navPanel" style="{!if(renderComponents,'font-weight: bold;','')}"/><apex:outputText id="componentsDisabled" value="Implant Components" rendered="{!renderEditView}"/></li>
                    <li><apex:outputText value=" | "/>   </li>
                    <li><apex:commandLink action="{!GoToProcedureDocuments}" value="Documents" rendered="{!!renderEditView}" rerender="procedureSummaryPanel, attachmentsPanel, documentsPanel, componentsPanel, formsPanel, navPanel" status="status" style="{!if(renderProcedureDocumentsPanel,'font-weight: bold;','')}"/><apex:outputText id="documentsDisabled" value="Documents" rendered="{!renderEditView}"/></li>
                    <li><apex:outputText value=" | "/>   </li>
                    <li><apex:commandLink action="{!GoToProcedureForms}" value="Forms" rendered="{!!renderEditView}" rerender="procedureSummaryPanel, attachmentsPanel, documentsPanel, componentsPanel, formsPanel, navPanel" status="status" style="{!if(renderProcedureFormsPanel,'font-weight: bold;','')}"/><apex:outputText id="formsDisabled" value="Forms" rendered="{!renderEditView}"/></li>
                    <li>

                    </li>
                    <li><apex:outputLink style="float:right;margin-right:10px;" rendered="{!!renderEditView}" value="/apex/ProcedureDataToPDF?id={!ProcedureId}" >Procedure PDF</apex:outputLink></li>
                </ul>
            </center>
        </apex:outputPanel>
        <br/>
        <apex:actionFunction name="showProcedureImages" action="{!GoToProcedureImages}" status="status" rerender="procedureSummaryPanel, attachmentsPanel, documentsPanel, componentsPanel, formsPanel, navPanel, detailsPanel, jspanel"/>
        <apex:actionFunction name="populateAttachmentsList" action="{!PopulateTable}" rerender="procedureSummaryPanel, attachmentsPanel, documentsPanel, componentsPanel, formsPanel, navPanel"/>
        <apex:actionFunction name="parsebarcode" action="{!ParseSensorBoxBarCode}" rerender="attachmentsPanel, detailsPanel, errorblock,jspanel"/>
        <apex:outputPanel id="procedureSummaryPanel">
         <b>Sensor Box Barcode: </b>
         <apex:inputText id="sensorbarcode" value="{!sensorBoxCode}" onkeypress="return noenter(event)">
         </apex:inputText>
         <input style="display:none;" id="hiddenbutton"  value="Parse Bar Code" onclick="parsebarcode();"/>
         <apex:commandbutton id="sbcSubmit" value="Submit" action="{!ParseSensorBoxBarCode}" oncomplete="document.getElementById('{!$Component.sensorbarcode}').focus();" rerender="attachmentsPanel, detailsPanel, errorblock,jspanel"/>
          <apex:outputPanel id="errorblock">
            <apex:messages style="list-style-type: none; color: red;"/>
        </apex:outputPanel>
        <apex:pageBlock title="Procedure Summary" id="procedureBlock">

            <apex:pageBlockButtons location="top">

                <apex:commandButton action="{!renderEditView}" value="Edit" reRender="procedureBlock" rendered="{!!renderEditView}" status="status"/>
                <apex:commandButton action="{!save}" value="Save" rendered="{!renderEditView}" status="status"/>
<!--                 reRender="procedureBlock, breadcrumbNav_wrapper"  -->
                <div id="myDiv"></div>
            </apex:pageBlockButtons>

<!--  READ SECTION READ SECTION READ SECTION READ SECTION READ SECTION READ SECTION READ SECTION READ SECTION READ SECTION READ SECTION READ SECTION READ SECTION READ SECTION -->
            <apex:pageBlockSection id="readSection" columns="2" rendered="{!!renderEditView}">
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Patient Name" for="PatientName"/>
                    <apex:outputLink value="/apex/PatientView?id={!procedure.Case__r.Patient__r.Id}" id="PatientName"> {!procedure.Case__r.Patient__r.Last_Name__c}, {!procedure.Case__r.Patient__r.First_Name__c} </apex:outputLink>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Gender" for="Gender"/>
                    <apex:outputText id="Gender"> {!procedure.Case__r.Patient__r.Gender__c}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem rendered="{!procedure.Case__r.Patient__r.Date_Of_Birth__c!=null}">
                    <apex:outputLabel value="DOB" for="DOB"/>
                    <apex:outputText value="{0,date,MM'/'dd'/'yyyy} ({!patientAge} Years Old)">
                        <apex:param value="{!procedure.Case__r.Patient__r.Date_Of_Birth__c}" />
                    </apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Medical Record No." for="MRnumber"/>
                    <apex:outputText id="MRNumber"> {!procedure.Case__r.Patient__r.Medical_Record_Number__c}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="SSN" for="SSN"/>
                    <apex:outputField id="SSN" value="{!procedure.Case__r.Patient__r.SSN__c}" />
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Account No." for="AccNo"/>
                    <apex:outputText id="AccNo"> {!procedure.Case__r.Patient__r.Account_Number__c}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Surgeon" for="Surgeon"/>
                    <apex:outputLink value="/{!procedure.Physician__c}" id="SurgeonName">{!procedure.Physician__r.Name}</apex:outputLink>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Patient Consent" for="PatientConsent"/>
                    <apex:inputCheckbox value="{!clinicaldata.Patient_Consent_Obtained__c}" id="PatientConsentObtained" disabled="true"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Laterality" for="Laterality"/>
                    <apex:outputText value="{!clinicaldata.Laterality__c}" id="Laterality"/>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
            <apex:pageBlockSection title="{!procedure.Case__r.Case_Type__r.Description__c}" columns="3" collapsible="false">
            </apex:pageBlockSection>
            <apex:outputPanel id="readProcedurePanel" rendered="{!!renderEditView}">
            <table class="procedureTable" id="readProcedureTable">
                <tr>
                    <td class="labelcolumn">
                        <apex:outputText value="Diagnoses"/>
                    </td>
                    <td class="datacolumn">
                        <apex:outputText id="PrimaryDiagnosis" value="{!clinicalData.Primary_Diagnosis__r.Name}"/>
                        <apex:outputText value=", " rendered="{!clinicalData.Secondary_Diagnosis__c!=null}"/>
                    </td>
                    <td class="labelcolumn">
                        <apex:outputText value="Height ({!clinicaldata.Height_UOM__c})"/>
                    </td>
                    <td class="datacolumn">
                        <apex:outputText id="Height" value="{!clinicalData.Height__c}"/>
                    </td>
                    <td class="labelcolumn">
                        <!--<apex:outputText value="Weight (pounds)"/>-->
                    </td>
                    <td class="datacolumn">
                        <!--<apex:outputText id="Weight" value="{!clinicalData.Weight__c}"/>-->
                    </td>
                </tr>
                <tr>
                    <td class="labelcolumn">
                        <apex:outputText value=" "/>
                    </td>
                    <td class="datacolumn">
                        <apex:outputText id="SecondaryDiagnosis" value="{!clinicalData.Secondary_Diagnosis__r.Name}"/>
                    </td>
                    <td class="labelcolumn">
                        <apex:outputText value=""/>
                    </td>
                    <td class="datacolumn">
                        <apex:outputText value=""/>
                    </td>
                    <td class="labelcolumn">
                        <apex:outputText value=""/>
                    </td>
                    <td class="datacolumn">
                        <apex:outputText value=""/>
                    </td>
                </tr>
                <tr>
                    <td class="labelcolumn">
                        <apex:outputText value="BMI"/>
                    </td>
                    <td class="datacolumn">
                        <apex:outputText id="BMI" value="{!clinicalData.Calculated_BMI__c}"/>
                    </td>
                    <td class="labelcolumn">
                        <apex:outputText value="Weight ({!clinicaldata.Weight_UOM__c})"/>
                    </td>
                    <td class="datacolumn">
                        <apex:outputText id="Weight" value="{!clinicalData.Weight__c}"/>
                    </td>
                    <td class="labelcolumn">
                        <!--<apex:outputText value="Allergies"/>-->
                    </td>
                    <td class="datacolumn">
                        <!--<apex:outputText id="Allergies" value="{!clinicalData.Allergy_name__c}"/>-->
                    </td>
                </tr>
            </table>
            </apex:outputPanel>
<!--  EDIT SECTION EDIT SECTION EDIT SECTION EDIT SECTION EDIT SECTION EDIT SECTION EDIT SECTION EDIT SECTION EDIT SECTION EDIT SECTION EDIT SECTION EDIT SECTION -->
            <apex:outputPanel id="editProcedurePanel" rendered="{!renderEditView}">
            <apex:pageBlockSection columns="2" collapsible="true">
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Procedure Date"/>
<!--                    <apex:inputField id="procDate" value="{!procedure.Appointment_Start__c}" tabOrderHint="1"/> -->
                        <apex:inputField id="procDate" value="{!tempOpportunity.CloseDate}" onmouseover="initialiseCalendar(this, '{!$Component.procDate}')" tabOrderHint="1"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >

                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="First Name"/>
                    <apex:outputPanel layout="block" styleclass="requiredInput">
                    <apex:outputPanel layout="block" styleclass="requiredBlock"></apex:outputPanel>
                    <apex:inputField id="patFirstname" value="{!patient.First_Name__c}" tabOrderHint="2"/>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                        <apex:outputLabel value="Primary Surgeon"/>
                        <apex:outputPanel layout="block" styleclass="requiredInput">
                        <apex:outputPanel layout="block" styleclass="requiredBlock"></apex:outputPanel>
                        <apex:selectList id="surgeonPicklist" value="{!surgeonName}" label="Surgeon" multiselect="false" size="1" tabindex="131">
                            <apex:selectOptions value="{!surgeonNames}"/>
                            <apex:actionSupport event="onchange" action="{!SelectSurgeon}" rerender="tstpopup, jspanel"/>
                        </apex:selectList>
                        </apex:outputPanel>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Last Name"/>
                    <apex:outputPanel layout="block" styleclass="requiredInput">
                    <apex:outputPanel layout="block" styleclass="requiredBlock"></apex:outputPanel>
                    <apex:inputField id="patLastname" value="{!patient.Last_Name__c}" tabOrderHint="3"/>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >

                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Preferred Language"/>
                    <apex:inputField id="patLanguage" value="{!patient.Language__c}" tabOrderHint="4"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Primary Diagnosis"/>
                    <apex:outputPanel layout="block" styleclass="requiredInput">
                    <apex:outputPanel layout="block" styleclass="requiredBlock"></apex:outputPanel>
                    <apex:inputField id="cdPrimaryDiagnosis" value="{!clinicalData.Primary_Diagnosis__c}" tabOrderHint="14"/>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Medical Record Number"/>
                    <apex:outputPanel layout="block" styleclass="requiredInput">
                    <apex:outputPanel layout="block" styleclass="requiredBlock"></apex:outputPanel>
                    <apex:inputField id="patLanguage" value="{!patient.Medical_Record_Number__c}" tabOrderHint="5"/>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Secondary Diagnosis"/>
                    <apex:inputField id="cdSecondaryDiagnosis" value="{!clinicalData.Secondary_Diagnosis__c}" tabOrderHint="15"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Account Number"/>
                    <apex:inputField id="patAcctNumber" value="{!patient.Account_Number__c}" tabOrderHint="6"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Date of Birth"/>
                    <apex:outputPanel layout="block" styleclass="requiredInput">
                    <apex:outputPanel layout="block" styleclass="requiredBlock"></apex:outputPanel>
<!--                    <apex:inputField id="patDOB" value="{!patient.Date_Of_Birth__c}" tabOrderHint="16"/> -->
                        <apex:inputField id="patDOB" value="{!patient.Date_Of_Birth__c}" onmouseover="initialiseCalendar(this, '{!$Component.patDOB}')" tabOrderHint="16"/>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="SSN"/>
                    <apex:inputField id="patSSN" value="{!patient.SSN__c}" tabOrderHint="7"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Procedure Laterality"/>
                    <apex:outputPanel layout="block" styleclass="requiredInput">
                    <apex:outputPanel layout="block" styleclass="requiredBlock"></apex:outputPanel>
                    <apex:inputField id="cdLaterality" value="{!clinicalData.Laterality__c}" tabOrderHint="17"/>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Gender"/>
                    <apex:outputPanel layout="block" styleclass="requiredInput">
                    <apex:outputPanel layout="block" styleclass="requiredBlock"></apex:outputPanel>
                    <apex:inputField id="patGender" value="{!patient.Gender__c}" tabOrderHint="8"/>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
                <!-- Allergies are no longer editable -->
                <apex:pageBlockSectionItem >
                    <!--<apex:outputLabel value="Allergies"/>
                    <apex:inputField id="cdAllergies" value="{!clinicalData.Allergy__c}" tabOrderHint="14"/>-->
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Race"/>
                    <apex:inputField id="patRace" value="{!patient.Race__c}" tabOrderHint="9"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Anesthesia"/>
                    <apex:inputField id="cdAnesthesia" value="{!clinicalData.Anesthesia_Type__c}" tabOrderHint="18"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Height"/>
                    <apex:outputPanel >
                        <apex:inputField id="cdHeight" value="{!clinicalData.Height__c}" tabOrderHint="10">
                            <apex:actionSupport event="onchange" action="{!CalculateBMI}" rerender="editProcedurePanel" focus="heightUOM"/>
                        </apex:inputField>
                        <apex:inputField id="heightUOM" value="{!clinicalData.Height_UOM__c}" tabOrderHint="11">
                            <apex:actionSupport event="onchange" action="{!ChangeHUOM}" rerender="editProcedurePanel" focus="cdWeight"/>
                        </apex:inputField>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="BMI"/>
                    <apex:outputText id="textBMI" value="{!calculatedBMI}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Weight"/>
                    <apex:outputPanel >
                        <apex:inputField id="cdWeight" value="{!clinicalData.Weight__c}" tabOrderHint="12">
                            <apex:actionSupport event="onchange" action="{!CalculateBMI}" rerender="editProcedurePanel" focus="weightUOM"/>
                        </apex:inputField>
                        <apex:inputField id="weightUOM" value="{!clinicalData.Weight_UOM__c}" tabOrderHint="13">
                            <apex:actionSupport event="onchange" action="{!ChangeWUOM}" rerender="editProcedurePanel" focus="surgeonPicklist"/>
                        </apex:inputField>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Patient Consent"/>
                    <apex:inputField id="cdPatientConsent" value="{!clinicalData.Patient_Consent_Obtained__c}" tabOrderHint="19"/>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
            </apex:outputPanel>
        </apex:pageBlock>
    </apex:outputPanel>
    <apex:outputPanel id="tstpopup">
    <apex:outputPanel styleClass="popupBackground" layout="block" rendered="{!displayPopUp}"/>
        <apex:outputPanel styleClass="custPopup" layout="block" rendered="{!displayPopUp}">
                <apex:pageBlock >
        <apex:pageBlockSection columns="3">
            <apex:pageBlockSectionItem >
                <apex:outputLabel value="Last Name"/>
                <apex:outputPanel layout="block" styleclass="requiredInput">
                <apex:outputPanel layout="block" styleclass="requiredBlock"></apex:outputPanel>
                <apex:inputText value="{!searchLastName}" label="Last Name"/>
                </apex:outputPanel>
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem >
                <apex:outputLabel value="State"/>
                <apex:outputPanel layout="block" styleclass="requiredInput">
                <apex:outputPanel layout="block" styleclass="requiredBlock"></apex:outputPanel>
                <apex:selectList id="statePicklist" value="{!searchState}" label="State:" multiselect="false" size="1">
                    <apex:selectOptions value="{!states}"/>
                </apex:selectList>
                </apex:outputPanel>
            </apex:pageBlockSectionItem>
            <apex:commandButton action="{!getSurgeons}" value="Search" reRender="debugPanel, jspanel, hiddenblock" status="searchStatus"/><br/>
            <apex:actionStatus id="searchStatus" onstart="loading(true)" onstop="loading(false)" />
        </apex:pageBlockSection>
        <apex:outputPanel id="hiddenblock">
        <apex:messages style="list-style-type: none; color: red;"/>
        </apex:outputPanel>
        <div id="contentLoading" style="display:none;">
            <div style="text-align: center;">
              <apex:image url="{!$Resource.AjaxSpinner}" width="50" height="50"/>
            </div>
        </div>
        <apex:outputPanel id="debugPanel" style="overflow:scroll;height:250px;">
            <div id="contentLoaded" style="display:block;">
            <table cellpadding="0" cellspacing="0" border="0" class="display" id="patientlist" style="margin-top:20px; margin-bottom:20px;">
            <thead>
                <tr>
                    <th class="AddColumn"></th>
                    <th>NPI</th>
                    <th>Name</th>
                    <th>Specialty</th>
                </tr>
            </thead>

            <tfoot>
                <tr>
                    <th class="AddColumn"></th>
                    <th>NPI</th>
                    <th>Name</th>
                    <th>Specialty</th>
                </tr>
            </tfoot>

            <tbody>
                <apex:repeat value="{!surgeonLines}" var="surgeon">
                    <tr>
                        <td class="AddColumn">
                            <apex:commandLink action="{!AddSurgeon}" value="Add" status="searchStatus" rerender="debugPanel, jspanel, hiddenblock, tstpopup, editProcedurePanel, procedureBlock">
                                <apex:param name="surgeonNPI" value="{!surgeon.npi}" assignTo="{!newSurgeonNPI}"/>
                                <apex:param name="surgeonLastName" value="{!surgeon.last_name}" assignTo="{!newSurgeonLastName}"/>
                                <apex:param name="surgeonFirstName" value="{!surgeon.first_name}" assignTo="{!newSurgeonFirstName}"/>
                            </apex:commandLink>
                        </td>
                        <td>{!surgeon.npi}</td>
                        <td>{!surgeon.last_name} , {!surgeon.first_name}</td>
                        <td>{!surgeon.Description}</td>
                    </tr>
                 </apex:repeat>
            </tbody>
        </table>
        </div>
        </apex:outputPanel>
        </apex:pageBlock>
                <br/><br/>
        <div style="margin-left:auto; margin-right:0px; position:relative; float:right;">
        <apex:commandButton value="Cancel" action="{!closePopup}" rerender="tstpopup"/>
        </div>
        </apex:outputPanel>
    </apex:outputPanel>
<!--IMAGES ///  IMAGES ///  IMAGES ///  IMAGES ///  IMAGES ///  IMAGES ///  IMAGES ///  IMAGES ///  IMAGES ///  IMAGES ///  IMAGES ///   -->
<!--IMAGES ///  IMAGES ///  IMAGES ///  IMAGES ///  IMAGES ///  IMAGES ///  IMAGES ///  IMAGES ///  IMAGES ///  IMAGES ///  IMAGES ///   -->
<!--IMAGES ///  IMAGES ///  IMAGES ///  IMAGES ///  IMAGES ///  IMAGES ///  IMAGES ///  IMAGES ///  IMAGES ///  IMAGES ///  IMAGES ///   -->
    <apex:outputPanel id="detailsPanel">
        <apex:outputPanel id="attachmentsPanel">
        <apex:pageBlock title="Device Information" rendered="{!renderProcedureImagesPanel}">
            <!--
            <apex:pageBlockSection columns="2">
                <apex:outputText value="{!osDevice.Device_ID__c}" label="Device ID"/>
                <apex:outputText value="{!osDevice.OSManufacturer__r.Name}" label="Manufacturer"/>
                <apex:outputText value="{!osDevice.Lot_Number__c}" label="Lot Number"/>
                <apex:outputText value="{!osDevice.Style__c}" label="Model"/>
                <apex:outputText value="{0,date,MM'/'dd'/'yyyy}" label="Expiration">
                    <apex:param value="{!osDevice.Expiration_Date__c}" />
                </apex:outputText>
                <apex:outputText value="{!osDevice.Year_Assembled__c}" label="Year Assembled"/>
            </apex:pageBlockSection>
            -->
            <apex:pageBlockTable value="{!osDevices}" var="osDevice" rendered="{!osDevices.size>0}">
                <apex:column >
                    <apex:commandLink onclick="if(!confirm('Are you sure you want to remove this record?')) return;" action="{!DeleteDevice}" value="Delete" reRender="attachmentsPanel, jspanel" status="status" rendered="{!$Profile.Name=='System Administrator' || $Profile.Name=='Surgeon Partner Community User' || $Profile.Name=='Hospital Community Login User' }">
                        <apex:param name="deleteDeviceID" value="{!osDevice.Id}" assignTo="{!deleteDeviceID}"/>
                    </apex:commandLink>
                </apex:column>
                <apex:column headerValue="Device ID" value="{!osDevice.Device_ID__c}"/>
                <apex:column headerValue="Manufacturer" value="{!osDevice.OSManufacturer__r.Name}"/>
                <apex:column headerValue="Lot Number" value="{!osDevice.Lot_Number__c}"/>
                <apex:column headerValue="Model" value="{!osDevice.Style__c}"/>
                <apex:column headerValue="Expiration" value="{!osDevice.Expiration_Date__c}"/>
                <apex:column headerValue="Year Assembled" value="{!osDevice.Year_Assembled__c}"/>
            </apex:pageBlockTable>
            <apex:outputText style="color:red; margin-left:10px" value="No Device Data Found" rendered="{!NOT(osDevices.size>0)}" />
        </apex:pageBlock>
        <apex:pageBlock title="Procedure Images" rendered="{!renderProcedureImagesPanel}">
            <apex:pageBlockButtons location="top">
                <!-- <apex:commandbutton value="Load Data" onclick="loadProcedureImages(); return false;"/> -->
                <!-- <input type="button" id="GetData" value="Get Data"/>   -->
                <apex:commandbutton onclick="GetData();" value="Get Data"/>
            </apex:pageBlockButtons>
            <div id="spinnerdiv" style="width:800px; margin:0 auto; display:none;">
                        <img src="{!$Resource.AjaxSpinner}" width="50" height="50" />
            </div>
            <div id="nonspinnerdiv">
            <apex:pageblockSection columns="1" rendered="{!sensorDataLines.size>0}">
            <apex:outputPanel id="sdPanel">
             <div id="dataTables_wrapper">
                        <table cellpadding="0" cellspacing="0" border="0" class="display" id="sensorDatalist">
                        <thead>
                            <tr>
                                <th></th>
                                        <th>Device ID</th>
                                <th>Date</th>
                                <th>Image</th>
                                <th>Medial Load</th>
                                <th>Lateral Load</th>
                                <th>Rotation</th>
                                <th>Actual Flex Ext</th>
                                <th>Mechanical Axis</th>
                            </tr>
                        </thead>

                        <tfoot>
                            <tr>
                                <th></th>
                                        <th>Device ID</th>
                                <th>Date</th>
                                <th>Image</th>
                                <th>Medial Load</th>
                                <th>Lateral Load</th>
                                <th>Rotation</th>
                                <th>Actual Flex Ext</th>
                                <th>Mechanical Axis</th>
                            </tr>
                        </tfoot>

                        <tbody>
                            <apex:repeat value="{!sensorDataLines}" var="line">
                                <tr>
                                    <td>
                                        <apex:commandLink onclick="if(!confirm('Are you sure you want to remove this record?')) return;" action="{!DeleteAttachment}" value="Delete" reRender="attachmentsPanel, jspanel" status="status" rendered="{!$Profile.Name=='System Administrator' || $Profile.Name=='Surgeon Partner Community User' }">
                                            <apex:param name="attachmentID" value="{!line.AttachmentID}" assignTo="{!attid}"/>
                                            <!--<apex:param name="deleteIncrementID" value="{!line.SD_Type_IncrementID}" assignTo="{!deleteIncrementID}"/>-->
                                            <apex:param name="deleteMedialLoadID" value="{!line.SD_Type_MedialLoadID}" assignTo="{!deleteMedialLoadID}"/>
                                            <apex:param name="deleteLateralLoadID" value="{!line.SD_Type_LateralLoadID}" assignTo="{!deleteLateralLoadID}"/>
                                            <apex:param name="deleteRotationID" value="{!line.SD_Type_RotationID}" assignTo="{!deleteRotationID}"/>
                                            <apex:param name="deleteActualFlexID" value="{!line.SD_Type_ActualFlexID}" assignTo="{!deleteActualFlexID}"/>
                                            <apex:param name="deleteAPID" value="{!line.SD_Type_APID}" assignTo="{!deleteAPID}"/>
                                            <apex:param name="deleteHKAID" value="{!line.SD_Type_HKAID}" assignTo="{!deleteHKAID}"/>
                                            <apex:param name="deleteTibiaRotID" value="{!line.SD_Type_TibiaRotID}" assignTo="{!deleteTibiaRotID}"/>
                                            <apex:param name="deleteTibiaTiltID" value="{!line.SD_Type_TibiaTiltID}" assignTo="{!deleteTibiaTiltID}"/>
                                        </apex:commandLink>
                                    </td>
                                             <td>{!line.SD_DeviceID}</td>
                                    <td>{!line.SD_MeasurementDate}</td>
                                    <td>
                                        <a href="/servlet/servlet.FileDownload?file={!line.AttachmentID}" download="ImageName" title="ImageName">
                                            <apex:image rendered="{!line.AttachmentID!=''}" styleclass="snapshot" url="/servlet/servlet.FileDownload?file={!line.AttachmentID}" height="150" width="300"/>
                                        </a>
                    <apex:outputtext value="n/a" rendered="{!line.AttachmentID==''}"/>
                                    </td>
                                    <td>{!line.SD_Type_MedialLoad} lbs</td>
                                    <td>{!line.SD_Type_LateralLoad} lbs</td>
                                    <td>{!line.SD_Type_Rotation} &deg;</td>
                                    <td>{!line.SD_Type_ActualFlex} &deg;</td>
                                    <td>n/a</td>
                                </tr>
                             </apex:repeat>
                        </tbody>
                    </table>
                </div>
                </apex:outputPanel>
            </apex:pageblockSection>

            <!--
            <apex:pageBlockTable value="{!sensorDataLines}" var="line"  id="sdTable" styleClass="tablesorter" headerClass="header">
                <apex:column >
                    <apex:facet name="header">
                                <apex:outputText styleClass="header" value="" />
                    </apex:facet>
                    <apex:commandLink onclick="if(!confirm('Are you sure you want to remove this record?')) return;" action="{!DeleteAttachment}" value="Delete" reRender="attachmentsPanel" status="status" rendered="{!$Profile.Name=='System Administrator' || $Profile.Name=='Surgeon Partner Community User' }">
                        <apex:param name="attachmentID" value="{!line.AttachmentID}" assignTo="{!attid}"/>
                        <apex:param name="deleteIncrementID" value="{!line.SD_Type_IncrementID}" assignTo="{!deleteIncrementID}"/>
                        <apex:param name="deleteMedialLoadID" value="{!line.SD_Type_MedialLoadID}" assignTo="{!deleteMedialLoadID}"/>
                        <apex:param name="deleteLateralLoadID" value="{!line.SD_Type_LateralLoadID}" assignTo="{!deleteLateralLoadID}"/>
                        <apex:param name="deleteRotationID" value="{!line.SD_Type_RotationID}" assignTo="{!deleteRotationID}"/>
                        <apex:param name="deleteActualFlexID" value="{!line.SD_Type_ActualFlexID}" assignTo="{!deleteActualFlexID}"/>
                    </apex:commandLink>
                </apex:column>
                <apex:column value="{!line.SD_MeasurementDate}">
                    <apex:facet name="header">
                                <apex:outputText styleClass="header" value="Date" />
                    </apex:facet>
                </apex:column>
                <apex:column headerValue="Body">
                    <a href="/servlet/servlet.FileDownload?file={!line.AttachmentID}" download="ImageName" title="ImageName">
                    <apex:image styleclass="snapshot" url="/servlet/servlet.FileDownload?file={!line.AttachmentID}" height="150" width="300"/>
                    </a>
                </apex:column>
                <apex:column headerValue="Medial Load" value="{!line.SD_Type_MedialLoad} lbs"/>
                <apex:column headerValue="Lateral Load" value="{!line.SD_Type_LateralLoad} lbs"/>
                <apex:column headerValue="Rotation" value="{!line.SD_Type_Rotation} ?"/>
                <apex:column headerValue="Actual Flex Ext" value="{!line.SD_Type_ActualFlex} ?"/>
            </apex:pageBlockTable>
            -->
            <apex:pageblockSection columns="1" rendered="{!sensorDataLines.size==0}">
            <div style="text-align: center;">
                <apex:outputText style="color:red;" value="No Data Collected"/>
            </div>
            </apex:pageblockSection>
             </div>
        </apex:pageBlock>
        </apex:outputPanel>
<!--DOCUMENTS ///  DOCUMENTS ///  DOCUMENTS ///  DOCUMENTS ///  DOCUMENTS ///  DOCUMENTS ///  DOCUMENTS ///  DOCUMENTS ///  DOCUMENTS ///  DOCUMENTS ///  DOCUMENTS ///   -->
<!--DOCUMENTS ///  DOCUMENTS ///  DOCUMENTS ///  DOCUMENTS ///  DOCUMENTS ///  DOCUMENTS ///  DOCUMENTS ///  DOCUMENTS ///  DOCUMENTS ///  DOCUMENTS ///  DOCUMENTS ///   -->
<!--DOCUMENTS ///  DOCUMENTS ///  DOCUMENTS ///  DOCUMENTS ///  DOCUMENTS ///  DOCUMENTS ///  DOCUMENTS ///  DOCUMENTS ///  DOCUMENTS ///  DOCUMENTS ///  DOCUMENTS ///   -->
        <apex:outputPanel id="documentsPanel">
            <apex:pageBlock title="Documents" id="documentBlock" rendered="{!renderProcedureDocumentsPanel}">
                <apex:pageBlockTable value="{!documents}" var="document">
                    <apex:column headerValue="">
                        <apex:commandLink onclick="if(!confirm('Are you sure you want to remove this record?')) return;" action="{!DeleteNonImageAttachment}" value="Delete" rerender="attachmentsPanel, documentsPanel" status="status">
                            <apex:param name="attachmentID" value="{!document.Id}" assignTo="{!attid}"/>
                        </apex:commandLink>
                    </apex:column>
                    <apex:column headerValue="File Name">
                        <apex:commandLink id="cmdShowPDF" value="{!document.name}" onclick="window.open('/servlet/servlet.FileDownload?file={!document.id}','_blank','location=no,resizable=yes,toolbar=no,status=no,menubar=no,scrollbars=1', 1);" action="{!logAttachmentRead}">
                            <apex:param name="attachmentID" value="{!document.Id}" assignTo="{!attid}"/>
                        </apex:commandLink>
                        <!--<apex:outputLink target="_blank" value="/servlet/servlet.FileDownload?file={!document.id}">{!document.name}-->
                            <!--<apex:actionSupport action="{!logAttachmentRead}" event="onclick">
                                <apex:param name="attachmentID" value="{!document.Id}" assignTo="{!attid}"/>
                            </apex:actionSupport>-->
                        <!--</apex:outputLink>-->
                    </apex:column>
                </apex:pageBlockTable>
            </apex:pageBlock>
            <apex:iframe height="300px" id="AttachmentUploadPage" src="/apex/AttachmentUpload?id={!ProcedureID}" width="100%" rendered="{!renderProcedureDocumentsPanel}" />
        </apex:outputPanel>
<!--IMPLANT SUMMARY ///  IMPLANT SUMMARY ///  IMPLANT SUMMARY ///  IMPLANT SUMMARY ///  IMPLANT SUMMARY ///  IMPLANT SUMMARY ///  IMPLANT SUMMARY ///  IMPLANT SUMMARY ///  IMPLANT SUMMARY ///  IMPLANT SUMMARY ///  IMPLANT SUMMARY ///   -->
<!--IMPLANT SUMMARY ///  IMPLANT SUMMARY ///  IMPLANT SUMMARY ///  IMPLANT SUMMARY ///  IMPLANT SUMMARY ///  IMPLANT SUMMARY ///  IMPLANT SUMMARY ///  IMPLANT SUMMARY ///  IMPLANT SUMMARY ///  IMPLANT SUMMARY ///  IMPLANT SUMMARY ///   -->
<!--IMPLANT SUMMARY ///  IMPLANT SUMMARY ///  IMPLANT SUMMARY ///  IMPLANT SUMMARY ///  IMPLANT SUMMARY ///  IMPLANT SUMMARY ///  IMPLANT SUMMARY ///  IMPLANT SUMMARY ///  IMPLANT SUMMARY ///  IMPLANT SUMMARY ///  IMPLANT SUMMARY ///   -->
        <apex:outputPanel id="componentsPanel">
            <script type="text/javascript">
                function stopRKey(evt)
                {
                    //alert(evt.keyCode);
                    var evt = (evt) ? evt : ((event) ? event : null);
                    var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null);
                    if ((evt.keyCode == 13) && (node.type=="text"))
                    {
                        //alert('calling checkBarcodes');
                        checkBarcodes(node);
                        //node.blur();
                        return false;
                    }
                }
            </script>
            <apex:outputPanel id="expirypopup">
                <apex:outputPanel styleClass="popupBackground" layout="block" rendered="{!displayExpirationPopUp}"/>
                <apex:outputPanel styleClass="expPopup" layout="block" rendered="{!displayExpirationPopUp}">
                    <apex:pageBlock >
                        <apex:pageBlockSection columns="1">
                            <apex:pageBlockSectionItem >
                                <apex:outputLabel value="Expiration Date"/>
                                <apex:outputPanel layout="block" styleclass="requiredInput">
                                    <apex:outputPanel layout="block" styleclass="requiredBlock"></apex:outputPanel>
                                    <apex:inputtext id="expDate" html-class="datepicker" value="{!implantDateString}"/>
                                    <!--<apex:inputField id="expDate" value="{!editImplant.Expiration_Date__c}"/>-->
                                </apex:outputPanel>
                            </apex:pageBlockSectionItem>
                        </apex:pageBlockSection>
                    </apex:pageBlock>
                    <br/><br/>
                    <div style="margin-left:auto; margin-right:0px; position:relative; float:right;">
                        <apex:commandButton value="Save" action="{!saveExpiry}" status="status" rerender="expirypopup,msgPanel,tableContainer, theContainer, scriptPanel"/>&nbsp;&nbsp;&nbsp;
                        <apex:commandButton value="Cancel" action="{!cancelExpiry}" status="status" rerender="expirypopup,msgPanel,tableContainer, theContainer, scriptPanel"/>
                    </div>
                </apex:outputPanel>
            </apex:outputPanel>
            <apex:pageBlock title="Implant Components"  rendered="{!renderComponents}"><!-- title="Implant Record">-->
                <apex:outputPanel id="msgPanel">
                    <apex:pageMessages />
                </apex:outputPanel>
                <apex:pageBlockSection columns="2">
                    <apex:pageBlockSectionItem >
                        <apex:outputPanel >
                            <!--<apex:outputText style="font-weight:bold;font-size:larger;"  value="Implant Record"/>&nbsp;&nbsp;&nbsp;-->
                            <apex:outputText escape="true" style="font-size:8pt;">
                                Items highlighted in <font style="background:#fbec97;font-weight:bold;">Yellow</font> are not approved for use at this location
                            </apex:outputText>
                        </apex:outputPanel>
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem >
                        <apex:outputPanel style="float:right">
                            <apex:outputText style="font-weight:bold"  value="Name "/>
                            <apex:outputText value="{!PatientName}"/>&nbsp;&nbsp;&nbsp;
                            <apex:outputText style="font-weight:bold"  value="   Medical Record Number "/>
                            <apex:outputText value="{!MRN}"/><br/><br/>
                        </apex:outputPanel>
                    </apex:pageBlockSectionItem>
                </apex:pageBlockSection>
                <apex:variable value="{!0}" var="rowNumber" />

                <apex:actionFunction name="lookupProdData"  focus="j_id0:j_id36:j_id325:ImplantDetail:0:expdate2" oncomplete="$j('.datepicker').datepicker('show');" status="status" action="{!getProductFromId}" reRender="msgPanel,ImplantDetail, scriptPanel">
                    <apex:param value="" name="ProdID"/>
                </apex:actionFunction>
                <apex:actionFunction name="saveBarCode" status="status" action="{!SaveAndAddNewRow}" oncomplete="setBarCodeFocus()" rerender="expirypopup,msgPanel,tableContainer, theContainer, scriptPanel"/>
                <apex:actionFunction name="updateSaveImplants" status="status" action="{!SaveImplantUpdates}" reRender="msgPanel,theContainer, scriptPanel"/>
                <apex:outputPanel id="tableContainer">
                    <apex:pageBlockTable value="{!ImplantSummlist}" var="isl"   id="ImplantDetail">
                        <apex:column rendered="{!isl.id != editImplant.id}"  style="{!if(isl.Is_Hospital_Product__c == 'No','background:#fbec97;','background:#ffffff;')}">
                            <!-- Existing Manufacturer (with warning) -->
                            <apex:facet name="header">Manufacturer</apex:facet>
                            <apex:outputField value="{!isl.Product_Catalog_Id__r.Manufacturer__r.Name}"/>
                        </apex:column>
                        <apex:column style="background:#e4f3fe;" rendered="{!(isl.id == editImplant.id || isl.id == null)}">
                            <!-- New Manufacturer -->
                            <apex:facet name="header">Manufacturer</apex:facet>
                            <apex:outputField value="{!curProduct.Manufacturer__r.Name}" />
                        </apex:column>
                        <apex:column rendered="{!isl.id != editImplant.id}" style="{!if(isl.Is_Hospital_Product__c == 'No','background:#fbec97;','background:#ffffff;')}">
                            <!-- Existing Product Number -->
                            <apex:facet name="header">Product Number</apex:facet>
                            <apex:outputField value="{!isl.Manufacturer_SKU__c}"/>
                        </apex:column>
                        <apex:column style="background:#e4f3fe;" rendered="{!(isl.id == editImplant.id || isl.id == null)}">
                            <!-- New Product Number -->
                            <apex:facet name="header">Product Number</apex:facet>
                            <apex:inputField id="prodId1" value="{!editImplant.Product_Catalog_Id__c}" onchange="if(document.getElementById('{!$Component.prodId1}' + '_lkid').value != '000000000000000') {lookupProdData((document.getElementById('{!$Component.prodId1}' + '_lkid')).value);}" rendered="{!(BarCodeEntry==false && (curProdId == null || curProdId == ''))}" />
                            <apex:outputField value="{!curProduct.Name}"/>
                        </apex:column>
                        <apex:column rendered="{!isl.id != editImplant.id}" style="{!if(isl.Is_Hospital_Product__c == 'No','background:#fbec97;','background:#ffffff;')}">
                            <!-- Existing Product Name -->
                            <apex:facet name="header">Product Name</apex:facet>
                            <apex:outputField value="{!isl.Product_Catalog_Id__r.Product_Name__c}"/>
                        </apex:column>
                        <apex:column style="background:#e4f3fe;" rendered="{!(isl.id == editImplant.id || isl.id == null)}">
                            <!-- New Product Name -->
                            <apex:facet name="header">Product Name</apex:facet>
                            <apex:inputField id="prodId2" value="{!editImplant.Product_Catalog_Id__c}" onchange="if(document.getElementById('{!$Component.prodId2}' + '_lkid').value != '000000000000000') {lookupProdData((document.getElementById('{!$Component.prodId1}' + '_lkid')).value);}" rendered="{!(BarCodeEntry==false && (curProdId == null || curProdId == ''))}" />
                            <apex:outputField value="{!curProduct.Product_Name__c}" rendered="{!(BarCodeEntry==true || curProdId != '')}" />
                        </apex:column>
                        <apex:column rendered="{!isl.id != editImplant.id}" style="{!if(isl.Is_Hospital_Product__c == 'No','background:#fbec97;','background:#ffffff;')}">
                            <!-- Existing Lot Number -->
                            <apex:facet name="header">Lot Number</apex:facet>
                            <apex:outputField value="{!isl.Lot_Number__c}" />
                        </apex:column>
                        <apex:column style="background:#e4f3fe;" rendered="{!(isl.id == editImplant.id || isl.id == null)}">
                            <!-- New Lot Number -->
                            <apex:facet name="header">Lot Number</apex:facet>
                            <apex:inputField id="lotnmbr" value="{!editImplant.Lot_Number__c}" rendered="{!BarCodeEntry==false}" required="{!curProdId != ''}" />
                            <apex:outputField value="{!editImplant.Lot_Number__c}" rendered="{!BarCodeEntry==true}" />
                        </apex:column>
                        <apex:column rendered="{!isl.id != editImplant.id}" style="{!if(isl.Is_Hospital_Product__c == 'No','background:#fbec97;','background:#ffffff;')}">
                            <!-- Existing Expiration Date -->
                            <apex:facet name="header">Expiration Date</apex:facet>
<!--                             <apex:outputField value="{!isl.Expiration_Date__c}" /> -->
                            <apex:outputText value="{0,date,MMMM yyyy}">
                                    <apex:param value="{!isl.Expiration_Date__c}"/>
                            </apex:outputText>     
                        </apex:column>
                        <apex:column style="background:#e4f3fe;" rendered="{!(isl.id == editImplant.id || isl.id == null)}" >
                            <!-- New Expiration Date -->
                            <apex:facet name="header">Expiration Date</apex:facet>
                            <apex:inputtext id="expdate2" html-class="datepicker" value="{!implantDateString}" rendered="{!BarCodeEntry==false}" required="{!curProdId != ''}"/>
<!--                             <input name="datepicker" id="datepicker" class="datepicker"/> -->
                            <apex:outputField value="{!editImplant.Expiration_Date__c}" rendered="{!BarCodeEntry==true}" />
                        </apex:column>
                        <apex:column rendered="{!isl.id != editImplant.id && isl.Is_Hospital_Product__c != 'No'}" style="background:#ffffff;">
                            <apex:facet name="header">Approved</apex:facet>
                            <apex:outputfield value="{!isl.Is_Hospital_Product__c}"/>
                        </apex:column>
                        <apex:column rendered="{!isl.id != editImplant.id && isl.Is_Hospital_Product__c == 'No'}" style="background:#fbec97;">
                            <apex:facet name="header">Approved</apex:facet>
                            <span style="font-weight: bold; color: red;">
                                <apex:outputfield value="{!isl.Is_Hospital_Product__c}"/>
                            </span>
                        </apex:column>
                        <apex:column style="background:#e4f3fe;" rendered="{!(isl.id == editImplant.id || isl.id == null)}">
                            <apex:facet name="header">Approved</apex:facet>
                            <span style="{!if(isl.Is_Hospital_Product__c != null && isl.Is_Hospital_Product__c == 'No','font-weight: bold;color:red;','')}">
                                <apex:outputfield value="{!isl.Is_Hospital_Product__c}"/>
                            </span>
                        </apex:column>
                        <apex:column rendered="{!isl.id != editImplant.id}" style="{!if(isl.Is_Hospital_Product__c == 'No','background:#fbec97;','background:#ffffff;')}">
                            <apex:facet name="header">Final Status</apex:facet>
                            <apex:outputfield value="{!isl.Status__c}" rendered="{!(BarCodeEntry==false && (curProdId != null && curProdId != ''))}"/>
                            <apex:inputField value="{!isl.Status__c}" onchange="updateSaveImplants();" rendered="{!(BarCodeEntry==false && (curProdId == null || curProdId == '')) || BarCodeEntry==true}"/>
                        </apex:column>
                        <apex:column style="background:#e4f3fe;" rendered="{!(isl.id == editImplant.id || isl.id == null)}">
                            <apex:facet name="header">Final Status</apex:facet>
                            <apex:inputField value="{!editImplant.Status__c}" />
                        </apex:column>
                        <!--<apex:column width="8%" rendered="{!isl.id != editImplant.id}" style="{!if(isl.Is_Hospital_Product__c == 'No','background:#fbec97;','background:#ffffff;')}">
                            <apex:facet name="header">Action</apex:facet>
                            <apex:outputPanel >
                                <apex:commandLink style="font-weight:bold" value="Delete" status="status" onclick="if(!confirm('Are you sure you want to remove this record?')) return;" action="{!delImplant}" rerender="tableContainer,theContainer">
                                    <apex:param name="delid" value="{!isl.Id}"/>
                                </apex:commandLink>
                                <apex:variable var="rowNumber" value="{!rowNumber + 1}" />
                            </apex:outputPanel>
                        </apex:column>
                        <apex:column width="8%" style="background:#e4f3fe;" rendered="{!(isl.id == editImplant.id || isl.id == null) && nowAdding==true && BarCodeEntry==false}">
                            <apex:facet name="header">Action</apex:facet>
                            <apex:commandLink action="{!SaveAndAddNewRow}" status="status" rerender="tableContainer,theContainer" value="Add" style="font-weight:bold" />&nbsp;&nbsp;&nbsp;
                            <apex:commandLink action="{!ClearNewRow}" status="status" rerender="tableContainer,theContainer" value="Cancel" style="font-weight:bold" />
                        </apex:column> -->
                        <apex:column width="8%" style="{!if((isl.id == editImplant.id || isl.id == null),'background:#e4f3fe;',if(isl.Is_Hospital_Product__c == 'No','background:#fbec97;','background:#ffffff;'))}">
                            <apex:facet name="header">Action</apex:facet>
                            <apex:outputPanel rendered="{!isl.id != editImplant.id}">
                                <apex:commandLink style="font-weight:bold" value="Delete" status="status" onclick="if(!confirm('Are you sure you want to remove this record?')) return;" action="{!delImplant}" rerender="tableContainer,theContainer">
                                    <apex:param name="delid" value="{!isl.Id}"/>
                                </apex:commandLink>
                                <apex:variable var="rowNumber" value="{!rowNumber + 1}" />
                            </apex:outputPanel>
                            <apex:outputPanel rendered="{!(isl.id == editImplant.id || isl.id == null) && nowAdding==true && BarCodeEntry==false}">
                                <apex:commandLink action="{!SaveAndAddNewRow}" status="status" rerender="tableContainer,theContainer, scriptPanel" value="Add" style="font-weight:bold" />&nbsp;&nbsp;&nbsp;
                                <apex:commandLink action="{!ClearNewRow}" status="status" rerender="tableContainer,theContainer" value="Cancel" style="font-weight:bold" immediate="true" />
                            </apex:outputPanel>
                        </apex:column>
                    </apex:pageBlockTable>
                </apex:outputPanel>
                <apex:pageBlockSection columns="1" id="theSection">
                    <apex:outputPanel id="theContainer">
                        <apex:outputPanel id="barcodepanel" rendered="{!BarCodeEntry==true}">
                            First Barcode&nbsp;&nbsp;
                            <apex:inputtext id="firstbar" value="{!Firstbarcode}" disabled="{!displayExpirationPopUp}" onchange="if(this.value.indexOf('/') != -1 || this.value.length>25) saveBarCode();" />&nbsp;&nbsp;&nbsp;
                            Second Barcode&nbsp;&nbsp;<apex:inputtext id="secondbar" disabled="{!displayExpirationPopUp}" value="{!Secondbarcode}" onchange="if(this.value.indexOf('/') != -1 || document.getElementById('{!$Component.firstbar}').value != '') saveBarCode();"/>
                            <!--<apex:commandButton action="{!SaveAndAddNewRow}" status="status" value="Load Product" rerender="tableContainer,theContainer"/>-->
                            <script type="text/javascript">
                                function checkBarcodes(pElement)
                                {
                                    //alert(pElement.id + ' Is the element received');
                                    if(pElement.id == '{!$Component.firstbar}')
                                    {
                                        //if(pElement.value.indexOf('/') != -1 || document.getElementById('{!$Component.secondbar}').value != '')
                                        //    saveBarCode();
                                        //else
                                        //    {
                                                document.getElementById('{!$Component.secondbar}').focus();
                                                //alert('{!$Component.secondbar} should have focus...');
                                        //    }
                                    }
                                    else if(pElement.id == '{!$Component.secondbar}')
                                    {
                                        //if(pElement.value.indexOf('/') != -1 || document.getElementById('{!$Component.firstbar}').value != '')
                                        //    saveBarCode();
                                        //else
                                        //    {
                                                document.getElementById('{!$Component.firstbar}').focus();
                                                //alert('{!$Component.firstbar} should have focus...');
                                        //    }
                                    }

                                }

                                function setBarCodeFocus()
                                {
                                    document.getElementById('{!$Component.firstbar}').focus();
                                }

                                document.getElementById('{!$Component.barcodepanel}').onkeypress = stopRKey;
                                document.getElementById('{!$Component.firstbar}').focus();
                            </script>
                        </apex:outputPanel>
                        <br/><br/>
                        <!--<apex:outputPanel id="addnew" rendered="{!BarCodeEntry==false && nowAdding==false}">
                            <apex:commandButton action="{!addNewImplantRow}" status="status" value="New Entry"/>
                        </apex:outputPanel>-->
                        <apex:outputPanel id="switchbuttons">
                            <apex:commandButton id="cmdBarCode" status="status" action="{!SwitchBarcode}" value="Barcode" disabled="{!BarCodeEntry==true}" rerender="theContainer,tableContainer">
                                <!--<apex:actionsupport event="onclick" rerender="barcodepanel,addnew,finalize,switchbuttons"/>-->
                            </apex:commandButton>
                            <apex:commandButton id="cmdKeyboard" status="status" action="{!SwitchKeyboard}" value="Keyboard" disabled="{!BarCodeEntry==false}" rerender="theContainer,tableContainer, scriptPanel">
                                <!--<apex:actionsupport event="onclick" rerender="switchbuttonscontainer,tableContainer"/>-->
                            </apex:commandButton>
                            <!--<apex:commandButton style="float:right" status="status" action="{!AcceptImplants}" value="Accept"  rerender="ImplantDetail,switchbuttons,finalize" rendered="{!nowAdding==true}" onclick="if({!editImplant.Product_Catalog_Id__c==null && (editImplant.Manufacturer__c!=null || editImplant.Lot_Number__c!=null || editImplant.Expiration_Date__c!=null)}){alert('You must enter all fields to continue.');return false;}">-->
                            <!--apex:actionsupport event="onclick" rerender="firstbar,secondbar"/-->
                            <!--</apex:commandButton>-->
                        </apex:outputPanel>
                        <apex:outputPanel id="finalize" style="float:right"><!-- rendered="{!nowAdding == false}">-->
                            <!--<apex:commandButton id="cmdUpdate" action="{!saveStatuses}" status="status" value="Save Changes" rerender="tableContainer,theContainer,msgPanel" rendered="{!ShowSaveUpdates}"/>-->
                            <apex:commandButton id="cmdGenerateForms" action="{!GenerateForms}" status="status" value="Create PDF Form" rerender="tableContainer,theContainer,msgPanel" rendered="{!ShowCreateForms}" oncomplete="window.open('{!AttachmentURL}','_blank','location=no,resizable=yes,toolbar=no,status=no,menubar=no,scrollbars=1', 1);return false;">
                            </apex:commandButton>
                            <apex:commandButton id="cmdShowPDF" value="View Form" onclick="window.open('{!AttachmentURL}','_blank','location=no,resizable=yes,toolbar=no,status=no,menubar=no,scrollbars=1', 1);" action="{!logPDFRead}" rendered="{!AttachmentURL != '' && (!ShowCreateForms && !ShowSaveUpdates)}"/>
                            <apex:commandButton id="cmdAccept" action="{!VerifyandAccept}" status="status" value="Accept" rerender="procedureSummaryPanel, attachmentsPanel, componentsPanel, documentsPanel, formsPanel, navPanel, startProcedurePanel"/>
                        </apex:outputPanel>
                    </apex:outputPanel>
            </apex:pageBlockSection>
        </apex:pageBlock>
        </apex:outputPanel>
<!--FORMS ///  FORMS ///  FORMS ///  FORMS ///  FORMS ///  FORMS ///  FORMS ///  FORMS ///  FORMS ///  FORMS ///  FORMS ///   -->
        <apex:outputPanel id="formsPanel">
            <apex:pageBlock title="Event Forms" id="formBlock" rendered="{!renderProcedureFormsPanel}">
                <apex:outputPanel id="refreshMsg">
                    <center>
                    <apex:commandButton action="{!refreshEventForms}"  title="Refresh" value="Refresh" rendered="{!showRefreshLabel}" reRender="refreshMsg,list"/>&nbsp;&nbsp;&nbsp;
                    <apex:outputLabel style="color:red;" rendered="{!showRefreshLabel}">Please refresh this page after the form is complete.</apex:outputLabel>
                    </center><br/>
                </apex:outputPanel>
                <apex:outputPanel >
                    <apex:pageBlockTable width="100%" value="{!currEventForms}" var="ef" id="list" cellspacing="0">
                        <apex:column >
                            <apex:facet name="header">
                                Actions
                            </apex:facet>
                            <apex:outputLink value="/ProcedureEventFormView?id={!ef.Id}&RetUrl={!srRetURL}" rendered="{!ef.Form_Complete__c}">View Survey Response</apex:outputLink>
                            <apex:outputLink value="javascript:completeSurvey('{!ef.Event_Form_URL__c}')" rendered="{!!ef.Form_Complete__c}">Take Survey</apex:outputLink>
                        </apex:column>
                        <apex:column value="{!ef.survey__r.Name__c}">
                            <apex:facet name="header">
                                Name
                            </apex:facet>
                        </apex:column>
                        <!--<apex:column value="{!ef.Start_Date__c}">
                            <apex:facet name="header">
                                Start Date
                            </apex:facet>
                        </apex:column>-->
                        <apex:column value="{!ef.Mandatory__c}">
                            <apex:facet name="header">
                                Mandatory
                            </apex:facet>
                        </apex:column>
                        <apex:column value="{!ef.Form_Complete__c}">
                            <apex:facet name="header">
                                Completed
                            </apex:facet>
                        </apex:column>
                        <apex:column value="{!ef.End_Date__c}" rendered="{!ef.End_Date__c != null}">
                            <apex:facet name="header">
                                Completed Date
                            </apex:facet>
                        </apex:column>
                        <apex:column value="{!'n/a'}" rendered="{!ef.End_Date__c == null}">
                            <apex:facet name="header">
                                Completed Date
                            </apex:facet>
                        </apex:column>
                    </apex:pageBlockTable>
                </apex:outputPanel>
            </apex:pageBlock>
        </apex:outputPanel>
    </apex:outputPanel>
</apex:form>

        <apex:outputPanel id="jspanel">
        <script type="text/javascript" charset="UTF-8">
        var jq$ = jQuery.noConflict();
        jq$(document).ready( function () {
            var oTable = jq$('#patientlist').dataTable( {
                "bFilter": false,
                "iDisplayLength": 10,
                "aLengthMenu": [[10, 20, 50, 100, -1], [10, 20, 50, 100, "All"]],
                "sDom": 'WRC<"clear">lftip',
                "bJQueryUI": true,
                "sPaginationType": "full_numbers",
                "aoColumnDefs": [ { "bSearchable": false, "aTargets": [ 0, 1, 2, 3] }],
                "aoColumnDefs": [ { "bVisible": false, "aTargets": [ ] }],
                "oColumnFilterWidgets": { "aiExclude": [ 0, 1, 2, 3] },
                "aaSorting": [[2,'asc']],
            });

            jq$("#procedureslist_filter input").keyup( function () {
                /* Filter on the column (the index) of this element */
                oTable.fnFilter( this.value, jq$("#patientlist_filter input").index(0) );
            } );
            jq$('#patientlist_length').css("display", "none");

            var oTable2 = jq$('#sensorDatalist').dataTable( {
                "bFilter": false,
                //"iDisplayLength": 10,
                "aLengthMenu": [[10, 20, 50, 100, -1], [10, 20, 50, 100, "All"]],
                "sDom": 'WRC<"clear">lftip',
                "bJQueryUI": true,
                "sPaginationType": "full_numbers",
                "aoColumnDefs": [ { "bSearchable": false, "aTargets": [ 0, 1, 2, 3] }],
                "aoColumnDefs": [ { "bSortable": false, "aTargets": [ 0, 3 ] }],
                "aoColumnDefs": [ { "bVisible": false, "aTargets": [ ] }],
                "oColumnFilterWidgets": { "aiExclude": [ 0, 1, 2, 3, 4, 5, 6, 7, 8] },
                "aaSorting": [[2,'asc']],
            });

            jq$('#sensorDatalist').dataTable( {
                "bDestroy": true,
                "bRetrieve": true
            } );

            jq$("#sensorDatalist_filter input").keyup( function () {
                /* Filter on the column (the index) of this element */
                oTable.fnFilter( this.value, jq$("#sensorDatalist_filter input").index(0) );
            } );
            jq$('#sensorDatalist_length').css("display", "none");
        });
        </script>
        </apex:outputPanel>
</apex:define>
</apex:page>