<apex:page controller="ProcedureCreationController" sidebar="false" docType="html-5.0" tabStyle="Procedures__tab" action="{!CheckForAutoCreation}">

	<!--apex:includescript value="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.js"/-->
	<script src="{!URLFOR($Resource.JQueryUI, 'jquery-ui-1.10.3/jquery-1.9.1.js')}"></script>
	<script src="{!URLFOR($Resource.JSCalendar,'calendar.js')}"></script>
	<apex:stylesheet value="{!URLFOR($Resource.JSCalendar,'calendar_blue.css')}" />	

	<script type="text/javascript">
		  window.onload = setFocus
		  function setFocus() {
		    document.getElementById("patFirstname").focus();
		  }
		
		  function loading(val) {
		    if (val) {
		      document.getElementById('contentLoading').style.display = 'block';
		      document.getElementById('contentLoaded').style.display = 'none';
		    }
		    else {
		      document.getElementById('contentLoading').style.display = 'none';
		      document.getElementById('contentLoaded').style.display = 'block';
		    }
		  }
		  
		  function fnSetDateFormat(oDateFormat)
			{
			 oDateFormat['FullYear'];  //Example = 2007
			 oDateFormat['Year'];   //Example = 07
			 oDateFormat['FullMonthName']; //Example = January
			 oDateFormat['MonthName'];  //Example = Jan
			 oDateFormat['Month'];   //Example = 01
			 oDateFormat['Date'];   //Example = 01
			 oDateFormat['FullDay'];   //Example = Sunday
			 oDateFormat['Day'];    //Example = Sun
			 oDateFormat['Hours'];   //Example = 01
			 oDateFormat['Minutes'];   //Example = 01
			 oDateFormat['Seconds'];   //Example = 01
			  
			 var sDateString;
			  
			 // Use mm/dd/yyyy format
			 sDateString = oDateFormat['Month'] +"/"+ oDateFormat['Date'] +"/"+ oDateFormat['FullYear'];
			 return sDateString;
			}
			
			function initialiseCalendar(obj, eleId)
			{
			 var element=document.getElementById(eleId);
			 var params='close=true';
			 if (null!=element)
			 {
			  if (element.value.length>0)
			  {
			   // date is formatted mm/dd/yyyy - pull out the month and year
			   var month=element.value.substr(3,2);
			   var year=element.value.substr(6,4);
			   params+=',month='+month;
			   params+=',year='+year;
			  }
			 }
			 fnInitCalendar(obj, eleId, params);
			}
	</script>
	<style type="text/css" title="currentStyle">
		@import "{!URLFOR($Resource.DataTables, 'media/css/demo_page.css')}";
		@import "{!URLFOR($Resource.DataTables, 'media/css/demo_table.css')}";
		@import "{!URLFOR($Resource.DataTables, 'media/css/ColReorder.css')}";
		@import "{!URLFOR($Resource.DataTables, 'media/css/ColVis.css')}";
		@import "{!URLFOR($Resource.DataTables, 'media/css/TableTools.css')}";
		@import "{!URLFOR($Resource.DataTables, 'media/css/ColumnFilterWidgets.css')}";
		@import "{!URLFOR($Resource.DataTables, 'media/css/demo_table_jui.css')}";
		@import "{!URLFOR($Resource.DataTables, 'media/examples_support/themes/smoothness/jquery-ui-1.8.4.custom.css')}";
	</style>		
	<style type="text/css">
			.datePicker{
                    visibility:hidden;
          }
		    .custPopup{
		            background-color: white;
		            border-width: 2px;
		            border-style: solid;
		            z-index: 9999;
		            left: 50%;
		            padding:10px;
		            position: absolute;
		            /* These are the 3 css properties you will need to change so the popup 
		            displays in the center of the screen. First set the width. Then set 
		            margin-left to negative half of what the width is. You can add 
		            the height property for a fixed size pop up if you want.*/
		            width: 900px;
		            margin-left: -450px;
		            top:100px;
		        }
		        .popupBackground{
		            background-color:black;
		            opacity: 0.20;
		            filter: alpha(opacity = 20);
		            position: absolute;
		            width: 100%;
		            height: 100%;
		            top: 0;
		            left: 0;
		            z-index: 9998;
		        }	
				.SpinnercustPopup{
		            background-color: white;
		            border-width: 2px;
		            border-style: solid;
		            z-index: 9999;
		            left: 45%;
		            padding:10px;
		            position: absolute;
		            /* These are the 3 css properties you will need to change so the popup 
		            displays in the center of the screen. First set the width. Then set 
		            margin-left to negative half of what the width is. You can add 
		            the height property for a fixed size pop up if you want.*/
		            width: 50px;
		            top:100px;
		        }
		        .SpinnerpopupBackground{
		            background-color:black;
		            opacity: 0.20;
		            filter: alpha(opacity = 20);
		            position: absolute;
		            width: 100%;
		            height: 100%;
		            top: 0;
		            left: 0;
		            z-index: 9998;
		        }	
			button.ColVis_Button { display: none; }
			span.dateInput span.dateFormat{ display:none; }
	</style>
	
	<script src="{!URLFOR($Resource.DataTables, 'media/js/jquery.dataTables.min.js')}"></script>
	<script src="{!URLFOR($Resource.DataTables, 'media/js/jquery.dataTables.js')}"></script>
	<script src="{!URLFOR($Resource.DataTables, 'media/js/ColVis.js')}"></script>
	<script src="{!URLFOR($Resource.DataTables, 'media/js/ZeroClipboard.js')}"></script>
	<script src="{!URLFOR($Resource.DataTables, 'media/js/TableTools.js')}"></script>
	<script src="{!URLFOR($Resource.DataTables, 'media/js/ColumnFilterWidgets.js')}"></script>
	
	
<apex:define name="body">
<apex:form >
	    <apex:outputpanel >
            <apex:actionstatus id="status">
                <apex:facet name="start">
                    <div class="SpinnerpopupBackground"/> 
                    <div class="SpinnercustPopup">
                        <img src="{!$Resource.AjaxSpinner}" width="50" height="50" />
                    </div>
                </apex:facet>
            </apex:actionstatus>
        </apex:outputpanel>
		<apex:outputPanel id="procPanel">
		<apex:messages style="list-style-type: none; color: red;"/>
		<apex:pageBlock title="New Procedure - {!caseType.Description__c}" id="procedureBlock">
			<apex:pageBlockButtons location="bottom">
				 <apex:actionStatus id="mySaveStatus1">
					<apex:facet name="stop">
					<apex:commandButton action="{!createProcedure}" status="status" value="Update Record" disabled="false" rerender="procPanel, tstpopup2"/>
					</apex:facet>
					<apex:facet name="start">
					<apex:commandButton action="{!createProcedure}" status="mySaveStatus1" value="Processing..." disabled="true"/> 
					</apex:facet>
				</apex:actionStatus>
			</apex:pageBlockButtons>
			<apex:pageBlockSection columns="2" collapsible="true">
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="Procedure Date"/>
<!-- 					<apex:inputField id="procDate" value="{!tempOpportunity.CloseDate}" tabOrderHint="1"/> -->
					<apex:inputField id="procDate" value="{!tempOpportunity.CloseDate}" onmouseover="initialiseCalendar(this, '{!$Component.procDate}')" tabOrderHint="1"/>
				</apex:pageBlockSectionItem>
				<apex:pageBlockSectionItem >

				</apex:pageBlockSectionItem>
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="First Name"/>
					<apex:outputPanel layout="block" styleclass="requiredInput">
					<apex:outputPanel layout="block" styleclass="requiredBlock"></apex:outputPanel>
					<apex:inputField id="patFirstname" value="{!patient.First_Name__c}" tabOrderHint="2"/>
					</apex:outputPanel>
				</apex:pageBlockSectionItem>
				<apex:pageBlockSectionItem >	
						<apex:outputLabel value="Primary Surgeon"/>
						<apex:outputPanel layout="block" styleclass="requiredInput">
						<apex:outputPanel layout="block" styleclass="requiredBlock"></apex:outputPanel>
						<apex:selectList id="surgeonPicklist" value="{!surgeonName}" label="Surgeon" multiselect="false" size="1" tabindex="131">
				            <apex:selectOptions value="{!surgeonNames}"/>
							<apex:actionSupport event="onchange" action="{!SelectSurgeon}" rerender="tstpopup, jspanel"/>
						</apex:selectList>
						</apex:outputPanel>
				</apex:pageBlockSectionItem>					
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="Last Name"/>
					<apex:outputPanel layout="block" styleclass="requiredInput">
					<apex:outputPanel layout="block" styleclass="requiredBlock"></apex:outputPanel>
					<apex:inputField id="patLastname" value="{!patient.Last_Name__c}" tabOrderHint="3"/>
					</apex:outputPanel>
				</apex:pageBlockSectionItem>
				<apex:pageBlockSectionItem >	
					
				</apex:pageBlockSectionItem>		
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="Preferred Language"/>
					<apex:inputField id="patLanguage" value="{!patient.Language__c}" tabOrderHint="4"/>
				</apex:pageBlockSectionItem>
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="Primary Diagnosis"/>
					<apex:outputPanel layout="block" styleclass="requiredInput">
					<apex:outputPanel layout="block" styleclass="requiredBlock"></apex:outputPanel>
					<apex:inputField id="cdPrimaryDiagnosis" value="{!clinicalData.Primary_Diagnosis__c}" tabOrderHint="14"/>
					</apex:outputPanel>
				</apex:pageBlockSectionItem>
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="Medical Record Number"/>
					<apex:outputPanel layout="block" styleclass="requiredInput">
					<apex:outputPanel layout="block" styleclass="requiredBlock"></apex:outputPanel>
					<apex:inputField id="patLanguage" value="{!patient.Medical_Record_Number__c}" tabOrderHint="5"/>
					</apex:outputPanel>
				</apex:pageBlockSectionItem>
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="Secondary Diagnosis"/>
					<apex:inputField id="cdSecondaryDiagnosis" value="{!clinicalData.Secondary_Diagnosis__c}" tabOrderHint="15"/>
				</apex:pageBlockSectionItem>				
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="Account Number"/>
					<apex:inputField id="patAcctNumber" value="{!patient.Account_Number__c}" tabOrderHint="6"/>
				</apex:pageBlockSectionItem>	
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="Date of Birth"/>
					<apex:outputPanel layout="block" styleclass="requiredInput">
					<apex:outputPanel layout="block" styleclass="requiredBlock"></apex:outputPanel>
<!-- 					<apex:inputField id="patDOB" value="{!patient.Date_Of_Birth__c}" tabOrderHint="16"/> -->
					<apex:inputField id="patDOB" value="{!patient.Date_Of_Birth__c}" onmouseover="initialiseCalendar(this, '{!$Component.patDOB}')" tabOrderHint="16"/>
					</apex:outputPanel>
				</apex:pageBlockSectionItem>
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="SSN"/>
					<apex:inputField id="patSSN" value="{!patient.SSN__c}" tabOrderHint="7"/>
				</apex:pageBlockSectionItem>
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="Procedure Laterality"/>
					<apex:outputPanel layout="block" styleclass="requiredInput">
					<apex:outputPanel layout="block" styleclass="requiredBlock"></apex:outputPanel>
					<apex:inputField id="cdLaterality" value="{!clinicalData.Laterality__c}" tabOrderHint="17"/>
					</apex:outputPanel>
				</apex:pageBlockSectionItem>				
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="Gender"/>
					<apex:outputPanel layout="block" styleclass="requiredInput">
					<apex:outputPanel layout="block" styleclass="requiredBlock"></apex:outputPanel>
					<apex:inputField id="patGender" value="{!patient.Gender__c}" tabOrderHint="8"/>
					</apex:outputPanel>
				</apex:pageBlockSectionItem>	
                <!-- No longer allowing allergies to be editable -->
				<apex:pageBlockSectionItem >
					<!-- <apex:outputLabel value="Allergies"/>
					<apex:inputField id="cdAllergies" value="{!clinicalData.Allergy__r.Name}" tabOrderHint="14"/>-->
				</apex:pageBlockSectionItem>
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="Race"/>
					<apex:inputField id="patRace" value="{!patient.Race__c}" tabOrderHint="9"/>
				</apex:pageBlockSectionItem>	
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="Anesthesia"/>
					<apex:inputField id="cdAnesthesia" value="{!clinicalData.Anesthesia_Type__c}" tabOrderHint="18"/>
				</apex:pageBlockSectionItem>
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="Height"/>
					<apex:outputPanel >
						<apex:inputField id="cdHeight" value="{!clinicalData.Height__c}" tabOrderHint="10">
							<apex:actionSupport event="onchange" action="{!CalculateBMI}" rerender="procPanel" focus="heightUOM"/>
						</apex:inputField>
						<apex:inputField id="heightUOM" value="{!clinicalData.Height_UOM__c}" tabOrderHint="11">
							<apex:actionSupport event="onchange" action="{!ChangeHeightUOM}" rerender="procPanel" focus="cdWeight"/>
						</apex:inputField>
					</apex:outputPanel>
				</apex:pageBlockSectionItem>
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="Patient Consent"/>
					<apex:inputField id="cdPatientConsent" value="{!clinicalData.Patient_Consent_Obtained__c}" tabOrderHint="19"/>
				</apex:pageBlockSectionItem>	
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="Weight"/>
					<apex:outputPanel >
						<apex:inputField id="cdWeight" value="{!clinicalData.Weight__c}" tabOrderHint="12">
							<apex:actionSupport event="onchange" action="{!CalculateBMI}" rerender="procPanel" focus="weightUOM"/>
						</apex:inputField>
						<apex:inputField id="weightUOM" value="{!clinicalData.Weight_UOM__c}" tabOrderHint="13">
							<apex:actionSupport event="onchange" action="{!ChangeWeightUOM}" rerender="procPanel" focus="surgeonPicklist"/>
						</apex:inputField>
					</apex:outputPanel>
				</apex:pageBlockSectionItem>
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="BMI"/>
					<apex:outputText id="textBMI" value="{!calculatedBMI}"/>
				</apex:pageBlockSectionItem>	
		
			</apex:pageBlockSection>		
		</apex:pageBlock>
 	</apex:outputPanel>
	<apex:outputPanel id="tstpopup2">
    	<apex:outputPanel styleClass="popupBackground" layout="block" rendered="{!displayPatientCheckPopUp}"/>
        <apex:outputPanel styleClass="custPopup" layout="block" rendered="{!displayPatientCheckPopUp}">
			<apex:pageBlock title="Possible Match Found">
				<apex:pageblockSection title="Would you like to create a new Patient for this Procedure or attach the procedure to the existing Patient?">
					<apex:outputField value="{!matchedPatient.First_Name__c}"/>
					<apex:outputField value="{!matchedPatient.Last_Name__c}"/>
					<apex:outputField value="{!matchedPatient.SSN__c}"/>
					<apex:outputField value="{!matchedPatient.Date_Of_Birth__c}"/>
					<apex:outputField value="{!matchedPatient.Race__c}"/>
					<apex:outputField value="{!matchedPatient.Medical_Record_Number__c}"/>
				</apex:pageblockSection>
			</apex:pageBlock>
			<div style="margin-right:auto; margin-left:0px; position:relative; float:left;">
	        	<apex:commandButton value="Create New Patient" action="{!CreateNewPatient}" onclick="this.parentNode.parentNode.parentNode.style.display = 'none';" status="status" rerender="tstpopup2, procedureBlock"/>
				<apex:commandButton value="Attach to Existing" action="{!UpdateExistingPatient}" onclick="this.parentNode.parentNode.parentNode.style.display = 'none';" status="status" rerender="tstpopup2, procedureBlock"/>
			</div>
			<div style="margin-left:auto; margin-right:0px; position:relative; float:right;">
				<apex:commandButton value="Cancel" action="{!closePopup}" rerender="tstpopup2, procedureBlock"/>	
			</div>
		</apex:outputPanel>
	</apex:outputPanel>
    <apex:outputPanel id="tstpopup">
    <apex:outputPanel styleClass="popupBackground" layout="block" rendered="false"/> <!--rendered="{!displayPopUp}"-->
        <apex:outputPanel styleClass="custPopup" layout="block" rendered="false"> <!--rendered="{!displayPopUp}"-->
            	<apex:pageBlock >
		<apex:pageBlockSection columns="3">
			<apex:pageBlockSectionItem >
				<apex:outputLabel value="Last Name"/>
				<apex:outputPanel layout="block" styleclass="requiredInput">
				<apex:outputPanel layout="block" styleclass="requiredBlock"></apex:outputPanel>
				<apex:inputText value="{!searchLastName}" label="Last Name"/>
				</apex:outputPanel>
			</apex:pageBlockSectionItem>
			<apex:pageBlockSectionItem >
				<apex:outputLabel value="State"/>
				<apex:outputPanel layout="block" styleclass="requiredInput">
				<apex:outputPanel layout="block" styleclass="requiredBlock"></apex:outputPanel>
				<apex:selectList id="statePicklist" value="{!searchState}" label="State:" multiselect="false" size="1">
		            <apex:selectOptions value="{!states}"/>
			    </apex:selectList>
				</apex:outputPanel>
			</apex:pageBlockSectionItem>
			<apex:commandButton action="{!getSurgeons}" value="Search" reRender="debugPanel, jspanel, hiddenblock" status="searchStatus"/><br/>
			<apex:actionStatus id="searchStatus" onstart="loading(true)" onstop="loading(false)" />
		</apex:pageBlockSection>
		<apex:outputPanel id="hiddenblock">
		<apex:messages style="list-style-type: none; color: red;"/>
		</apex:outputPanel>
		<div id="contentLoading" style="display:none;">
		    <div style="text-align: center;">
		      <apex:image url="{!$Resource.AjaxSpinner}" width="50" height="50"/>
		    </div>
		</div>
		<apex:outputPanel id="debugPanel" style="overflow:scroll;height:250px;">
			<div id="contentLoaded" style="display:block;">
			<table cellpadding="0" cellspacing="0" border="0" class="display" id="patientlist" style="margin-top:20px; margin-bottom:20px;">			
			<thead>
				<tr>
					<th></th>
					<th>NPI</th>
					<th>Name</th>
					<th>Specialty</th>
				</tr>
			</thead>

<tfoot>
				<tr>
					<th></th>
					<th>NPI</th>
					<th>Name</th>
					<th>Specialty</th>
				</tr>
</tfoot>

			<tbody>
<apex:repeat value="{!surgeonLines}" var="surgeon">
					<tr>
						<td>
							<apex:commandLink action="{!AddSurgeon}" value="Add" status="searchStatus" reRender="debugPanel, jspanel, hiddenblock, tstpopup, procedureBlock">
								<apex:param name="surgeonNPI" value="{!surgeon.npi}" assignTo="{!newSurgeonNPI}"/>
								<apex:param name="surgeonLastName" value="{!surgeon.last_name}" assignTo="{!newSurgeonLastName}"/>
								<apex:param name="surgeonFirstName" value="{!surgeon.first_name}" assignTo="{!newSurgeonFirstName}"/>
							</apex:commandLink>
						</td>
						<td>{!surgeon.npi}</td>
						<td>{!surgeon.last_name} , {!surgeon.first_name}</td>
						<td>{!surgeon.Description}</td>
					</tr>
                 </apex:repeat>
</tbody>
		</table>
		</div>
		</apex:outputPanel>
		</apex:pageBlock>
				<br/><br/>
		<div style="margin-left:auto; margin-right:0px; position:relative; float:right;">
        <apex:commandButton value="Cancel" action="{!closePopup}" rerender="tstpopup, procedureBlock"/>	
		</div>
        </apex:outputPanel>
    </apex:outputPanel>

</apex:form>

		<apex:outputPanel id="jspanel">
		<script type="text/javascript" charset="UTF-8">
		var jq$ = jQuery.noConflict();
		jq$(document).ready( function () {
			var oTable = jq$('#patientlist').dataTable( {
				"bFilter": false,
				"iDisplayLength": 10,
				"aLengthMenu": [[10, 20, 50, 100, -1], [10, 20, 50, 100, "All"]],
				"sDom": 'WRC<"clear">lftip',
				"bJQueryUI": true,
				"bRetrieve": true,
				"sPaginationType": "full_numbers",
				"aoColumnDefs": [ { "bSearchable": false, "aTargets": [ 0, 1, 2, 3] }],
				"aoColumnDefs": [ { "bVisible": false, "aTargets": [ ] }],
				"oColumnFilterWidgets": { "aiExclude": [ 0, 1, 2, 3] },
				"aaSorting": [[2,'asc']],
			});
			
			jq$("#procedureslist_filter input").keyup( function () {
				/* Filter on the column (the index) of this element */
				oTable.fnFilter( this.value, jq$("#patientlist_filter input").index(0) );
			} );
			jq$('#patientlist_length').css("display", "none");
		});
		</script>
		</apex:outputPanel>
	</apex:define>
</apex:page>