<apex:page standardController="c2g__codaInvoice__c"  showHeader="false" sidebar="false" standardStylesheets="false"  renderas="{!if($CurrentPage.parameters.p == null, null, 'pdf')}">

        <!-- Sales Invoice reference for the following VF markup  -->
        <apex:variable var="salesInvoice" value="{!c2g__codaInvoice__c}"/>

        <!-- ************************* BEGIN COPY / PASTE HERE ******************************** -->

       <!-- Customizations 8-13-13
       Bill and Ship Address carriage breaks
       remove tax code and tax value columns
       remove Tax Summary and Settlement Discounts tables
       done 8-14-13
       change label Customer Reference to Customer PO
       add column FOB Origin to the right of Customer PO

       customization 8-22-13
       Add Item column next to Product column

       8-18-14
       Removed Ship Address
       -->

        <!-- Styles -->
        <apex:variable var="styleFontColor"                         value="#000000" />
        <apex:variable var="styleHeaderBGColor"                     value="#E4EAF4" />
        <apex:variable var="styleHeaderFontColor"                   value="#000000" />
        <apex:variable var="styleLineColor"                         value="#3B5E91" />
        <head>
            <style type="text/css">
                body,td,th, h1 {
                font-family:Verdana, Arial, Helvetica, sans-serif;
                font-size:7.5pt;
                color:{!styleFontColor};
                }

                .header table{
                width:100%;
                border-collapse:collapse;
                }

                .header table h1{
                font-size:20px;
                font-weight:700;
                text-transform:uppercase;
                text-align:right;
                margin:0;
                }

                .email table{
                width:100%;
                border-collapse:collapse;
                margin-bottom:10px;
                }

                .email table.tableSummary{
                width:250px;
                }

                .email table.tableDescription{
                width:68%;
                margin-top:10px;
                margin-bottom:5px;
                }

                .email table.noBottomMargin{
                margin-bottom:0px;
                }

                .email table.tableTaxSummary, .email table.tableAdditional {
                margin-top:10px;
                margin-bottom:0px;
                }

                .email table h1{
                font-size:20px;
                font-weight:700;
                text-transform:uppercase;
                text-align:right;
                margin:0;
                }

                .email table td,
                .email table th{
                padding:5px;
                }
                .email table th{
                background-color:{!styleHeaderBGColor};
                color:{!styleHeaderFontColor};
                }

                .email table th.nobg{
                background-color:transparent;
                color:{!styleFontColor};
                }

                .email table td.noPadding{
                padding:0px;
                }
                .email table td.noPaddingLeft{
                padding-left:0px;
                }

                .email table td.alignTop{
                vertical-align:top;
                }

                .email table .textAlignLeft{
                text-align:left;
                }
                .email table .textAlignCenter{
                text-align:center;
                }
                .email table .textAlignRight{
                text-align:right;
                }

                .email table.boxed{
                border-left:1px solid {!styleLineColor};
                border-top:1px solid {!styleLineColor};
                }

                .email table.boxed th, .email table.boxed td{
                border-left:1px solid {!styleLineColor};
                border-top:1px solid {!styleLineColor};
                }

                .email table.boxedNoTop{
                border-top:none;
                border-left:none;
                }

                .email table.boxedNoBottom{
                border-bottom:none;
                }

                .email table.boxedNoTop td.boxedNoTop{
                border-top:none ;
                }

                .email table.boxed th{
                border-right:1px solid {!styleLineColor};
                border-bottom:1px solid {!styleLineColor};
                }

                .email table.boxed th.noLines{
                border-right:1px solid {!styleLineColor};
                border-left:none;
                border-top:none;
                border-bottom:none;
                }

                .email table.boxed td{
                border-right:1px solid {!styleLineColor};
                border-bottom:1px solid {!styleLineColor};
                }

                .email table.boxed td.widthLineNumbers{width:15pt;}
                .email table.boxed td.widthSmall{width:45pt;}
                .email table.boxed td.widthMedium{width:75pt;}

                .widthMedium{width:75pt;}

                .email table.boxed td span.description{
                font-size:85%;
                font-style:italic;
                display:block;
                }

                .boxedtop {
                border-top:1px solid {!styleLineColor};
                }

                .boxed {
                border-left:1px solid {!styleLineColor};
                border-right:1px solid {!styleLineColor};
                border-bottom:1px solid {!styleLineColor};
                }

                table { page-break-inside:auto }
                tr    { page-break-inside:avoid; page-break-after:auto }

                @page {
                    @bottom-right {content:"Page " counter(page) " of " counter(pages);
                               font-family:Verdana, Arial, Helvetica, sans-serif;
                               font-size:7.5pt;
                               font-weight:bold;
                               padding-bottom;25px;
                  }
                }
              </style>
        </head>

        <!-- RECORD TYPE -->
        <apex:variable var="taxType" value="{!salesInvoice.c2g__OwnerCompany__r.RecordType.Name}"/>

        <!-- LABEL VARIABLES -->

        <!-- Invoice Title -->
        <apex:variable var="lblInvoice"                     value="INVOICE" />

        <!-- Company info -->
        <apex:variable var="lblPhone"                       value="Phone: " />
        <apex:variable var="lblFax"                         value="Fax: " />
        <apex:variable var="lblVATRegistrationNumber"       value="VAT Registration Number: " />

        <!-- Invoice Header -->
        <apex:variable var="lblBillingAddress"              value="Billing Address" />
        <apex:variable var="lblInvoiceGroup"                value="Invoice Group" />
        <apex:variable var="lblInvoiceNumber"               value="Invoice Number" />
        <apex:variable var="lblInvoiceDate"                 value="Invoice Date" />
        <apex:variable var="lblCustomerNumber"              value="Customer ID" />
        <apex:variable var="lblCustomerVATNumber"           value="Customer Vat Number" />
        <apex:variable var="lblCustomerReference"           value="Customer PO" />
        <apex:variable var="lblFOBOrigin"                   value="FOB Origin" />
        <apex:variable var="lblShippingMethod"              value="Shipping Method" />
        <apex:variable var="lblInvoiceCurrency"             value="Currency" />
        <apex:variable var="lblDueDate"                     value="Due Date" />
        <apex:variable var="lblShipDate"                    value="Ship Date" />
        <apex:variable var="lblTerms"                       value="Terms" />
        <apex:variable var="lblSalesRep"                    value="Sales Rep" />

        <!-- Payment Schedule -->
        <apex:variable var="lblPaymentSchedules"            value="Payment Schedule" />
        <apex:variable var="lblPaymentSchedulesDueDate"     value="Due Date" />
        <apex:variable var="lblPaymentSchedulesAmount"      value="Amount" />

        <!-- Invoice Description -->
        <apex:variable var="lblInvoiceDescription"          value="Invoice Description" />

        <!-- Invoice Lines -->
        <apex:variable var="lblItemName"                    value="Product #" />
        <apex:variable var="lblProductName"                 value="Product Name" />
        <apex:variable var="lblProductCode"                 value="Product Description" />
        <apex:variable var="lblQuantity"                    value="Quantity" />
        <apex:variable var="lblListPrice"                   value="List Price" />
        <apex:variable var="lblUnitPrice"                   value="Unit Price" />
        <apex:variable var="lblTaxCode"                     value="Tax Code" />
        <apex:variable var="lblTaxValue"                    value="Tax Value" />
        <apex:variable var="lblNetValue"                    value="Line Total" />
        <apex:variable var="lblSerialNumber"                value="Serial Number" />

        <!-- Invoice Total -->
        <apex:variable var="lblInvoiceNetTotal"             value="Net Total" />
        <apex:variable var="lblInvoiceTaxTotal"             value="Tax Total" />
        <apex:variable var="lblInvoiceTotal"                value="Invoice Total" />

        <!-- Tax Summary -->
        <apex:variable var="lbltaxsummary"                   value="Tax Summary" />
        <apex:variable var="lbltaxRate"                      value="Tax Rate" />
        <apex:variable var="lblnetValue"                    value="Line Total" />
        <apex:variable var="lbltaxValue"                    value="Tax Value" />
        <apex:variable var="lblproductCode"                 value="Product Code" />

        <!-- Discount Summary -->
        <apex:variable var="lblsettlementdiscounts"      value="Settlement Discounts" />
        <apex:variable var="lblpaymentdate"              value="Payment Date" />
       <!-- <apex:variable var="lblValue"                    value="Total Savings" />   -->

        <!-- Currency Symbol -->
        <apex:variable var="invoiceCurrencySymbol" value=""/>
        <apex:variable var="invoiceFormat0dp" value=""/>
        <apex:variable var="invoiceFormat2dp" value=""/>
        <ffbext:currencysymbol iso="{!salesInvoice.c2g__InvoiceCurrency__r.Name}" symbolVar="invoiceCurrencySymbol" />

        <div class="header">

            <!-- LOGO -->
            <table>
                <tr>
                    <td>
                        <apex:outputPanel rendered="{!salesInvoice.c2g__OwnerCompany__r.c2g__LogoURL__c != ''}">
                            <img src="{!salesInvoice.c2g__OwnerCompany__r.c2g__LogoURL__c}"/>
                        </apex:outputPanel>
                    </td>
                    <td>
                        <h1>{!lblInvoice}</h1>
                    </td>
                </tr>
            </table>

            <!-- COMPANY DETAILS -->
            <table style="margin-left:5px">
                <tr>
                    <td>
                        <div>
                            <apex:outputText value="{!salesInvoice.c2g__OwnerCompany__r.c2g__Street__c},&nbsp;" rendered="{!salesInvoice.c2g__OwnerCompany__r.c2g__Street__c!=''}" escape="false"/>
                            <apex:outputText value="{!salesInvoice.c2g__OwnerCompany__r.c2g__City__c},&nbsp;" rendered="{!salesInvoice.c2g__OwnerCompany__r.c2g__City__c!=''}" escape="false"/>
                            <apex:outputText value="{!salesInvoice.c2g__OwnerCompany__r.c2g__StateProvince__c},&nbsp;" rendered="{!salesInvoice.c2g__OwnerCompany__r.c2g__StateProvince__c!=''}" escape="false"/>
                            <apex:outputText value="{!salesInvoice.c2g__OwnerCompany__r.c2g__ZipPostCode__c},&nbsp;" rendered="{!salesInvoice.c2g__OwnerCompany__r.c2g__ZipPostCode__c!=''}" escape="false"/>
                            <apex:outputText value="{!salesInvoice.c2g__OwnerCompany__r.c2g__Country__c}" rendered="{!salesInvoice.c2g__OwnerCompany__r.c2g__Country__c!=''}" escape="false"/>
                        </div>
                        <div>
                            <apex:outputText value="{!lblPhone}{!salesInvoice.c2g__OwnerCompany__r.c2g__Phone__c}&nbsp;" rendered="{!salesInvoice.c2g__OwnerCompany__r.c2g__Phone__c!=''}" escape="false"/>
                            <apex:outputText value="{!lblFax}{!salesInvoice.c2g__OwnerCompany__r.c2g__Fax__c}" rendered="{!salesInvoice.c2g__OwnerCompany__r.c2g__Fax__c!=''}" escape="false"/>
                        </div>
                        <div>
                            <apex:outputText value="{!lblVATRegistrationNumber}{!salesInvoice.c2g__OwnerCompany__r.c2g__ECCountryCode__c}{!salesInvoice.c2g__OwnerCompany__r.c2g__VATRegistrationNumber__c}" rendered="{!taxType=='VAT'}" escape="false"/>
                        </div>
                        <div>
                            <apex:outputText value="{!salesInvoice.c2g__OwnerCompany__r.c2g__Website__c}" rendered="{!salesInvoice.c2g__OwnerCompany__r.c2g__Website__c!=''}" escape="false"/>
                        </div>
                        <div>
                            <apex:outputText value="{!salesInvoice.c2g__OwnerCompany__r.c2g__ContactEmail__c}" rendered="{!salesInvoice.c2g__OwnerCompany__r.c2g__ContactEmail__c!=''}" escape="false"/>
                        </div>
                        <div>
                            <apex:outputText value="&nbsp;" escape="false"/>
                        </div>
                        <div>
                            <apex:outputText value="&nbsp;" escape="false"/>
                        </div>
                    </td>
                </tr>
            </table>

        </div>

        <div class="email">

            <!-- INVOICE ADDRESS AND INFORMATION-->
            <table>
                <tr>
                    <th class="nobg textAlignLeft">{!lblBillingAddress}</th>
                    <!-- <th class="nobg textAlignLeft">{!lblShippingAddress}</th>  -->
                    <td rowspan="2" class="alignTop">

                        <!-- SUT -->
                        <apex:outputPanel rendered="{!taxType=='SUT'}" layout="none">
                            <table  class="boxed">
                                <tr>
                                    <th class="textAlignRight">{!lblInvoiceNumber}</th>
                                    <td>{!salesInvoice.Name}</td>
                                </tr>
                                <tr>
                                    <th class="textAlignRight">{!lblInvoiceDate}</th>
                                    <td>
                                        <apex:outputText value="{0,date,MM/dd/yyyy}">
                                            <apex:param value="{!salesInvoice.c2g__InvoiceDate__c}"/>
                                        </apex:outputText>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="textAlignRight">{!lblCustomerNumber}</th>
                                    <td>{!salesInvoice.Account_Number__c}</td>
                                </tr>
                            </table>
                        </apex:outputPanel>

                        <!-- VAT -->
                        <apex:outputPanel rendered="{!taxType=='VAT'}" layout="none">
                            <apex:outputPanel rendered="{!salesInvoice.c2g__InvoiceGroup__r.Name!=''}">
                                <table class="boxed">
                                    <tr>
                                        <th class="textAlignRight">{!lblInvoiceGroup}</th>
                                        <td>{!salesInvoice.c2g__InvoiceGroup__r.Name}</td>
                                    </tr>
                                    <tr>
                                        <th class="textAlignRight">{!lblInvoiceNumber}</th>
                                        <td>{!salesInvoice.Name}</td>
                                    </tr>
                                    <tr>
                                        <th class="textAlignRight">{!lblInvoiceDate}</th>
                                        <td>
                                            <apex:outputText value="{0,date,dd/MM/yyyy}">
                                                <apex:param value="{!salesInvoice.c2g__InvoiceDate__c}"/>
                                            </apex:outputText>
                                        </td>
                                    </tr>
                                    <tr>
                                    <th class="textAlignRight">{!lblCustomerNumber}</th>
                                    <td>{!salesInvoice.Account_Number__c}</td>
                                </tr>
                                    <tr>
                                        <th class="textAlignRight">{!lblCustomerVATNumber}</th>
                                        <td>
                                            <apex:outputText value="{!salesInvoice.c2g__Account__r.c2g__CODAECCountryCode__c}{!salesInvoice.c2g__Account__r.c2g__CODAVATRegistrationNumber__c}" rendered="{!salesInvoice.c2g__Account__r.c2g__CODAVATRegistrationNumber__c!=''}"/>
                                        </td>
                                    </tr>
                                </table>
                            </apex:outputPanel>
                            <apex:outputPanel rendered="{!salesInvoice.c2g__InvoiceGroup__r.Name == ''}">
                                <table class="boxed">
                                    <tr>
                                        <th class="textAlignRight">{!lblInvoiceNumber}</th>
                                        <td>{!salesInvoice.Name}</td>
                                    </tr>
                                    <tr>
                                        <th class="textAlignRight">{!lblInvoiceDate}</th>
                                        <td>
                                            <apex:outputText value="{0,date,dd/MM/yyyy}">
                                                <apex:param value="{!salesInvoice.c2g__InvoiceDate__c}"/>
                                            </apex:outputText>
                                        </td>
                                    </tr>
                                    <tr>
                                    <th class="textAlignRight">{!lblCustomerNumber}</th>
                                    <td>{!salesInvoice.Account_Number__c}</td>
                                </tr>
                                    <tr>
                                        <th class="textAlignRight">{!lblCustomerVATNumber}</th>
                                        <td>
                                            <apex:outputText value="{!salesInvoice.c2g__Account__r.c2g__CODAECCountryCode__c}{!salesInvoice.c2g__Account__r.c2g__CODAVATRegistrationNumber__c}" rendered="{!salesInvoice.c2g__Account__r.c2g__CODAVATRegistrationNumber__c!=''}"/>
                                        </td>
                                    </tr>
                                </table>
                            </apex:outputPanel>
                        </apex:outputPanel>
                    </td>
                </tr>
                <tr>
                    <td class="alignTop">
                        <p>
                            <apex:outputText rendered="{!salesInvoice.c2g__Account__r.Name!=''}" escape="false">
                                {!salesInvoice.c2g__Account__r.Name}<br/>
                            </apex:outputText>
                            <apex:outputText rendered="{!salesInvoice.c2g__Account__r.BillingStreet!=''}" escape="false">
                                {!salesInvoice.c2g__Account__r.BillingStreet}<br/>
                            </apex:outputText>
                            <apex:outputText rendered="{!salesInvoice.c2g__Account__r.BillingCity!=', '}" escape="false">
                                {!salesInvoice.c2g__Account__r.BillingCity}
                            </apex:outputText>
                            <apex:outputText rendered="{!salesInvoice.c2g__Account__r.BillingState!=' '}" escape="false">
                                {!salesInvoice.c2g__Account__r.BillingState}
                            </apex:outputText>
                            <apex:outputText rendered="{!salesInvoice.c2g__Account__r.BillingPostalCode!=''}" escape="false">
                                {!salesInvoice.c2g__Account__r.BillingPostalCode}<br/>
                            </apex:outputText>
                            <apex:outputText rendered="{!salesInvoice.c2g__Account__r.BillingCountry!=''}" escape="false">{!salesInvoice.c2g__Account__r.BillingCountry}</apex:outputText>
                        </p>
                    </td>
                   <!-- <td class="alignTop">
                       <p>
                            <apex:outputText rendered="{!salesInvoice.c2g__Account__r.Name!=''}" escape="false">
                                {!salesInvoice.c2g__Account__r.Name}<br/>
                            </apex:outputText>
                            <apex:outputText rendered="{!salesInvoice.c2g__Account__r.ShippingStreet!=''}" escape="false">
                                {!salesInvoice.c2g__Account__r.ShippingStreet}<br/>
                            </apex:outputText>
                            <apex:outputText rendered="{!salesInvoice.c2g__Account__r.ShippingCity!=', '}" escape="false">
                                {!salesInvoice.c2g__Account__r.ShippingCity}
                            </apex:outputText>
                            <apex:outputText rendered="{!salesInvoice.c2g__Account__r.ShippingState!=' '}" escape="false">
                                {!salesInvoice.c2g__Account__r.ShippingState}
                            </apex:outputText>
                            <apex:outputText rendered="{!salesInvoice.c2g__Account__r.ShippingPostalCode!=''}" escape="false">
                                {!salesInvoice.c2g__Account__r.ShippingPostalCode}<br/>
                            </apex:outputText>
                            <apex:outputText rendered="{!salesInvoice.c2g__Account__r.ShippingCountry!=''}" escape="false">{!salesInvoice.c2g__Account__r.ShippingCountry}</apex:outputText>
                        </p>
                    </td> -->
                </tr>
            </table>

            <!-- INVOICE DETAILS -->
            <table class="boxed">
                <tr>
                    <th class="textAlignCenter">{!lblCustomerReference}</th>
                    <th class="textAlignCenter">{!lblSalesRep}</th>
                    <th class="textAlignCenter">{!lblShipDate}</th>
                    <th class="textAlignCenter">{!lblFOBOrigin}</th>
                    <th class="textAlignCenter">{!lblShippingMethod}</th>
                    <th class="textAlignCenter">{!lblInvoiceCurrency}</th>
                    <th class="textAlignCenter">{!lblTerms}</th>
                    <th class="textAlignCenter">{!lblDueDate}</th>
                </tr>
                <tr>
                    <td class="textAlignCenter">{!salesInvoice.Customer_PO_Number__c}</td>
                    <td class="textAlignCenter">{!salesInvoice.SCM_Sales_Representative__c}</td>
                    <td class="textAlignCenter">
                        <apex:outputText value="{0,date,M/d/yyyy}">
                            <apex:param value="{!salesInvoice.Ship_Date__c}"/>
                        </apex:outputText>
                    </td>
                    <td class="textAlignCenter">{!salesInvoice.SCM_FOB__c}</td>
                    <td class="textAlignCenter">{!salesInvoice.c2g__ShippingMethod__c}</td>
                    <td class="textAlignCenter">{!salesInvoice.c2g__InvoiceCurrency__r.Name}</td>
                    <td class="textAlignCenter">{!salesInvoice.Terms__c}</td>
                    <td class="textAlignCenter">
                        <apex:outputText value="{!salesInvoice.c2g__PaymentSchedule__c}" rendered="{!salesInvoice.c2g__PaymentSchedule__c!=''}"/>
                        <apex:outputPanel rendered="{!salesInvoice.c2g__PaymentSchedule__c==''}">
                            <apex:outputText value="{0,date,M/d/yyyy}" rendered="{!taxType=='SUT'}">
                                <apex:param value="{!salesInvoice.c2g__DueDate__c}"/>
                            </apex:outputText>

                            <apex:outputText value="{0,date,d/M/yyyy}" rendered="{!taxType=='VAT'}">
                                <apex:param value="{!salesInvoice.c2g__DueDate__c}"/>
                            </apex:outputText>
                        </apex:outputPanel>
                    </td>
                </tr>
            </table>

            <!-- As the following fields are not directly or explicitly referenced elsewhere,
                 the following hidden, but explicit references are needed to ensure they are loaded -->
            <apex:repeat value="{!salesInvoice.c2g__InvoiceLineItems__r}" var="line" rendered="false">
                <apex:outputText rendered="false">
                {!line.c2g__LineNumber__c} {!line.c2g__Product__r.Name} {!line.c2g__Product__r.ProductCode} {!line.Item_Description__c}
                {!line.c2g__Quantity__c} {!line.List_Price__c}{!line.c2g__UnitPrice__c} {!line.c2g__NetValue__c} {!line.c2g__TaxValueTotal__c}
                {!line.c2g__TaxCode1__c} {!line.c2g__TaxCode2__c} {!line.c2g__TaxCode3__c}
                {!line.c2g__TaxRate1__c} {!line.c2g__TaxRate2__c} {!line.c2g__TaxRate3__c}
                {!line.c2g__TaxCode1__r.Name} {!line.c2g__TaxCode2__r.Name} {!line.c2g__TaxCode3__r.Name}
                {!line.c2g__TaxValue1__c}{!line.c2g__TaxValue2__c}{!line.c2g__TaxValue3__c}{!line.SCMFFA__Item_Name__c}
                {!line.Serial_Number__c}{!line.SCMFFA__Item_Name__r.Name}
                </apex:outputText>
            </apex:repeat>

            <apex:repeat value="{!salesInvoice.c2g__InvoiceInstallmentLineItems__r}" var="line" rendered="false">
                <apex:outputText rendered="false">
                {!line.c2g__LineNumber__c} {!line.c2g__DueDate__c} {!line.c2g__Amount__c}
                </apex:outputText>
            </apex:repeat>

            <!-- INVOICE LINES -->
            <apex:variable var="lineNumber" value="{!0}" />
            <ffbext:salesinvoicelinesorter salesInvoice="{!salesInvoice}" var="line" styleClass="boxed noBottomMargin">
                <apex:variable var="lineNumber" value="{!lineNumber+1}" />
                <apex:outputText rendered="{!lineNumber==1}">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th class="textAlignCenter">{!lblItemName}</th>
                            <th class="textAlignCenter">{!lblProductCode}</th>
                            <th class="textAlignCenter">{!lblSerialNumber}</th>
                            <th class="textAlignCenter">{!lblQuantity}</th>
                            <th class="textAlignRight">{!lblListPrice}</th>
                            <th class="textAlignRight">{!lblUnitPrice}</th>
                            <!--
                            <th class="textAlignCenter">{!lblTaxCode}</th>
                            <th class="textAlignRight">{!lblTaxValue}</th>
                            -->
                            <th class="textAlignRight widthMedium">{!lblnetValue}</th>
                        </tr>
                    </thead>
                </apex:outputText>
                <tr>
                    <td>
                        <apex:outputText value="{0,number,0}">
                             <apex:param value="{!line.c2g__LineNumber__c}"/>
                        </apex:outputText>
                    </td>


      <!--    We'll want to show only one column for Item or Product before finalizing this invoice, e.g.
      {! IF((ISBLANK(SCMFFA__Item_Name__c)), Product_r.Name, SCMFFA__Item_Name__c) }
      not sure what line description field needs to come from SCM yet
      -->
                    <td> {!line.SCMFFA__Item_Name__r.Name} </td>
                    <td>

                        <span class="description">{!line.Item_Description__c}</span>
                        <ffbext:salesinvoicecustomfield salesInvoice="{!salesInvoice}" headerFields="false" lineId="{!line.Id}" customFieldsVar="CustomFields1">
                            <apex:repeat value="{!CustomFields1}" var="customField">
                                <span class="description">{!customField.fieldName}: {!customField.fieldValue}</span>
                            </apex:repeat>
                         </ffbext:salesinvoicecustomfield>
                    </td>


                    <td>{!line.Serial_Number__c} </td>


                    <td class="textAlignRight">
                        <apex:outputText value="{0,number,0}">
                             <apex:param value="{!line.c2g__Quantity__c}"/>
                        </apex:outputText>
                    </td>
                    <td class="textAlignRight widthMedium">
                        <apex:outputText value="{0,number,#,###,###,###,###,##0.00}">
                             {!invoiceCurrencySymbol}<apex:param value="{!line.List_Price__c}"/>
                        </apex:outputText>
                    </td>
                    <td class="textAlignRight widthMedium">
                        <apex:outputText value="{0,number,#,###,###,###,###,##0.00}">
                             {!invoiceCurrencySymbol}<apex:param value="{!line.c2g__UnitPrice__c}"/>
                        </apex:outputText>
                    </td>
                    <apex:outputText rendered="{!taxType=='SUT'}">
                        <!--
                        <td>
                            {!line.c2g__TaxCode1__r.Name}
                        </td>
                        <td class="textAlignRight">
                            <apex:outputText value="{0,number,#,###,###,###,###,##0.00}">
                                {!invoiceCurrencySymbol}<apex:param value="{!line.c2g__TaxValueTotal__c}"/>
                            </apex:outputText>
                        </td>
                        -->
                        <td class="textAlignRight">
                            <apex:outputText value="{0,number,#,###,###,###,###,##0.00}">
                                {!invoiceCurrencySymbol}<apex:param value="{!line.c2g__NetValue__c}"/>
                            </apex:outputText>
                       </td>
                    </apex:outputText>
                    <apex:outputText rendered="{!taxType=='VAT'}">
                        <td>
                            {!line.c2g__TaxCode1__r.Name}
                        </td>
                        <td class="textAlignRight">
                            <apex:outputText value="{0,number,#,###,###,###,###,##0.00}">
                                {!invoiceCurrencySymbol}<apex:param value="{!line.c2g__TaxValueTotal__c}"/>
                            </apex:outputText>
                        </td>
                        <td class="textAlignRight widthMedium">
                            <apex:outputText value="{0,number,#,###,###,###,###,##0.00}">
                                {!invoiceCurrencySymbol}<apex:param value="{!line.c2g__NetValue__c}"/>
                            </apex:outputText>
                       </td>

                    </apex:outputText>
                </tr>
            </ffbext:salesinvoicelinesorter>

            <table>
                <tr>


                    <td class="noPadding">
                        <!-- Tax Summary -->

                       <!--
                        <ffbext:salesinvoicetaxtotals salesInvoice="{!salesInvoice}" summariesVar="TaxSummaries">
                            <apex:dataTable value="{!TaxSummaries}" var="TaxSummary" styleClass="boxed tableTaxSummary" headerClass="textAlignCenter">
                                <apex:facet name="header">{!lbltaxsummary}</apex:facet>
                                <apex:column headerClass="textAlignCenter widthMedium"  styleClass="alignTop textAlignCenter widthMedium">
                                    <apex:facet name="header">{!lblTaxCode}</apex:facet>
                                    <apex:outputText >
                                        {!TaxSummary.taxCode}
                                    </apex:outputText>
                                </apex:column>

                                <apex:column headerClass="textAlignCenter widthMedium" styleClass="alignTop textAlignCenter widthMedium" rendered="{!taxType=='VAT'}">
                                    <apex:facet name="header">{!lbltaxRate}</apex:facet>
                                    <apex:outputText >
                                        {!TaxSummary.taxRate}
                                    </apex:outputText>
                                </apex:column>

                                <apex:column headerClass="textAlignCenter widthMedium" styleClass="alignTop textAlignCenter widthMedium" rendered="{!taxType=='VAT'}">
                                    <apex:facet name="header">{!lblnetValue}</apex:facet>
                                    <apex:outputText value="{0,number,#,###,###,###,###,###.00}">
                                        {!invoiceCurrencySymbol}<apex:param value="{!TaxSummary.netValue}"/>
                                    </apex:outputText>
                                </apex:column>

                                <apex:column headerClass="textAlignCenter widthMedium" styleClass="alignTop textAlignCenter widthMedium">
                                    <apex:facet name="header">{!lbltaxValue}</apex:facet>
                                    <apex:outputText value="{0,number,#,###,###,###,###,##0.00}">
                                        {!invoiceCurrencySymbol}<apex:param value="{!TaxSummary.taxValue}"/>
                                    </apex:outputText>
                                </apex:column>
                            </apex:dataTable>
                        </ffbext:salesinvoicetaxtotals>
                        -->
                    </td>

                    <!-- Summary Values -->
                    <td class="alignTop noPadding">
                        <table class="boxed boxedNoTop boxedNoBottom">
                            <tr>
                                <th class="nobg noLines textAlignRight">{!lblInvoiceNetTotal}</th>
                                <td class="textAlignRight widthMedium boxedNoTop" style="width:100px">
                                    <apex:outputText value="{0,number,#,###,###,###,###,###.00}">
                                        {!invoiceCurrencySymbol}<apex:param value="{!salesInvoice.c2g__NetTotal__c}"/>
                                    </apex:outputText>
                                </td>
                            </tr>
                            <tr>
                                <th class="nobg noLines textAlignRight">{!lblInvoiceTaxTotal}</th>
                                <td class="textAlignRight widthMedium">
                                    <apex:outputText value="{0,number,#,###,###,###,###,##0.00}">
                                        {!invoiceCurrencySymbol}<apex:param value="{!salesInvoice.c2g__TaxTotal__c}"/>
                                    </apex:outputText>
                                </td>
                            </tr>
                            <tr>
                                <th class="nobg noLines textAlignRight"><b>{!lblInvoiceTotal}</b></th>
                                <td class="textAlignRight widthMedium">
                                    <apex:outputText value="{0,number,#,###,###,###,###,###.00}" style="font-weight:bold; font-size:8pt;">
                                        {!invoiceCurrencySymbol}<apex:param value="{!salesInvoice.c2g__InvoiceTotal__c}"/>
                                    </apex:outputText>
                                </td>
                            </tr>
                           <!-- <tr>
                                <th class="nobg noLines textAlignRight">{!lblValue}</th>
                                <td class="textAlignRight widthMedium">
                                    <apex:outputText value="{0,number,#,###,###,###,###,###.00}">
                                        {!invoiceCurrencySymbol}<apex:param value="{!salesInvoice.Total_Savings__c}"/>
                                    </apex:outputText>
                                </td>
                           </tr>   -->
                        </table>
                    </td>
                </tr>
            </table>

           <!-- Discount Summary -->

           <!--
           <ffbext:salesinvoicediscount transId="{!salesInvoice.c2g__Transaction__c}" anyValueVar="anyValue" discountSummariesVar="DiscountSummaries">
                    <table class="tableDescription">
                        <tr>
                            <td class="noPadding">
                                    <apex:dataTable value="{!DiscountSummaries}" var="DiscountSummary"  styleClass="boxed noBottomMargin textAlignCenter" headerClass="textAlignCenter">
                                        <apex:facet name="header">{!lblsettlementdiscounts}</apex:facet>
                                        <apex:column headerClass="textAlignCenter" styleClass="alignTop textAlignCenter widthMedium">
                                            <apex:facet name="header">{!lblpaymentdate}</apex:facet>
                                                <apex:outputText value="{0,date,dd/MM/yyyy}">
                                                    <apex:param value="{!DiscountSummary.discountDate}"/>
                                                </apex:outputText>
                                        </apex:column>

                                        <apex:column headerClass="textAlignCenter" styleClass="alignTop textAlignCenter widthMedium" >
                                            <apex:facet name="header">{!lblValue}</apex:facet>
                                            <apex:outputText value="{0,number,#,###,###,###,###,##0.00}">
                                                {!invoiceCurrencySymbol}<apex:param value="{!DiscountSummary.discountValue}"/>
                                            </apex:outputText>
                                        </apex:column>
                                    </apex:dataTable>
                            </td>
                        </tr>
                    </table>
           </ffbext:salesinvoicediscount>
           -->

            <!-- PAYMENT SCHEDULES -->
            <apex:outputPanel rendered="{!salesInvoice.c2g__PaymentSchedule__c!=''}" layout="block">
                <ffbext:salesinvoiceschedulelinesorter salesInvoice="{!salesInvoice}" var="line" >
                    <table class="tableDescription">
                        <tr>
                            <td class="noPadding">
                                <apex:dataTable value="{!line}" var="installmentLineItem" styleClass="boxed" headerClass="textaligncenter" style="width:40%">
                                    <apex:facet name="header">{!lblPaymentSchedules}</apex:facet>

                                    <apex:column styleClass="textAlignCenter" headerClass="textaligncenter">
                                        <apex:facet name="header">&nbsp;</apex:facet>
                                        <apex:outputText value="{0,number,0}">
                                            <apex:param value="{!installmentLineItem.c2g__LineNumber__c}"/>
                                        </apex:outputText>
                                    </apex:column>

                                    <apex:column headerClass="textaligncenter">
                                        <apex:facet name="header">
                                            {!lblPaymentSchedulesDueDate}
                                        </apex:facet>
                                        <apex:outputText value="{0,date,M/d/yyyy}" rendered="{!taxType=='SUT'}">
                                            <apex:param value="{!installmentLineItem.c2g__DueDate__c}"/>
                                        </apex:outputText>
                                        <apex:outputText value="{0,date,d/M/yyyy}" rendered="{!taxType=='VAT'}">
                                            <apex:param value="{!installmentLineItem.c2g__DueDate__c}"/>
                                        </apex:outputText>
                                    </apex:column>

                                    <apex:column styleClass="textAlignRight"  headerClass="textaligncenter">
                                        <apex:facet name="header">
                                            <apex:outputPanel >{!lblPaymentSchedulesAmount}</apex:outputPanel>
                                        </apex:facet>
                                        <apex:outputText value="{0,number,#,###,###,###,###,###.00}">
                                            {!invoiceCurrencySymbol}<apex:param value="{!installmentLineItem.c2g__Amount__c}"/>
                                        </apex:outputText>
                                    </apex:column>
                                </apex:dataTable>
                               </td>
                        </tr>
                    </table>
                </ffbext:salesinvoiceschedulelinesorter>
                </apex:outputPanel>

            <!-- Custom Fields -->
            <div class="hspacer"></div>
            <apex:outputpanel >
                <ffbext:salesinvoicecustomfield salesInvoice="{!salesInvoice}" headerFields="true" customFieldsVar="CustomFields2">
                    <table style="width:405px" class="boxed tableAdditional">
                        <tr>
                            <th colspan="2" style="headerpadding rightline aligncenter">Additional Information</th>
                        </tr>
                        <apex:repeat value="{!CustomFields2}" var="customField">
                            <tr>
                              <td style="alignleft bottomline boxed boxedtop">{!customField.fieldName}</td>
                              <td style="alignleft bottomline boxed boxedtop">{!customField.fieldValue}</td>
                            </tr>
                        </apex:repeat>
                    </table>
                 </ffbext:salesinvoicecustomfield>
            </apex:outputpanel>

            <!-- Description -->
            <apex:outputPanel rendered="{!salesInvoice.c2g__InvoiceDescription__c!=''}" layout="block">
                <table class="boxed tableDescription">
                    <tr>
                        <th class="textAlignLeft">{!lblInvoiceDescription}</th>
                    </tr>

                    <tr>
                        <td>{!salesInvoice.c2g__InvoiceDescription__c}</td>
                    </tr>
                </table>
            </apex:outputPanel>

            <!-- Printed Text  -->
            <table class="tableDescription">
                    <ffbext:salesinvoicetext salesInvoice="{!salesInvoice}" textSummariesVar="TextSummaries">
                            <apex:repeat value="{!TextSummaries}" var="textSummary">
                                <tr>
                                    <th style="width:68%" class="boxed boxedtop" >{!textSummary.textHeader}</th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="boxed" style="width:68%">
                                            <apex:outputText escape="false" value="{!textSummary.textValue}"/>
                                        </td>
                                    <td></td>
                                </tr>
                                </apex:repeat>
                     </ffbext:salesinvoicetext>
                </table>

            <br/>
            <div class="boxed boxedtop" style="width:200px;height:13px;text-align:center;padding:5px;display:block;margin-left:auto;margin-right:auto;">
                <b>Thank You for your Business!</b>
            </div>

        </div>

        <!-- As the following fields are not directly or explicitly referenced elsewhere,
             the following hidden, but explicit references are needed to ensure they are loaded -->
        <apex:outputText rendered="false">
        {!salesInvoice.c2g__TaxCode2__c}
        {!salesInvoice.c2g__Transaction__c}
        {!salesInvoice.c2g__PrintedText1Heading__c}
        {!salesInvoice.c2g__PrintedText1Text__c}
        {!salesInvoice.c2g__PrintedText2Heading__c}
        {!salesInvoice.c2g__PrintedText2Text__c}
        {!salesInvoice.c2g__PrintedText3Heading__c}
        {!salesInvoice.c2g__PrintedText3Text__c}
        {!salesInvoice.c2g__PrintedText4Heading__c}
        {!salesInvoice.c2g__PrintedText4Text__c}
        {!salesInvoice.c2g__PrintedText5Heading__c}
        {!salesInvoice.c2g__PrintedText5Text__c}
        {!salesInvoice.c2g__InvoiceInstallmentLineItems__r}
        </apex:outputText>

        <!-- ************************* END COPY / PASTE HERE ******************************** -->

</apex:page>