<apex:page controller="SCMC.PicklistControllerExtension" sidebar="false" renderas="PDF">
<apex:stylesheet value="{!URLFOR($Resource.SCMC__SCM_Resources, 'styles/formsStyles.css')}" />
	<c:SCMPackslip controllerExtension="{!extension}" picklistId="{!itemId}" />
	<apex:repeat value="{!extensionList}" var="i">
		<div style="page-break-before:always;"></div>
		<c:SCMPackslip controllerExtension="{!i}" picklistId="{!itemId}" />
 	</apex:repeat>
</apex:page>