<div class="modal-header">
    <button type="button" class="btn btn-os close" aria-label="Close" ng-click="$ctrl.cancel()">
        <i class="icon icon-close"></i>
    </button>
    <h4 class="modal-title">{{$ctrl.title}}</h4>
</div>
<div class="modal-body">
    <form class="form-horizontal" name="pageForm">
        <div class="row">
            <fieldset>
                <div class="form-group" ng-class="{ 'has-error' : pageForm.hospital.$invalid && pageForm.submitted}" ng-if="$ctrl.isUserAdmin">
                    <label for="hospital" class="col-sm-4 control-label  required">Hospital</label>
                    <div class="col-sm-6">
                        <div class="select">
                            <select id="hospital" ng-model="$ctrl.hospital" required="true" name="hospital" ng-options="hospital.name for hospital in $ctrl.hospitals track by hospital.id" >
                                </select>
                        </div>
                        <!-- / .select -->
                        <div ng-messages="pageForm.hospital.$error" ng-if="pageForm.submitted">
                            <p class="help-block" ng-message="required"><i class="fa fa-exclamation-triangle"></i> Hospital selection is required.</p>
                        </div>
                    </div>
                    <!-- / .col-sm-8 -->
                </div>
                <!-- / .form-group -->
                <div class="form-group" ng-if="!$ctrl.isUserAdmin">
                    <div class="text-center">
                        <h4 ng-model="$ctrl.hospital">{{$ctrl.hospital.Name}} </h4>
                    </div>
                </div>
                <div class="form-group" ng-show="$ctrl.hospital && $ctrl.practices.length>0">
                    <label for="practice" class="col-sm-4 control-label">Practice</label>
                    <div class="col-sm-6">
                        <div class="select">
                            <select id="practice" ng-model="$ctrl.practice" required="true" name="practice">
                                    <option value="">Not Selected</option>
                                    <option ng-repeat="practice in $ctrl.practices | filter: {ParentId:$ctrl.hospital.id}" value="{{practice.id}}">{{practice.name}}</option>
                                </select>
                        </div>
                        <!-- / .select -->
                    </div>
                    <!-- / .col-sm-8 -->
                </div>
                <!-- / .form-group -->
            </fieldset>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-os btn-os-primary" ng-click="$ctrl.cancel()">
        <span>Cancel</span>
    </button>
    <button type="button" class="btn btn-os btn-os-default ladda-button" data-style="zoom-in" data-spinner-color="White" ng-click="$ctrl.setHospitalFilter()">
        <span>Set</span>
    </button>
    <script>Ladda.bind('.modal-footer button');</script>
</div>