<span class="pull-right" ng-if="$ctrl.isHospital">                                    
                <select ng-options="surgeon.name for surgeon in $ctrl.surgeons"                                        
                    name="surgeon" ng-model="surgeon" value = "surgeon" 
                    ng-disabled="practice == 'All'"
                    class="form-control input-sm" placeholder="Surgeon"
                    ng-change="$ctrl.getSurgeonPracticeActivity(surgeon.id)">                                    
                </select>
                </span>
<span class="pull-right" ng-if="$ctrl.isHospital">                                    
                <select ng-options="practice.Name for practice in $ctrl.practices"                                        
                    name="practice" ng-model="practice" value = "practice"
                    class="form-control input-sm" placeholder="Practice"
                    ng-change="$ctrl.getPracticeActivity(practice.id)">                                    
                </select>
                </span>