<div class="modal-header">
    <button type="button" class="btn btn-os close" aria-label="Close" ng-click="$ctrl.cancel()">
        <i class="icon icon-close"></i>
    </button>
    <h4 class="modal-title">New Note</h4>
</div>
<div class="modal-body" style="margin:25px;">    
    <form class="form-horizontal">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">Title</span>
                <input type="text" class="form-control" ng-model="$ctrl.caseTitle"/>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">Note</span>
                <textarea class="form-control" rows="5" ng-model="$ctrl.caseNote"></textarea>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-os btn-os-primary" ng-click="$ctrl.cancel()">
        <span>Cancel</span>
    </button>
    <button type="button" class="btn btn-os btn-os-default ladda-button" data-style="zoom-in" 
            data-spinner-color="white" ng-click="$ctrl.addNote()">
        <span>Save</span>
    </button>
</div>
<script>Ladda.bind('.modal-footer button');</script>