<section>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">Doctors</div>
        </div>

        <div class="panel-body">
            <table class="table table-striped table-responsive table-condensed">
                <thead>
                    <tr>
                        <th>Last Name</th>
                        <th>First Name</th>
                        <th>ID</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Jones</td>
                        <td>Jerry</td>
                        <td>100921</td>
                    </tr>
                    <tr>
                        <td>John</td>
                        <td>Farker</td>
                        <td>100921</td>
                    </tr>
                    <tr>
                        <td>Garcia</td>
                        <td>Jerry</td>
                        <td>1000801</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

