<!-- PATIENT-DETAILS-HEADER -->

<button class="btn btn-os navigation-action" ui-sref="patientList">
    <i class="glyphicon glyphicon-chevron-left"></i>
</button>


<!-- / .patient-details -->
<style>
	#header #view-header .drawer.open {
		height: 60px;
	}
</style>

<os-patient-detail-info></os-patient-detail-info>