<div class="panel panel-default dashboard-card">
    <div class="panel-heading">
        <div class="panel-title">
            <!--<span ng-show="$ctrl.isUserAdmin">{{$ctrl.title}}</span>-->
        </div>
    </div>
    <div class="panel-body">

        <div class="row">
            <nvd3 options="$ctrl.options" data="$ctrl.chartData" api="api" interactive="false"></nvd3>
        </div>
    </div>
</div>
