<div class="modal-header">
	<h4 class="modal-title">Survey Link</h4>
</div>
<div class="modal-body">
	<!--<qrcode version="10" data="{{surveyURL}}" error-correction-level="L" size="400"></qrcode>-->
	<div class="text-center">
		<qrcode version="10" data="{{vm.surveyURL}}" error-correction-level="L" size="360"></qrcode>
	</div>
	<div class="col-sm-12 text-center">
		<div style="padding-top:12px;">
			<a href="{{vm.surveyURL}}" target="_blank" style="font-size:1.4em;">Link to Survey</a>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-os btn-os-primary" ng-click="vm.close()">Close</button>
</div>